<% content_for :title do %>Programme n°<%= @programme.numero %> | ANACO
<% end %>
<main>
  <div class="fr-container">
    <h1 class="fr-mt-6w fr-mb-2w">Programme n°<%= @programme.numero %> <br> <%= @programme.nom %></h1>

    <p class="fr-mb-1v">Mission : <%= @programme.mission.nom %></p>
    <p class="fr-mb-1w">Ministère : <%= @programme.ministere.nom %> </p>
    <div class="fr-mb-1w">
      <p class="fr-badge fr-badge--sm fr-badge--purple-glycine"><%= @programme.user.nom %></p>
      <p class="fr-badge fr-badge--sm fr-badge--blue-ecume">Doté en <%= @programme.dotation %></p>
      <% if @programme.statut == 'Inactif' %><p class="fr-badge fr-badge--sm"><%= @programme.statut %></p>
      <% end %>
    </div>


    <div class="fr-h3">Nous sommes en phase de <%= @phase %></div>

    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-lg-4" data-controller="toggle">
        <nav class="fr-sidemenu fr-sidemenu--sticky-full-height" aria-labelledby="fr-sidemenu-title">
          <div class="fr-sidemenu__inner">
            <button class="fr-sidemenu__btn" hidden aria-controls="fr-sidemenu-wrapper" aria-expanded="false">
              Dans cette rubrique
            </button>
            <div class="fr-collapse" id="fr-sidemenu-wrapper">
              <div class="fr-sidemenu__title" id="fr-sidemenu-title">Sections</div>
              <ul class="fr-sidemenu__list">
                <% if !@programme.bops.empty? %>
                  <li class="fr-sidemenu__item">
                    <button class="fr-sidemenu__btn" aria-expanded="false" aria-controls="fr-sidemenu-item-0" data-action="click->toggle#updateAriaCurrent" data-toggle-target="nav" aria-current="true">
                      <%= link_to avis_programme_path(@programme), data: { turbo_frame: :show } do %>
                        Synthèse au niveau BOP
                      <% end %>
                    </button>
                    <div class="fr-collapse" id="fr-sidemenu-item-0">
                      <ul class="fr-sidemenu__list">
                        <li class="fr-sidemenu__item">
                          <button class="fr-sidemenu__link" data-toggle-id="chiffres" data-action="click->toggle#changeMenuSection">
                            Données budgétaires
                          </button>
                        </li>
                        <li class="fr-sidemenu__item">
                          <button class="fr-sidemenu__link" data-toggle-id="statistiques" data-action="click->toggle#changeMenuSection">
                            Statistiques
                          </button>
                        </li>
                        <li class="fr-sidemenu__item">
                          <button class="fr-sidemenu__link" data-toggle-id="liste" data-action="click->toggle#changeMenuSection">Liste
                            des BOP
                          </button>
                        </li>
                      </ul>
                    </div>
                  </li>
                <% end %>
                <li class="fr-sidemenu__item">
                  <%= link_to last_schema_programme_path(@programme), data: { turbo_frame: :show, action: 'click->toggle#updateAriaCurrent', 'toggle-target': 'nav' }, class: "fr-sidemenu__btn", aria: { current: @programme.bops.empty? } do %>
                    Schémas de fin de gestion
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <div class="fr-col-12 fr-col-lg-8">
        <%= turbo_frame_tag :show, target: "_top", src: @programme.bops.empty? ? last_schema_programme_path(@programme) : avis_programme_path(@programme) %>
      </div>
    </div>
  </div>
</main>