<%= turbo_frame_tag :show do %>
  <div class="fr-h2">Nous sommes en phase de <%= @phase %> <%= @annee %></div>
  <div class="fr-mb-2w">
    <ul class="fr-tags-group">
      <% (2023..Date.today.year).to_a.each do |annee| %>
        <li>
          <%= link_to avis_programme_path(@programme, date: annee), data: { turbo_frame: :show }, class: "fr-tag", 'aria-pressed' => (@annee_a_afficher == annee ? 'true' : 'false') do %>
            <%= annee %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <% phases = display_phases(@annee_a_afficher, @annee, @date_crg1, @date_crg2, @date_debut) %>

  <h3 class="fr-mt-3w" id="chiffres">Données budgétaires <%= @annee_a_afficher %></h3>
  <div class="fr-tabs fr-mb-4w">
    <ul class="fr-tabs__list" role="tablist" aria-label="Données budgétaires">
      <% phases.each_with_index do |phase, index| %>
        <li role="presentation">
          <button id="tabpanel-<%= index %>" class="fr-tabs__tab" tabindex="<%= index == 0 ? "0" : "-1" %>" role="tab" aria-selected="<%= index == 0 %>" aria-controls="tabpanel-<%= index %>-panel">
            <span class="fr-capitalize"><%= phase %></span>
          </button>
        </li>
      <% end %>
    </ul>
    <% phases.each_with_index do |phase, index| %>
      <div id="tabpanel-<%= index %>-panel" class="fr-tabs__panel <%= index == 0 ? 'fr-tabs__panel--selected' : '' %>" role="tabpanel" aria-labelledby="tabpanel-<%= index %>" tabindex="0">
        <% if phase == 'services votés' %>
          <%= render partial: "avis/synthese_chiffres", locals: { avis: sum_chiffres_avis(@avis, phase)[4..7], avis_sd: sum_chiffres_avis(@avis_cbr, phase)[4..7], titre: 'prév.', class_active: 'fr-card--orange' } %>
        <% else %>
          <% avis_ecart = sum_chiffres_avis(@avis, phase)[0..3].zip(sum_chiffres_avis(@avis, phase)[4..7]).map { |u, v| u - v } %>
          <% avis_ecart_cbr = sum_chiffres_avis(@avis_cbr, phase)[0..3].zip(sum_chiffres_avis(@avis_cbr, phase)[4..7]).map { |u, v| u - v } %>
          <div class="fr-mt-2w">
            <%= render partial: "avis/synthese_chiffres", locals: { avis: sum_chiffres_avis(@avis, phase)[0..3], avis_sd: sum_chiffres_avis(@avis_cbr, phase)[0..3], titre: 'alloué', class_active: 'fr-card--green' } %>
          </div>
          <%= render partial: "avis/synthese_chiffres", locals: { avis: sum_chiffres_avis(@avis, phase)[4..7], avis_sd: sum_chiffres_avis(@avis_cbr, phase)[4..7], titre: 'prév.', class_active: 'fr-card--orange' } %>

          <%= render partial: "avis/synthese_chiffres", locals: { avis: avis_ecart, avis_sd: avis_ecart_cbr, titre: 'Ecart', class_active: 'fr-card--blue' } %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="fr-h2" id="restitutions">Restitutions</div>
  <% bops_actifs_count = bops_actifs(@bops, @annee_a_afficher).count %>
  <div class="fr-mb-4w" data-controller="highcharts" data-highcharts-avis="<%= avis_repartition(@avis, bops_actifs_count) %>" data-highcharts-avisdate="<%= avis_date_repartition(@avis, bops_actifs_count, @annee_a_afficher) %>" data-highcharts-notesbar="<%= statut_bop_repartition(@avis, bops_actifs_count, @annee_a_afficher) %>">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-lg-6">
        <div data-highcharts-target="canvasAvisDate"></div>
      </div>
      <div class="fr-col-12 fr-col-lg-6">
        <div data-highcharts-target="canvasNotesBar"></div>
      </div>
    </div>
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-lg-6">
        <div data-highcharts-target="canvasAvis"></div>
      </div>
    </div>
  </div>

  <div class="fr-h2" id="bops">Liste des BOP</div>
  <div class="fr-mb-2w">
    <%= link_to avis_programme_path(@programme, date: @annee_a_afficher, format: :xlsx), data: { "turbo_target": "_top" }, class: "fr-link fr-link--download" do %>
      Télécharger l'ensemble des avis <%= @annee_a_afficher %>
      <span class="fr-link__detail">XLSX</span>
    <% end %>
  </div>

  <div class="fr-accordions-group fr-mb-4w">
    <% @bops.each do |bop| %>
      <% avis_bop = get_avis_for_bop(['début de gestion', 'CRG1', 'CRG2'], bop, @avis) %>
      <% avis_bop_sv = @avis.select { |avis| avis.bop_id == bop.id && avis.phase == 'services votés' } %>
      <% last_avis_bop_sv = avis_bop_sv.max_by(&:created_at) %>
      <section class="fr-accordion">
        <h3 class="fr-accordion__title">
          <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-<%= bop.id %>">
            BOP n°<%= bop.code %>
            <% if bop.dotation == "aucune" %>
              <p class="fr-badge fr-badge--no-icon fr-ml-2w">BOP inactif</p>
            <% else %>
              <% if last_avis_bop_sv %>
                <p class="<%= badge_class_for_statut(last_avis_bop_sv.statut) %> fr-ml-2w"><%= last_avis_bop_sv.phase %></p>
              <% end %>
              <% avis_bop.each do |avis| %>
                <% unless avis.nil? %>
                  <p class="<%= badge_class_for_statut(avis.statut) %> fr-ml-2w"><%= avis.phase %></p>
                  <% if avis.phase == "début de gestion" && avis.is_crg1 == false %>
                    <p class="fr-badge fr-badge--no-icon fr-ml-2w">PAS DE CRG1</p>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </button>
        </h3>
        <div class="fr-collapse" id="accordion-<%= bop.id %>">
          <div class="fr-mb-2w"><%= link_to bop_path(bop) do %> BOP <%= bop.code %> : <%= bop.user.nom %><% end %></div>
          <p class="fr-tag fr-mb-2w fr-hidden"><%= bop.user.nom %></p>
          <ul class="fr-btns-group fr-btns-group--inline">
            <li>
              <% avis_bop_sv.each do |avis| %>
                <a href="<%= avi_path(avis) %>" data-turbo-frame="modal" class="fr-btn" data-fr-opened="false" aria-controls="modal-1">
                  Avis <%= avis.phase %> n°<%= numero_avis_services_votes(avis, avis_bop_sv) %>
                </a>
              <% end %>
              <% avis_bop.each_with_index do |avis, index| %>
                <% if avis.nil? %>
                  <% if index == 0 || index == 2 %>
                    <button class="fr-btn" disabled><%= index == 0 ? 'Avis début de gestion' : 'Note CRG2' %></button>
                  <% elsif index == 1 %>
                    <% if avis_bop.first.nil? || avis_bop.first.is_crg1? %>
                      <button class="fr-btn" disabled>Note CRG1</button>
                    <% end %>
                  <% end %>
                <% else %>
                  <a href="<%= avi_path(avis) %>" data-turbo-frame="modal" class="fr-btn" data-fr-opened="false" aria-controls="modal-1">
                    <%= index == 0 ? 'Avis' : 'Note' %> <%= avis.phase %>
                  </a>

                <% end %>
              <% end %>
            </li>
          </ul>
        </div>
      </section>
    <% end %>
  </div>

  <dialog id="modal-1" class="fr-modal">
    <%= turbo_frame_tag :modal, target: "_top" %>
  </dialog>
<% end %>

