<div class="fr-container">
  <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button " aria-expanded="false" aria-controls="breadcrumb-1" title="voir le fil d'ariane">Voir
      le fil d’Ariane
    </button>
    <div class="fr-collapse" id="breadcrumb-1">
      <ol class="fr-breadcrumb__list">
        <li>
          <%= link_to root_path, class: "fr-breadcrumb__link" do %> Accueil
          <% end %>
        </li>
        <li>
          <%= link_to remplissage_avis_path, class: "fr-breadcrumb__link" do %> Remplissage des avis/notes
          <% end %>
        </li>
        <li>
          <a class="fr-breadcrumb__link" aria-current="page">Dotation du bop</a>
        </li>
      </ol>
    </div>
  </nav>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-12">
      <h1>BOP n°<%= @bop.code %></h1>
    </div>
  </div>
  <div data-controller="form">
    <%= form_with(url: bop_path(@bop), method: :patch, data: { 'form-target': "form", action: "change->form#formChange" }) do |f| %>
      <div class="fr-grid-row fr-grid-row--gutters fr-mb-4w">
        <div class="fr-col-12 fr-col-lg-4">
          <div class="fr-select-group">
            <label for="dotation" class="fr-label">Dotation du BOP*
              <span class="fr-hint-text">Si le BOP est non doté, il n'y aura alors pas d'avis sur celui-ci et sera considéré comme un BOP inactif.</span></label>
            <%= f.select :dotation, [["- sélectionner -", ""], ['BOP doté en HT2 et T2', 'HT2 et T2'], ['BOP doté uniquement en HT2', 'HT2'], ['BOP doté uniquement en T2', 'T2'], ['BOP non doté', 'aucune']], { selected: @bop.dotation }, { data: { 'form-target': 'fieldRequire' }, class: "fr-select", id: "dotation" } %>
          </div>
          <div><%= f.submit "Valider et continuer", class: "fr-btn", data: { 'form-target': "Btnvalidate" }, aria: { label: "Valider et continuer" } %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>