<% if !bops.nil? %>
  <% bops.each do |bop|%>
    <tr>
      <td><%= link_to bop_path(bop[5]) do%><%= bop[0]%><%end %></td>
      <td><% if bop[1].nil? %><p class="fr-badge fr-badge--sm">non renseigné</p>
        <%elsif bop[1] == "aucune" %><p class="fr-badge fr-badge--sm fr-badge--pink-tuile">inactif</p>
        <%elsif bop[1] == "complete" %><p class="fr-badge fr-badge--sm fr-badge--purple-glycine">T2/HT2 </p>
        <%elsif bop[1] == "T2" %><p class="fr-badge fr-badge--sm fr-badge--yellow-tournesol">T2</p>
        <%elsif bop[1] == "HT2"%><p class="fr-badge fr-badge--sm fr-badge--brown-caramel">HT2</p><%end %></td>
      <td><%= bop[2] %> - <%= bop[3] %></td>
      <td><%= bop[4] %></td>
    </tr>
  <% end %>
<%end %>