<% content_for :title do %>BOP et avis | Anaco <% end %>
<% if current_user.statut == "admin" %>
  <%= render 'index_db' %>
<%else %>
<div class="fr-container">
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-12">
      <h1 class="fr-mt-6w fr-mb-2w">Liste des <%= @liste_bops.length%> BOP</h1>
      <h2 class='fr-h3'>Nous sommes en phase de <%= @phase %></h2>
      <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
        <div class="fr-col-lg-1 fr-col-2"><%= image_tag "artwork/pictograms/document/document-download.svg", alt: "" %></div>
        <div class="fr-col-lg-11 fr-col-10">
          <div class="fr-text--lg fr-mt-1w">Les avis et notes CRG complets et adressés aux ordonnateurs sont à déposer sur Resana dans le dossier vous concernant.<br>
            <a href='https://resana.numerique.gouv.fr/public/perimetre/consulter/277653' target="_blank" class="fr-link fr-link--lg fr-icon-arrow-right-line fr-link--icon-right">Cliquez ici pour y accéder</a></div>
        </div>
      </div>

      <% if flash.any? %>
        <% flash.each do |type, msg| %>
          <% if msg == "suppression" %>
            <div class="fr-alert fr-alert--success fr-mb-2w">
              <h3 class="fr-alert__title">Votre BOP a bien été enregistré comme BOP non doté. Il est désormais à retrouver dans la liste des BOP inactifs et les avis associés (brouillon ou validés) sont supprimés.</h3>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>


<div class="fr-tabs fr-mb-2w">
    <ul class="fr-tabs__list" role="tablist" aria-label="Onglets BOP actifs et archivés">
        <li role="presentation">
            <button id="tabpanel-1177" class="fr-tabs__tab fr-icon-checkbox-circle-line fr-tabs__tab--icon-left" tabindex="0" role="tab" aria-selected="true" aria-controls="tabpanel-1177-panel">BOP actifs (<%= @liste_bops_actifs.length %>)</button>
        </li>
      <li role="presentation">
        <button id="tabpanel-1178" class="fr-tabs__tab fr-icon-checkbox-circle-line fr-tabs__tab--icon-left" tabindex="-1" role="tab" aria-selected="false" aria-controls="tabpanel-1178-panel">BOP inactifs (<%= @liste_bops_inactifs.length %>)</button>
      </li>
    </ul>
    <div id="tabpanel-1177-panel" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel" aria-labelledby="tabpanel-1177" tabindex="0">
        <p class="fr-h3">Il vous reste <%=pluralize(@count_reste, 'avis/note')%> à rédiger</p>      
        <% @liste_bops_actifs.each do |bop|%>
          <% etat_debut = @liste_avis_par_bop.select { |el| el[0] == bop[0] && el[2] == "début de gestion"} %>
          <% etat_crg1 = @liste_avis_par_bop.select { |el| el[0] == bop[0] && el[2] == "CRG1"} %>
          <% etat_crg2 = @liste_avis_par_bop.select { |el| el[0] == bop[0] && el[2] == "CRG2"} %>
          <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
            <div class="fr-col-lg-2 fr-col-12"><ul><li><%= link_to bop_path(bop[0]) do%>BOP <%= bop[1]%><%end%></li></ul></div>
            
            <div class="fr-col-lg-3 fr-col-4">
                <% if etat_debut.empty? %><p class="fr-badge fr-badge--warning fr-badge--no-icon"><span class="fr-icon-edit-fill fr-icon--sm" aria-hidden="true"></span>Avis début de gestion</p>
                <% elsif etat_debut[0][1] == "Brouillon"%><p class="fr-badge fr-badge--new fr-badge--no-icon">Brouillon</p>
                <%elsif etat_debut[0][1] != "Brouillon"%><p class="fr-badge fr-badge--info fr-badge--no-icon"><span class="fr-icon-checkbox-circle-fill fr-icon--sm" aria-hidden="true"></span>Avis début de gestion</p>
                <%end%></div>

            <div class="fr-col-lg-2 fr-col-4">
              <% if etat_debut.empty? || etat_debut[0][1] == "Brouillon" || ( Date.today < @date1 && etat_debut[0][3] == true )%>
                <p class="fr-badge"><span class="fr-icon-git-repository-private-fill fr-icon--sm" aria-hidden="true"></span>Note CRG1</p>
              <% elsif @date1 < Date.today && etat_debut[0][3] == true %>
                <% if etat_crg1.empty? %>
                  <p class="fr-badge fr-badge--warning fr-badge--no-icon"><span class="fr-icon-edit-fill fr-icon--sm" aria-hidden="true"></span>Note CRG1</p>
                <%elsif etat_crg1[0][1] != "Brouillon"%>
                  <p class="fr-badge fr-badge--info fr-badge--no-icon"><span class="fr-icon-checkbox-circle-fill fr-icon--sm" aria-hidden="true"></span>Note CRG1</p>
                <% elsif etat_crg1[0][1] == "Brouillon"%>
                  <p class="fr-badge fr-badge--new fr-badge--no-icon">Brouillon</p>
                <%end%>
              <% end %>
            </div>

            <div class="fr-col-lg-2 fr-col-4">
              <% if Date.today <= @date2 || etat_debut.empty?  || etat_debut[0][1] == "Brouillon" || (etat_debut[0][3] == true && (etat_crg1.empty? || etat_crg1[0][1] == "Brouillon"))%>
                <p class="fr-badge"><span class="fr-icon-git-repository-private-fill fr-icon--sm" aria-hidden="true"></span>Note CRG2</p>
              <% else %>
                <% if etat_crg2.empty? %>
                  <p class="fr-badge fr-badge--warning fr-badge--no-icon"><span class="fr-icon-edit-fill fr-icon--sm" aria-hidden="true"></span>Note CRG2</p>
                <%elsif etat_crg2[0][1] != "Brouillon"%>
                  <p class="fr-badge fr-badge--info fr-badge--no-icon"><span class="fr-icon-checkbox-circle-fill fr-icon--sm" aria-hidden="true"></span>Note CRG2</p>
                <% elsif etat_crg2[0][1] == "Brouillon"%>
                  <p class="fr-badge fr-badge--new fr-badge--no-icon">Brouillon</p>
                <%end%>
              <% end %>
            </div>

            <div class="fr-col-lg-3 fr-col-12">
                <% if etat_debut.empty? || etat_debut[0][1] == "Brouillon"%>
                    <%= link_to new_bop_avi_path(bop[0]), class: "fr-btn" do %>Rédiger l'avis<%end %>
                <%elsif @date1 < Date.today && etat_debut[0][3] == true && (etat_crg1.empty? || etat_crg1[0][1] == "Brouillon")%>
                  <%= link_to new_bop_avi_path(bop[0]), class: "fr-btn" do %>Rédiger la note CRG1<%end %>
                <%elsif Date.today > @date2 && (etat_crg2.empty?|| etat_crg2[0][1] == "Brouillon")%>
                  <%= link_to new_bop_avi_path(bop[0]), class: "fr-btn" do %>Rédiger la note CRG2<%end %>
                <% end%>
            </div>
          </div>
        <% end %>    
    </div>
    <div id="tabpanel-1178-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-1178" tabindex="0">
      <p class="fr-h3">BOP inactifs (<%= @liste_bops_inactifs.length %>)</p>
      <% @liste_bops_inactifs.each do |bop|%>
        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
          <div class="fr-col-lg-2 fr-col-6"><ul><li><%= link_to bop_path(bop[0]) do%>BOP <%= bop[1]%><%end %></li></ul></div>
          <div class="fr-col-lg-3 fr-col-6"><%= link_to edit_bop_path(bop[0]), class:"fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-edit-line" do %>Modifier la dotation<% end %></div>
        </div>
      <%end %>
    </div>
</div>

</div>
<% end  %>