<div class="fr-container" >    
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-12">
      <h1 class="fr-mt-6w fr-mb-2w">Liste des <%= @bops.count %> BOP</h1>
      <h2 class='fr-h3'>Nous sommes en phase de <%= @phase %></h2>
    </div>
  </div>


<div class="fr-tabs fr-mb-2w">
    <ul class="fr-tabs__list" role="tablist" aria-label="[A modifier | nom du système d'onglet]">
        <li role="presentation">
            <button id="tabpanel-1177" class="fr-tabs__tab fr-icon-checkbox-circle-line fr-tabs__tab--icon-left" tabindex="0" role="tab" aria-selected="true" aria-controls="tabpanel-1177-panel">BOP actifs (<%= @bops.count %>)</button>
        </li>
    </ul>
    <div id="tabpanel-1177-panel" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel" aria-labelledby="tabpanel-1177" tabindex="0">
        <p class="fr-h3">Il vous reste <%=pluralize(@count_reste, 'avis/note')%> à rédiger</p>      
        <% @bops.each do |bop|%>
          <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
            <div class="fr-col-2"><ul><li><%= link_to bop_path(bop) do%>BOP <%= bop.code%><%end%></li></ul></div> 
            
            <div class="fr-col-3">
                <% if @bops_avis_debut[bop.id].nil? %><p class="fr-badge fr-badge--warning fr-badge--no-icon"><span class="fr-icon-edit-fill fr-icon--sm" aria-hidden="true"></span>Avis début de gestion</p>
                <% elsif @bops_avis_debut[bop.id] == "Brouillon"%><p class="fr-badge fr-badge--new fr-badge--no-icon">Brouillon</p>
                <%elsif @bops_avis_debut[bop.id]  != "Brouillon"%><p class="fr-badge fr-badge--info fr-badge--success">Avis début de gestion</p>
                <%end%></div>

            <div class="fr-col-2">
              <% if Date.today <= @date1 || @bops_avis_debut[bop.id].nil? || @bops_avis_debut[bop.id] == "Brouillon"%>
                <p class="fr-badge"><span class="fr-icon-git-repository-private-fill fr-icon--sm" aria-hidden="true"></span>Note CRG1</p>
              <% elsif @date1 < Date.today && bop.avis.where(phase: "début de gestion").first.is_crg1 == true %>
                <% if @bops_avis_crg1[bop.id].nil? %>
                  <p class="fr-badge fr-badge--warning fr-badge--no-icon"><span class="fr-icon-edit-fill fr-icon--sm" aria-hidden="true"></span>Note CRG1</p>
                <%elsif @bops_avis_crg1[bop.id] != "Brouillon"%>
                  <p class="fr-badge fr-badge--info fr-badge--success">Note CRG1</p>
                <% elsif @bops_avis_crg1[bop.id] == "Brouillon"%>
                  <p class="fr-badge fr-badge--new fr-badge--no-icon">Brouillon</p>
                <%end%>
              <% end %>
            </div>

            <div class="fr-col-2">
              <% if Date.today <= @date2 || @bops_avis_debut[bop.id].nil?  || @bops_avis_debut[bop.id] == "Brouillon" || (bop.avis.where(phase: "début de gestion").first.is_crg1 == true && (@bops_avis_crg1[bop.id].nil? || @bops_avis_crg1[bop.id] == "Brouillon"))%>
                <p class="fr-badge"><span class="fr-icon-git-repository-private-fill fr-icon--sm" aria-hidden="true"></span>Note CRG2</p>
              <% else %>
                <% if @bops_avis_crg2[bop.id].nil? %>
                  <p class="fr-badge fr-badge--warning fr-badge--no-icon"><span class="fr-icon-edit-fill fr-icon--sm" aria-hidden="true"></span>Note CRG1</p>
                <%elsif @bops_avis_crg2[bop.id] != "Brouillon"%>
                  <p class="fr-badge fr-badge--info fr-badge--success">Note CRG2</p>
                <% elsif @bops_avis_crg2[bop.id] == "Brouillon"%>
                  <p class="fr-badge fr-badge--new fr-badge--no-icon">Brouillon</p>
                <%end%>
              <% end %>
            </div>

            <div class="fr-col-3"> 
                <% if @bops_avis_debut[bop.id].nil? || @bops_avis_debut[bop.id] == "Brouillon"%>
                    <a class="fr-btn" href="avis/nouveau/<%=bop.id%>">Rédiger l'avis</a>
                <%elsif @date1 < Date.today && bop.avis.where(phase: "début de gestion").first.is_crg1 == true && (@bops_avis_crg1[bop.id].nil? || @bops_avis_crg1[bop.id] == "Brouillon")%>
                    <a class="fr-btn" href="avis/nouveau/<%=bop.id%>">Rédiger la note CRG1</a>
                <%elsif Date.today > @date2 && (@bops_avis_crg2[bop.id].nil?|| @bops_avis_crg2[bop.id] == "Brouillon")%>
                    <a class="fr-btn" href="avis/nouveau/<%=bop.id%>">Rédiger la note CRG2</a>
                <% end%>
            </div>
          </div>
        <% end %>    
    </div>
</div>

</div>