<% if current_user.statut == "admin" %>
  <%= render 'index_db' %>
<%else %>
<div class="fr-container">
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-12">
      <h1 class="fr-mt-6w fr-mb-2w">Liste des <%= @bops_actifs_count + @bops_inactifs_count%> BOP</h1>
      <h2 class='fr-h3'>Nous sommes en phase de <%= @phase %></h2>
      <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
        <div class="fr-col-lg-1 fr-col-2"><%= image_tag "pictograms/document/document-download.svg", alt: "" %></div>
        <div class="fr-col-lg-11 fr-col-10">
          <div class="fr-text--lg fr-mt-1w">Les avis et notes CRG complets et adressés aux ordonnateurs sont à déposer sur Resana dans le dossier vous concernant.<br>
            <a href='https://resana.numerique.gouv.fr/public/perimetre/consulter/277653' target="_blank" class="fr-link fr-link--lg fr-icon-arrow-right-line fr-link--icon-right">Cliquez ici pour y accéder</a></div>
        </div>
      </div>

      <% if flash.any? %>
        <% flash.each do |type, msg| %>
          <% if msg == "suppression" %>
            <div class="fr-alert fr-alert--success fr-mb-2w">
              <h3 class="fr-alert__title">Votre BOP a bien été enregistré comme BOP non doté. Il est désormais à retrouver dans la liste des BOP inactifs et les avis associés (brouillon ou validés) sont supprimés.</h3>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>


<div class="fr-tabs fr-mb-2w">
    <ul class="fr-tabs__list" role="tablist" aria-label="Onglets BOP actifs et archivés">
        <li role="presentation">
            <button id="tabpanel-1177" class="fr-tabs__tab fr-icon-checkbox-circle-line fr-tabs__tab--icon-left" tabindex="0" role="tab" aria-selected="true" aria-controls="tabpanel-1177-panel">BOP actifs (<%= @bops_actifs_count %>)</button>
        </li>
      <li role="presentation">
        <button id="tabpanel-1178" class="fr-tabs__tab fr-icon-checkbox-circle-line fr-tabs__tab--icon-left" tabindex="-1" role="tab" aria-selected="false" aria-controls="tabpanel-1178-panel">BOP inactifs (<%= @bops_inactifs_count %>)</button>
      </li>
    </ul>
    <div id="tabpanel-1177-panel" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel" aria-labelledby="tabpanel-1177" tabindex="0">
        <p class="fr-h3">Il vous reste <%=pluralize(@count_reste, 'avis/note')%> à rédiger</p>      
        <% @bops.each do |bop|%>
          <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
            <div class="fr-col-lg-2 fr-col-12"><ul><li><%= link_to bop_path(bop) do%>BOP <%= bop.code%><%end%></li></ul></div>
            
            <div class="fr-col-lg-3 fr-col-4">
                <% if @bops_avis_debut[bop.id].nil? %><p class="fr-badge fr-badge--warning fr-badge--no-icon"><span class="fr-icon-edit-fill fr-icon--sm" aria-hidden="true"></span>Avis début de gestion</p>
                <% elsif @bops_avis_debut[bop.id] == "Brouillon"%><p class="fr-badge fr-badge--new fr-badge--no-icon">Brouillon</p>
                <%elsif @bops_avis_debut[bop.id]  != "Brouillon"%><p class="fr-badge fr-badge--info fr-badge--no-icon"><span class="fr-icon-checkbox-circle-fill fr-icon--sm" aria-hidden="true"></span>Avis début de gestion</p>
                <%end%></div>

            <div class="fr-col-lg-2 fr-col-4">
              <% if @bops_avis_debut[bop.id].nil? || @bops_avis_debut[bop.id] == "Brouillon" || ( Date.today < @date1 && bop.avis.where(phase: "début de gestion").first.is_crg1 == true )%>
                <p class="fr-badge"><span class="fr-icon-git-repository-private-fill fr-icon--sm" aria-hidden="true"></span>Note CRG1</p>
              <% elsif @date1 < Date.today && bop.avis.where(phase: "début de gestion").first.is_crg1 == true %>
                <% if @bops_avis_crg1[bop.id].nil? %>
                  <p class="fr-badge fr-badge--warning fr-badge--no-icon"><span class="fr-icon-edit-fill fr-icon--sm" aria-hidden="true"></span>Note CRG1</p>
                <%elsif @bops_avis_crg1[bop.id] != "Brouillon"%>
                  <p class="fr-badge fr-badge--info fr-badge--no-icon"><span class="fr-icon-checkbox-circle-fill fr-icon--sm" aria-hidden="true"></span>Note CRG1</p>
                <% elsif @bops_avis_crg1[bop.id] == "Brouillon"%>
                  <p class="fr-badge fr-badge--new fr-badge--no-icon">Brouillon</p>
                <%end%>
              <% end %>
            </div>

            <div class="fr-col-lg-2 fr-col-4">
              <% if Date.today <= @date2 || @bops_avis_debut[bop.id].nil?  || @bops_avis_debut[bop.id] == "Brouillon" || (bop.avis.where(phase: "début de gestion").first.is_crg1 == true && (@bops_avis_crg1[bop.id].nil? || @bops_avis_crg1[bop.id] == "Brouillon"))%>
                <p class="fr-badge"><span class="fr-icon-git-repository-private-fill fr-icon--sm" aria-hidden="true"></span>Note CRG2</p>
              <% else %>
                <% if @bops_avis_crg2[bop.id].nil? %>
                  <p class="fr-badge fr-badge--warning fr-badge--no-icon"><span class="fr-icon-edit-fill fr-icon--sm" aria-hidden="true"></span>Note CRG2</p>
                <%elsif @bops_avis_crg2[bop.id] != "Brouillon"%>
                  <p class="fr-badge fr-badge--info fr-badge--no-icon"><span class="fr-icon-checkbox-circle-fill fr-icon--sm" aria-hidden="true"></span>Note CRG2</p>
                <% elsif @bops_avis_crg2[bop.id] == "Brouillon"%>
                  <p class="fr-badge fr-badge--new fr-badge--no-icon">Brouillon</p>
                <%end%>
              <% end %>
            </div>

            <div class="fr-col-lg-3 fr-col-12">
                <% if @bops_avis_debut[bop.id].nil? || @bops_avis_debut[bop.id] == "Brouillon"%>
                    <%= link_to new_bop_avi_path(bop.id), class: "fr-btn" do %>Rédiger l'avis<%end %>
                <%elsif @date1 < Date.today && bop.avis.where(phase: "début de gestion").first.is_crg1 == true && (@bops_avis_crg1[bop.id].nil? || @bops_avis_crg1[bop.id] == "Brouillon")%>
                  <%= link_to new_bop_avi_path(bop.id), class: "fr-btn" do %>Rédiger la note CRG1<%end %>
                <%elsif Date.today > @date2 && (@bops_avis_crg2[bop.id].nil?|| @bops_avis_crg2[bop.id] == "Brouillon")%>
                  <%= link_to new_bop_avi_path(bop.id), class: "fr-btn" do %>Rédiger la note CRG2<%end %>
                <% end%>
            </div>
          </div>
        <% end %>    
    </div>
    <div id="tabpanel-1178-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-1178" tabindex="0">
      <p class="fr-h3">BOP inactifs (<%= @bops_inactifs_count %>)</p>
      <% @bops_inactifs.each do |bop|%>
        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
          <div class="fr-col-lg-2 fr-col-6"><ul><li><%= link_to bop_path(bop) do%>BOP <%= bop.code%><%end %></li></ul></div>
          <div class="fr-col-lg-3 fr-col-6"><%= link_to edit_bop_path(bop), class:"fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-edit-line" do %>Modifier la dotation<%end %></div>
        </div>
      <%end %>
    </div>
</div>

</div>
<% end  %>