<main role="main" class="containtAll">
  <div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
      <button class="fr-breadcrumb__button " aria-expanded="false" aria-controls="breadcrumb-1" title="voir le fil d'ariane">Voir le fil d’Ariane</button>
      <div class="fr-collapse" id="breadcrumb-1">
        <ol class="fr-breadcrumb__list">
          <li>
            <%= link_to root_path, class:"fr-breadcrumb__link" do %> Accueil <%end %>
          </li>
          <li>
            <%= link_to bops_path, class:"fr-breadcrumb__link" do %> BOP et avis <%end %>
          </li>
          <li>
            <a class="fr-breadcrumb__link" aria-current="page">bop n°<%= @bop.code%></a>
          </li>
        </ol>
      </div>
    </nav>
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-lg-12">
        <h1 class="fr-mb-3w">BOP n°<%= @bop.code%></h1>
      </div>
    </div>

    <div class="fr-card fr-card--horizontal fr-card--shadow">
          <div class="fr-card__body">
              <div class="fr-card__content">
                  <div class="fr-card__start">
                    <ul class="fr-badges-group">
                        <li>
                           <p class="fr-tag"> Ministere <%= @bop.ministere%></p>
                        </li>
                    </ul>
                    <p class="fr-card__detail fr-icon-arrow-right-line">DCB responsable : <%= User.where(id: @bop.consultant).first.nom%></p>
                  </div>
                  <h3 class="fr-card__title">
                      BOP n°<%= @bop.code%>
                  </h3>
                  <p class="fr-card__desc">Programme n°<%= @bop.numero_programme%> <br> <%= @bop.nom_programme%></p>
                  
              </div>
              
          </div>        
    </div>

    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-lg-12">
        <h2 class="fr-my-3w">Historique des avis</h2>

        <div class="fr-table fr-table--no-caption">
          <table>
              <caption>Historique des avis</caption>
              <thead>
                  <tr>
                      <th scope="col">Date avis </th>
                      <th scope="col">Phase </th>
                      <th scope="col">Avis/note </th>
                      <th scope="col">Etat </th>
                      <th scope="col"> </th>
                  </tr>
              </thead>
              <tbody>
                <% @bop.avis.each do |avis|%>
                  <tr>
                      <td><%= l(avis.created_at,format: "%e/%m/%y")%></td>
                      <td><%= avis.phase%> </td>
                      <td><%= avis.statut%></td>
                      <td><% if avis.etat == "En attente de lecture"%><p class="fr-badge fr-badge--purple-glycine"><%= avis.etat%></p><%elsif avis.etat == "Lu"%><p class="fr-badge fr-badge--info fr-badge--no-icon"><%= avis.etat%></p><% elsif avis.etat == "Brouillon" %><p class="fr-badge fr-badge--new fr-badge--no-icon"><%= avis.etat%></p><%end%></td>
                      <td><% if avis.etat == "Brouillon"%><a class="fr-btn" href="avis/nouveau/<%=avis.bop_id%>">Reprendre</a><%else%><button class="fr-btn" data-fr-opened="false" aria-controls="modal-1123"> Consulter</button><%end%></td>
                  </tr>
                  <% if avis.etat != "Brouillon"%>
                    <dialog id="modal-1123" class="fr-modal" role="dialog" aria-labelledby="modal-1123-title">
                      <div class="fr-container fr-container--fluid fr-container-md">
                          <div class="fr-grid-row fr-grid-row--center">
                              <div class="fr-col-12 fr-col-md-10 fr-col-lg-9">
                                  <div class="fr-modal__body">
                                      <div class="fr-modal__header">
                                          <button class="fr-btn--close fr-btn" aria-controls="modal-1123" title="Fermer">
                                              Fermer
                                          </button>
                                      </div>
                                      <div class="fr-modal__content">
                                          <h1 id="modal-1123-title" class="fr-modal__title">
                                              <span class="fr-icon-arrow-right-line fr-icon--lg" aria-hidden="true"></span>
                                              Avis <%= avis.phase%> du bop n°<%= avis.bop.code%>
                                          </h1>
                                          <p class="fr-text--lg fr-text--bold fr-mb-3w">Sens de l'avis : <%= avis.statut%></p>
                                          <p>Date de réception du BOP initial : <%= l(avis.date_reception,format: "%e/%m/%y")%></p>
                                          <p class="fr-my-1w">Date de l’avis au BOP initial : <%= l(avis.date_envoi,format: "%e/%m/%y")%></p>
                                          <p>Avis donné après suspension du délai : <% if avis.is_delai == true %>Oui<%else%>Non<% end %></p>
                                          <p class="fr-my-1w">CRG1 programmé : <% if avis.is_crg1 == true%>Oui<%else%>Non<%end%></p>
                                          <div class="fr-grid-row fr-grid-row--gutters fr-mt-2w">
                                  <div class="fr-col-3">
                                    <div class="fr-card fr-card--green fr-p-2w fr-card--no-border">
                                      <div class="fr-cart__body">
                                        <p class="fr-text--lg fr-mb-0 text_center">AE HT2 initial</p>
                                        <p class="fr-text--lg fr-text--bold fr-mb-0 text_center"><%= format_number(avis.ae_i)%>€</p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="fr-col-3">
                                    <div class="fr-card fr-card--green fr-p-2w fr-card--no-border">
                                      <div class="fr-cart__body">
                                        <p class="fr-text--lg fr-mb-0 text_center">CP HT2 initial</p>
                                        <p class="fr-text--lg fr-text--bold fr-mb-0 text_center"><%= format_number(avis.cp_i)%>€</p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="fr-col-3">
                                    <div class="fr-card fr-card--green fr-p-2w fr-card--no-border">
                                      <div class="fr-cart__body">
                                        <p class="fr-text--lg fr-mb-0 text_center">AE/CP T2 initial</p>
                                        <p class="fr-text--lg fr-text--bold fr-mb-0 text_center"><%= format_number(avis.t2_i)%>€</p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="fr-col-3">
                                    <div class="fr-card fr-card--green fr-p-2w fr-card--no-border">
                                      <div class="fr-cart__body">
                                        <p class="fr-text--lg fr-mb-0 text_center">ETPT initial</p>
                                        <p class="fr-text--lg fr-text--bold fr-mb-0 text_center"><%= format_number(avis.etpt_i)%>€</p>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                              <div class="fr-grid-row fr-grid-row--gutters">
                                  <div class="fr-col-3">
                                    <div class="fr-card fr-card--orange fr-p-2w fr-card--no-border">
                                      <div class="fr-cart__body">
                                        <p class="fr-text--lg fr-mb-0 text_center">AE HT2 fin 2023</p>
                                        <p class="fr-text--lg fr-text--bold fr-mb-0 text_center"><%= format_number(avis.ae_f)%>€</p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="fr-col-3">
                                    <div class="fr-card fr-card--orange fr-p-2w fr-card--no-border">
                                      <div class="fr-cart__body">
                                        <p class="fr-text--lg fr-mb-0 text_center">CP HT2 fin 2023</p>
                                        <p class="fr-text--lg fr-text--bold fr-mb-0 text_center"><%= format_number(avis.cp_f)%>€</p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="fr-col-3">
                                    <div class="fr-card fr-card--orange fr-p-2w fr-card--no-border">
                                      <div class="fr-cart__body">
                                        <p class="fr-text--lg fr-mb-0 text_center">AE/CP T2 fin 2023</p>
                                        <p class="fr-text--lg fr-text--bold fr-mb-0 text_center"><%= format_number(avis.t2_f)%>€</p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="fr-col-3">
                                    <div class="fr-card fr-card--orange fr-p-2w fr-card--no-border">
                                      <div class="fr-cart__body">
                                        <p class="fr-text--lg fr-mb-0 text_center">ETPT fin 2023</p>
                                        <p class="fr-text--lg fr-text--bold fr-mb-0 text_center"><%= format_number(avis.etpt_f)%>€</p>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                              <div class="fr-grid-row fr-grid-row--gutters">
                                  <div class="fr-col-3">
                                    <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
                                      <div class="fr-cart__body">
                                        <p class="fr-text--lg fr-mb-0 text_center">Écart AE HT2</p>
                                        <p class="fr-text--lg fr-text--bold fr-mb-0 text_center"><%= format_number(avis.ae_f - avis.ae_i)%>€</p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="fr-col-3">
                                    <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
                                      <div class="fr-cart__body">
                                        <p class="fr-text--lg fr-mb-0 text_center">Écart CP HT2</p>
                                        <p class="fr-text--lg fr-text--bold fr-mb-0 text_center"><%= format_number(avis.cp_f - avis.cp_i)%>€</p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="fr-col-3">
                                    <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
                                      <div class="fr-cart__body">
                                        <p class="fr-text--lg fr-mb-0 text_center">Écart AE/CP T2</p>
                                        <p class="fr-text--lg fr-text--bold fr-mb-0 text_center"><%= format_number(avis.t2_f - avis.t2_i)%>€</p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="fr-col-3">
                                    <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
                                      <div class="fr-cart__body">
                                        <p class="fr-text--lg fr-mb-0 text_center">Écart ETPT</p>
                                        <p class="fr-text--lg fr-text--bold fr-mb-0 text_center"><%= format_number(avis.etpt_f - avis.etpt_i)%>€</p>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                                          <p class="fr-my-2w">Commentaire : <%= avis.commentaire%></p>
                                          
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </dialog>
                  <% end %>
                <% end %>
              </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</main>