<% unless avis.nil? || avis.etat == "Brouillon" %>
	<div class="fr-container fr-container--fluid fr-container-md">
		<div class="fr-grid-row fr-grid-row--center">
			<div class="fr-col-12 fr-col-md-10 fr-col-lg-9">
				<div class="fr-modal__body">
					<div class="fr-modal__header">
						<button class="fr-btn--close fr-btn" aria-controls="modal-1" title="Fermer">
							Fermer
						</button>
					</div>
					<div class="fr-modal__content">
						<h1 id="modal-1-title" class="fr-modal__title">
							<span class="fr-icon-arrow-right-line fr-icon--lg" aria-hidden="true"></span>
							<% if avis.phase == "début de gestion" %>Avis<%else %>Note<%end %> <%= avis.phase%> du BOP n°<%= avis.bop.code%>
						</h1>
						<% if avis.phase == "début de gestion" %>

							<p class="fr-text--lg fr-text--bold fr-mb-3w">Sens de l'avis : <%= avis.statut%></p>

							<p class="fr-my-1w"><span class="fr-text--bold">Date de réception du BOP initial :</span> <%= l(avis.date_reception,format: "%e/%m/%y")%></p>
							<p class="fr-my-1w"><span class="fr-text--bold">Date de l’avis au BOP initial :</span> <%= l(avis.date_envoi,format: "%e/%m/%y")%></p>
							<p class="fr-my-1w"><span class="fr-text--bold">Avis donné après suspension du délai :</span> <% if avis.is_delai == true %>Oui<%else%>Non<% end %></p>
							<p class="fr-my-1w"><span class="fr-text--bold">CRG1 programmé :</span> <% if avis.is_crg1 == true%>Oui<%else%>Non<%end%></p>
							<p class="fr-my-1w"><span class="fr-text--bold">Développement synthétique sur l'avis :</span> <%= auto_link(simple_format(avis.commentaire), :html => { :target => '_blank' })%></p>
							<% if avis_execution %>
							<p class="fr-my-1w"><span class="fr-text--bold">Commentaire sur l'écart début de gestion/exécution <%= avis_execution.annee %> :</span> <% if avis_execution.commentaire.nil? %>Non renseigné<%else %><%= auto_link(simple_format(avis_execution.commentaire), :html => { :target => '_blank' })%><%end %></p>
							<% end  %>
							<p class="fr-text--lg fr-text--bold fr-mb-3w">Début de gestion <%= avis.annee %></p>
						<%else %>
							<p class="fr-text--lg fr-text--bold fr-mb-3w">Risque d’insoutenabilité budgétaire : <%= avis.statut %></p>
							<p class="fr-my-1w"><span class="fr-text--bold">Observations :</span> <%= auto_link(simple_format(avis.commentaire), :html => { :target => '_blank' })%></p>
							<p class="fr-my-1w"><span class="fr-text--bold">Date de la note d’analyse du <%= avis.phase %> :</span> <%= l(avis.date_envoi,format: "%e/%m/%y")%></p>
						<%end %>

						<div class="fr-mt-2w">
							<%= render partial: "avis/rappel_chiffres", locals: {avis: [avis.ae_i, avis.cp_i, avis.t2_i, avis.etpt_i], titre: 'alloué', class_active: 'fr-card--green'} %>
						</div>
						<%= render partial: "avis/rappel_chiffres", locals: {avis: [avis.ae_f, avis.cp_f, avis.t2_f, avis.etpt_f], titre: 'prév.', class_active: 'fr-card--orange'} %>
						<div class="fr-mb-2w">
							<%= render partial: "avis/rappel_ecart", locals: {avis: avis} %>
						</div>
						<% if avis.phase == "début de gestion" %>
							<% if avis_execution %>
								<p class="fr-text--lg fr-text--bold fr-mb-3w">Ressources allouées en début de gestion <%= avis_execution.annee %></p>
								<div class="fr-mt-2w">
									<%= render partial: "avis/rappel_chiffres", locals: {avis: [avis_execution.ae_i, avis_execution.cp_i, avis_execution.t2_i, avis_execution.etpt_i], titre: '', class_active: 'fr-card--green'} %>
								</div>
								<p class="fr-text--lg fr-text--bold fr-my-3w">Ressources consommées durant la gestion <%= avis_execution.annee %></p>
								<%= render partial: "avis/rappel_chiffres", locals: {avis: [avis_execution.ae_f, avis_execution.cp_f, avis_execution.t2_f, avis_execution.etpt_f], titre: '', class_active: 'fr-card--orange'} %>
								<p class="fr-text--lg fr-text--bold fr-my-3w">Écart début de gestion/Exécution <%= avis_execution.annee %></p>
								<div class="fr-mb-2w">
									<%= render partial: "avis/rappel_ecart", locals: {avis: avis_execution} %>
								</div>
							<% end  %>
						<% end %>

						<% if avis.user != current_user && current_user.statut == "DCB" && avis.etat == "En attente de lecture"%>
							<%= link_to update_etat_path(id: avis.id), data: { "turbo_method": :post}, class: "fr-btn fr-btn--secondary",aria: {controls: "modal-1"} do %> Afficher comme Lu et fermer<%end %>
						<%end %>
					</div>
				</div>
			</div>
		</div>
	</div>

<% end %>