<% unless avis.nil? || avis.etat == "Brouillon" %>
	<div class="fr-container fr-container--fluid fr-container-md">
		<div class="fr-grid-row fr-grid-row--center">
			<div class="fr-col-12 fr-col-md-10 fr-col-lg-9">
				<div class="fr-modal__body">
					<div class="fr-modal__header">
						<button class="fr-btn--close fr-btn" aria-controls="modal-1" title="Fermer">
							Fermer
						</button>
					</div>
					<div class="fr-modal__content">
						<h1 id="modal-1-title" class="fr-modal__title">
							<span class="fr-icon-arrow-right-line fr-icon--lg" aria-hidden="true"></span>
							Avis <%= avis.phase%> du BOP n°<%= avis.bop.code%>
						</h1>
						<% if avis.phase == "début de gestion" %>
							<p class="fr-text--lg fr-text--bold fr-mb-3w">Sens de l'avis : <%= avis.statut%></p>
							<p class="fr-my-1w"><span class="fr-text--bold">Développement synthétique sur l'avis :</span> <%= simple_format(avis.commentaire)%></p>
							<p class="fr-my-1w"><span class="fr-text--bold">Date de réception du BOP initial :</span> <%= l(avis.date_reception,format: "%e/%m/%y")%></p>
							<p class="fr-my-1w"><span class="fr-text--bold">Date de l’avis au BOP initial :</span> <%= l(avis.date_envoi,format: "%e/%m/%y")%></p>
							<p class="fr-my-1w"><span class="fr-text--bold">Avis donné après suspension du délai :</span> <% if avis.is_delai == true %>Oui<%else%>Non<% end %></p>
							<p class="fr-my-1w"><span class="fr-text--bold">CRG1 programmé :</span> <% if avis.is_crg1 == true%>Oui<%else%>Non<%end%></p>
						<%else %>
							<p class="fr-text--lg fr-text--bold fr-mb-3w">Risque d’insoutenabilité budgétaire : <%= avis.statut %></p>
							<p class="fr-my-1w"><span class="fr-text--bold">Observations :</span> <%= simple_format(avis.commentaire)%></p>
							<p class="fr-my-1w"><span class="fr-text--bold">Date de la note d’analyse du <%= avis.phase %> :</span> <%= l(avis.date_envoi,format: "%e/%m/%y")%></p>
						<%end %>

						<div class="fr-grid-row fr-grid-row--gutters fr-mt-2w">
							<div class="fr-col-3">
								<div class="fr-card fr-card--green fr-p-2w fr-card--no-border">
									<div class="fr-cart__body">
										<p class="fr-text--lg fr-mb-0 text_center">AE HT2 alloué</p>
										<p class="fr-text--lg fr-text--bold fr-mb-0 text_center"><%= format_number(avis.ae_i)%>€</p>
									</div>
								</div>
							</div>
							<div class="fr-col-3">
								<div class="fr-card fr-card--green fr-p-2w fr-card--no-border">
									<div class="fr-cart__body">
										<p class="fr-text--lg fr-mb-0 text_center">CP HT2 alloué</p>
										<p class="fr-text--lg fr-text--bold fr-mb-0 text_center"><%= format_number(avis.cp_i)%>€</p>
									</div>
								</div>
							</div>
							<div class="fr-col-3">
								<div class="fr-card fr-card--green fr-p-2w fr-card--no-border">
									<div class="fr-cart__body">
										<p class="fr-text--lg fr-mb-0 text_center">AE/CP T2 alloué</p>
										<p class="fr-text--lg fr-text--bold fr-mb-0 text_center"><%= format_number(avis.t2_i)%>€</p>
									</div>
								</div>
							</div>
							<div class="fr-col-3">
								<div class="fr-card fr-card--green fr-p-2w fr-card--no-border">
									<div class="fr-cart__body">
										<p class="fr-text--lg fr-mb-0 text_center">ETPT alloué</p>
										<p class="fr-text--lg fr-text--bold fr-mb-0 text_center"><%= format_number(avis.etpt_i)%></p>
									</div>
								</div>
							</div>
						</div>
						<div class="fr-grid-row fr-grid-row--gutters">
							<div class="fr-col-3">
								<div class="fr-card fr-card--orange fr-p-2w fr-card--no-border">
									<div class="fr-cart__body">
										<p class="fr-text--lg fr-mb-0 text_center">AE HT2 prév.</p>
										<p class="fr-text--lg fr-text--bold fr-mb-0 text_center"><%= format_number(avis.ae_f)%>€</p>
									</div>
								</div>
							</div>
							<div class="fr-col-3">
								<div class="fr-card fr-card--orange fr-p-2w fr-card--no-border">
									<div class="fr-cart__body">
										<p class="fr-text--lg fr-mb-0 text_center">CP HT2 prév.</p>
										<p class="fr-text--lg fr-text--bold fr-mb-0 text_center"><%= format_number(avis.cp_f)%>€</p>
									</div>
								</div>
							</div>
							<div class="fr-col-3">
								<div class="fr-card fr-card--orange fr-p-2w fr-card--no-border">
									<div class="fr-cart__body">
										<p class="fr-text--lg fr-mb-0 text_center">AE/CP T2 prév.</p>
										<p class="fr-text--lg fr-text--bold fr-mb-0 text_center"><%= format_number(avis.t2_f)%>€</p>
									</div>
								</div>
							</div>
							<div class="fr-col-3">
								<div class="fr-card fr-card--orange fr-p-2w fr-card--no-border">
									<div class="fr-cart__body">
										<p class="fr-text--lg fr-mb-0 text_center">ETPT prév.</p>
										<p class="fr-text--lg fr-text--bold fr-mb-0 text_center"><%= format_number(avis.etpt_f)%></p>
									</div>
								</div>
							</div>
						</div>
						<div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
							<div class="fr-col-3">
								<div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
									<div class="fr-cart__body">
										<p class="fr-text--lg fr-mb-0 text_center">Écart AE HT2</p>
										<p class="fr-text--lg fr-text--bold fr-mb-0 text_center"><% if avis.ae_i - avis.ae_f < 0 %><span class="crouge"><%= format_number(avis.ae_i - avis.ae_f)%>€</span><%else %><%= format_number(avis.ae_i - avis.ae_f)%>€<%end %></p>
									</div>
								</div>
							</div>
							<div class="fr-col-3">
								<div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
									<div class="fr-cart__body">
										<p class="fr-text--lg fr-mb-0 text_center">Écart CP HT2</p>
										<p class="fr-text--lg fr-text--bold fr-mb-0 text_center"><% if avis.cp_i - avis.cp_f < 0 %><span class="crouge"><%= format_number(avis.cp_i - avis.cp_f)%>€</span><%else %><%= format_number(avis.cp_i - avis.cp_f)%>€<%end %></p>
									</div>
								</div>
							</div>
							<div class="fr-col-3">
								<div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
									<div class="fr-cart__body">
										<p class="fr-text--lg fr-mb-0 text_center">Écart AE/CP T2</p>
										<p class="fr-text--lg fr-text--bold fr-mb-0 text_center"><% if avis.t2_i - avis.t2_f < 0 %><span class="crouge"><%= format_number(avis.t2_i - avis.t2_f)%>€</span><%else %><%= format_number(avis.t2_i - avis.t2_f)%>€<%end %></p>
									</div>
								</div>
							</div>
							<div class="fr-col-3">
								<div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
									<div class="fr-cart__body">
										<p class="fr-text--lg fr-mb-0 text_center">Écart ETPT</p>
										<p class="fr-text--lg fr-text--bold fr-mb-0 text_center"><% if avis.etpt_i - avis.etpt_f < 0 %><span class="crouge"><%= format_number(avis.etpt_i - avis.etpt_f)%></span><%else %><%= format_number(avis.etpt_i - avis.etpt_f)%><%end %></p>
									</div>
								</div>
							</div>
						</div>

						<% if avis.user != current_user && current_user.statut == "DCB" && avis.etat == "En attente de lecture"%>
							<%= link_to read_avis_path(id: avis.id), data: { "turbo_method": :post}, class: "fr-btn fr-btn--secondary" do %> Afficher comme Lu et fermer<%end %>
						<%end %>
					</div>
				</div>
			</div>
		</div>
	</div>

<% end %>