<div class="fr-container" >
  <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button " aria-expanded="false" aria-controls="breadcrumb-1" title="voir le fil d'ariane">Voir le fil d’Ariane</button>
    <div class="fr-collapse" id="breadcrumb-1">
      <ol class="fr-breadcrumb__list">
        <li>
          <%= link_to root_path, class:"fr-breadcrumb__link" do %> Accueil <%end %>
        </li>
        <li>
          <%= link_to bops_path, class:"fr-breadcrumb__link" do %> BOP et avis <%end %>
        </li>
        <li>
          <a class="fr-breadcrumb__link" aria-current="page">Formulaire début de gestion</a>
        </li>
      </ol>
    </div>
  </nav>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-12">
      <h1>Formulaire début de gestion <%= @annee_a_afficher %></h1>
      <div class="fr-h3 fr-mb-0">BOP n°<%= @bop.code%> </div>
      <div>
        <p class="fr-badge fr-badge--sm fr-badge--blue-ecume"><% if @bop.dotation == "aucune" %>BOP inactif<%elsif @bop.dotation == "complete" %>BOP doté en HT2 et T2<%elsif @bop.dotation == "HT2" %>BOP doté uniquement en HT2<%elsif @bop.dotation == "T2" %>BOP doté uniquement en T2<%else %>BOP actif<%end %></p>
      </div>
    </div>
  </div>

  <% if @avis_execution.nil? %>
    <div class="fr-alert fr-alert--info fr-mt-4w fr-mb-6w">
      <h3 class="fr-alert__title">Données d'exécution <%= @annee_a_afficher -1 %> à venir</h3>
      <p>Les données d'exécution <%= @annee_a_afficher -1 %> n'ont pas encore été chargées dans l'outil. Vous pourrez renseigner l'avis de début de gestion une fois ces données importées dans l'outil.</p>
    </div>
  <%else%>
    <div class="cwarning fr-mt-2w">Tous les champs comportant un astérisque (*) sont à remplir obligatoirement.</div>
    <h3 class="fr-mt-4w fr-mb-2w">Exécution <%= @annee_a_afficher -1 %></h3>
    <div class="fr-alert fr-alert--info fr-my-0w">
      <h3 class="fr-alert__title">Les données d’exécution <%= @annee_a_afficher -1 %> sont issues de Chorus.</h3>
      <p>Vous pouvez commenter ces données dans l’espace commentaire et signaler si les chiffres de l'ordonnateur ne correspondent pas.</p>
    </div>
    <div class="fr-mt-4w" data-controller="form">
      <%= form_with(model: @avis, url: avis_path, method: :post, data: {'form-target': "form", action: "input->form#formChange turbo:before-fetch-request->form#submitForm"}) do |f|%>
        <%= f.hidden_field :bop_id, value: @bop.id%>
        <%= f.hidden_field :etat, value: "valide", data: {'form-target': 'etat'}%>
        <%= f.hidden_field :phase, value: "execution"%>
        <%= f.hidden_field :annee, value: @annee_a_afficher - 1%>
        <div class="fr-grid-row fr-grid-row--gutters fr-mb-4w">
          <div class="fr-col-12 fr-col-lg-12">
            <% if @avis_crg2_n1 %>
              <section class="fr-accordion">
                <h3 class="fr-accordion__title">
                  <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-80" data-action="click->form#save"><p class="fr-badge fr-badge--info fr-badge--no-icon fr-mr-1w">Rappel avis CRG2 <%= @annee_a_afficher - 1 %></p> Écart ressource/prévision de consommation</button>
                </h3>
                <div class="fr-collapse" id="accordion-80">
                  <%= render partial: "avis/rappel_ecart", locals: {avis: @avis_crg2_n1} %>
                </div>
              </section>
            <% end  %>
            <div class="fr-accordion__title fr-mt-3w">Ressources allouées en début de gestion <%= @annee_a_afficher -1 %></div>
            <hr class="fr-col_12">
            <%= render partial: "avis/rappel_chiffres", locals: {avis: [@avis&.ae_i, @avis&.cp_i, @avis&.t2_i, @avis&.etpt_i], titre: '', class_active: 'fr-card--green'} %>
            <div class="fr-accordion__title fr-mt-3w">Ressources allouées en CRG2 <%= @annee_a_afficher -1 %></div>
            <hr class="fr-col_12">
            <%= render partial: "avis/rappel_chiffres", locals: {avis: [@avis_crg2_n1&.ae_i, @avis_crg2_n1&.cp_i, @avis_crg2_n1&.t2_i, @avis_crg2_n1&.etpt_i], titre: '', class_active: 'fr-card--green'} %>

            <div class="fr-accordion__title fr-mt-3w">Ressources consommées durant la gestion <%= @annee_a_afficher -1 %></div>
            <hr class="fr-col_12">
            <%= render partial: "avis/rappel_chiffres", locals: {avis: [@avis&.ae_f, @avis&.cp_f, @avis&.t2_f, @avis&.etpt_f], titre: '', class_active: 'fr-card--orange'} %>
            <div class="fr-accordion__title fr-mt-3w">Ecart début de gestion/exécution <%= @annee_a_afficher -1 %> </div>
            <hr class="fr-col_12">
            <%= render partial: "avis/rappel_ecart", locals: {avis: @avis} %>
            <div class="fr-accordion__title fr-mt-3w">Ecart CRG2/exécution <%= @annee_a_afficher -1 %> </div>
            <hr class="fr-col_12">
            <% ecart_ae = @avis_crg2_n1&.ae_i && @avis&.ae_f ? @avis_crg2_n1.ae_i - @avis.ae_f : nil %>
            <% ecart_cp = @avis_crg2_n1&.cp_i && @avis&.cp_f ? @avis_crg2_n1.cp_i - @avis.cp_f : nil %>
            <% ecart_t2 = @avis_crg2_n1&.t2_i && @avis&.t2_f ? @avis_crg2_n1.t2_i - @avis.t2_f : nil %>
            <% ecart_etpt = @avis_crg2_n1&.etpt_i && @avis&.etpt_f ? @avis_crg2_n1.etpt_i - @avis.etpt_f : nil %>
            <div class="fr-grid-row fr-grid-row--gutters">
              <div class="fr-col-3">
                <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
                  <div class="fr-cart__body text_center">
                    <p class="fr-text--lg fr-mb-0">Écart AE HT2</p>
                    <p class="fr-text--lg fr-text--bold fr-mb-0 <%= ecart_ae&.negative? ? 'crouge' : '' %>"><%= format_number(ecart_ae)%>€</p>
                  </div>
                </div>
              </div>
              <div class="fr-col-3">
                <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
                  <div class="fr-cart__body text_center">
                    <p class="fr-text--lg fr-mb-0">Écart CP HT2</p>
                    <p class="fr-text--lg fr-text--bold fr-mb-0 <%= ecart_cp&.negative? ? 'crouge' : '' %>"><%= format_number(ecart_cp)%>€</p>
                  </div>
                </div>
              </div>
              <div class="fr-col-3">
                <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
                  <div class="fr-cart__body text_center">
                    <p class="fr-text--lg fr-mb-0">Écart AE/CP T2</p>
                    <p class="fr-text--lg fr-text--bold fr-mb-0 <%= ecart_t2&.negative? ? 'crouge' : '' %>"><%= format_number(ecart_t2)%>€</p>
                  </div>
                </div>
              </div>
              <div class="fr-col-3">
                <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
                  <div class="fr-cart__body text_center">
                    <p class="fr-text--lg fr-mb-0">Écart ETPT</p>
                    <p class="fr-text--lg fr-text--bold fr-mb-0 <%= ecart_etpt&.negative? ? 'crouge' : '' %>"><%= format_number(ecart_etpt)%></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="fr-input-group fr-mt-3w">
              <label class="fr-label" for="commentaire">
                Avez-vous des observations sur ces chiffres ?
                <span class="fr-hint-text">800 caractères recommandés, espaces compris</span>
              </label>
              <%= f.text_area :commentaire, data: {action: "input->form#calculNombreCaracteres" }, class:"fr-input", id:"commentaire", rows: 10, value: @avis.commentaire%>
              <p class="fr-message fr-message--info"><span class="fr-mr-1v" data-form-target="count">0 </span> caractères</p>
            </div>

            <div>
            <ul class="fr-btns-group fr-btns-group--icon-left fr-btns-group--inline fr-btns-group--right">
              <li>
                <button class="fr-btn fr-icon-save-3-fill fr-btn--icon-left fr-btn--secondary" data-fr-opened="false" aria-controls="modal-1123" data-action="click->form#save" > Enregistrer</button>
              </li>
              <li>
                <%= f.submit "Valider et passer à l'avis de début de gestion", class: "fr-btn", data: {'form-target': "Btnvalidate"}, aria: { label: "Valider"} %>
              </li>
            </ul>
            </div>

            <dialog id="modal-1123" class="fr-modal" aria-labelledby="modal-1123-title">
              <div class="fr-container fr-container--fluid fr-container-md">
                <div class="fr-grid-row fr-grid-row--center">
                  <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                      <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" aria-controls="modal-1123" title="Fermer" data-action="click->form#setValide" >
                          Fermer
                        </button>
                      </div>
                      <div class="fr-modal__content">
                        <h1 id="modal-1123-title" class="fr-modal__title">
                          <span class="fr-icon-arrow-right-line fr-icon--lg" aria-hidden="true"></span>
                          Enregistrer le brouillon
                        </h1>
                        <p>Vous êtes sur le point d'enregistrer vos modifications. Attention vous devrez revenir sur cette page pour compléter et valider vos observations, afin de pouvoir rédiger votre avis sur la programmation de l’année en cours.</p>
                        <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--right">
                          <li>
                            <button class="fr-btn fr-btn--secondary" aria-controls="modal-1123" title="Fermer" data-action="click->form#setValide" >
                              Annuler
                            </button>
                          </li>
                          <li>
                            <button data-form-target="Btnsave" class="fr-btn" title="Enregistrer"> Enregistrer</button>
                          </li>
                        </ul>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </dialog>

          </div>
        </div>
      <% end  %>
    </div>
  <% end %>
</div>