<div class="fr-container" >
  <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button " aria-expanded="false" aria-controls="breadcrumb-1" title="voir le fil d'ariane">Voir le fil d’Ariane</button>
    <div class="fr-collapse" id="breadcrumb-1">
      <ol class="fr-breadcrumb__list">
        <li>
          <%= link_to root_path, class:"fr-breadcrumb__link" do %> Accueil <%end %>
        </li>
        <li>
          <%= link_to bops_path, class:"fr-breadcrumb__link" do %> BOP et avis <%end %>
        </li>
        <li>
          <a class="fr-breadcrumb__link" aria-current="page">Formulaire début de gestion</a>
        </li>
      </ol>
    </div>
  </nav>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-12">
      <h1>Formulaire début de gestion <%= @annee_a_afficher %></h1>
      <div class="fr-h3 fr-mb-0">BOP n°<%= @bop.code%> </div>
      <div><p class="fr-badge fr-badge--sm fr-badge--blue-ecume"><% if @bop.dotation == "aucune" %>BOP inactif<%elsif @bop.dotation == "complete" %>BOP doté en HT2 et T2<%elsif @bop.dotation == "HT2" %>BOP doté uniquement en HT2<%elsif @bop.dotation == "T2" %>BOP doté uniquement en T2<%else %>BOP actif<%end %></p>
        <%= link_to edit_bop_path(@bop), class:"fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-left fr-icon-edit-line" do %>Modifier <%end %></div>
    </div>
  </div>

  <% if @is_completed%>
    <div class="fr-alert fr-alert--success fr-mt-4w fr-mb-6w">
      <h3 class="fr-alert__title">Avis début de gestion transmis avec succès</h3>
      <p>Vous avez déjà rempli l'avis de début de gestion pour ce bop.</p>
    </div>
  <%else%>
    <div class="cwarning fr-mt-2w">Tous les champs comportant un astérisque (*) sont à remplir obligatoirement.</div>
    <div class="fr-mt-4w" data-controller="form">
      <%= form_with(model: @avis, url: avis_path, method: :post, data: {'form-target': "form", action: "change->form#formChange input->form#formChange turbo:before-fetch-request->form#submitForm"}) do |f|%>
        <%= f.hidden_field :bop_id, value: @bop.id%>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :phase, value: 'début de gestion'%>
        <%= f.hidden_field :annee, value: @annee_a_afficher%>
        <%= f.hidden_field :etat, value: "Brouillon", data: {'form-target': 'etat'}%>
        <div class="fr-grid-row fr-grid-row--gutters fr-mb-4w">
          <div class="fr-col-12 fr-col-lg-4">
            <div class="fr-select-group">
              <label for="date_reception" class="fr-label">Date de réception BOP initial*
                <a class="fr-link" aria-describedby="datebop" id="link-datebop" href="#" data-controller="filter" data-action="filter#Dropdown">
                <span class="fr-icon-question-line fr-icon--sm" aria-hidden="true"></span>
              </a>
                <span class="fr-tooltip fr-placement" id="datebop" role="tooltip" aria-hidden="true">La date de réception du BOP initial à indiquer est celle correspondant à l'envoi par le RBOP de sa programmation. Le délai nécessaire pour compléter éventuellement le dossier ou tenir une réunion relève du délai de suspension.</span>
                <span class="fr-hint-text">Indiquer ici la date de réception des documents finalisés</span>
              </label>
              <%= f.text_field :date_reception, class:"fr-select", data: { 'form-target': 'fieldRequire', controller: "flatpickr", flatpickr_default_date: format_date(@avis.date_reception)}, value: format_date(@avis.date_reception), id: "date_reception", placeholder: "- sélectionner -"%>

            </div>
            <div class="fr-select-group">
              <label for="date_envoi" class="fr-label">Date de l’avis*
              <span class="fr-hint-text">Indiquer ici la date du courrier de l’envoi de l’avis</span></label>
              <%= f.text_field :date_envoi, class:"fr-select", data: { 'form-target': 'fieldRequire', controller: "flatpickr", flatpickr_default_date: format_date(@avis.date_envoi)}, value: format_date(@avis.date_envoi), id: "date_envoi", placeholder: "- sélectionner -"%>

            </div>

            <fieldset class="fr-fieldset fr-mb-3w">
                <legend class="fr-fieldset__legend--regular fr-fieldset__legend fr-mb-1w" id='radio-inline-legend'>
                    Avis donné après interruption du délai*
                </legend>

                <div class="fr-fieldset__element fr-fieldset__element--inline fr-mb-0">
                    <div class="fr-radio-group">
                      <% if @avis.is_delai.nil?%>
                        <%= f.radio_button :is_delai, true, id: "radio-delai1", checked: false  %>
                      <%else%>
                        <%= f.radio_button :is_delai, true, id: "radio-delai1", checked: @avis.is_delai  %>
                      <%end%>
                        <label class="fr-label" for="radio-delai1">Oui</label>
                    </div>
                </div>
                <div class="fr-fieldset__element fr-fieldset__element--inline fr-mb-0">
                    <div class="fr-radio-group">
                      <% if @avis.is_delai.nil?  %>
                        <%= f.radio_button :is_delai, false, checked: true, id:"radio-delai" %>
                      <%else%>
                        <%= f.radio_button :is_delai, false, checked: @avis.is_delai == false, id:"radio-delai" %>
                      <%end%>
                        <label class="fr-label" for="radio-delai">Non</label>
                    </div>
                </div>

            </fieldset>

            <fieldset class="fr-fieldset fr-mb-3w">
                <legend class="fr-fieldset__legend--regular fr-fieldset__legend fr-mb-1w" id='radio-inline-legend'>
                    CRG1 programmé*
                </legend>

                <div class="fr-fieldset__element fr-fieldset__element--inline fr-mb-0">
                    <div class="fr-radio-group">
                      <% if @avis.is_crg1.nil? %>
                        <%= f.radio_button :is_crg1, true, checked: true, id: "radio-crg11" %>
                      <%else%>
                        <%= f.radio_button :is_crg1, true, checked: @avis.is_crg1 == true, id: "radio-crg11"  %>
                      <%end%>
                        <label class="fr-label" for="radio-crg11">Oui</label>
                    </div>
                </div>
                <div class="fr-fieldset__element fr-fieldset__element--inline fr-mb-0">
                    <div class="fr-radio-group">
                      <% if @avis.is_crg1.nil? %>
                        <%= f.radio_button :is_crg1, false, checked: false, id:"radio-crg1" %>
                      <%else%>
                        <%= f.radio_button :is_crg1, false, checked: @avis.is_crg1 == false, id:"radio-crg1" %>
                      <%end%>
                        <label class="fr-label" for="radio-crg1">Non</label>
                    </div>
                </div>

            </fieldset>

            <div class="fr-select-group">
                <label for="statut" class="fr-label">Sens de l'avis*</label>
                <%= f.select :statut,[["- sélectionner -",""],['Favorable','Favorable'],['Favorable avec réserve','Favorable avec réserve'],['Défavorable','Défavorable']],{selected: @avis.statut}, {data: {'form-target': 'fieldRequire' }, id:"statut",class:"fr-select"}%>
            </div>
          </div>
          <div class="fr-col-12 fr-col-lg-8">

              <section class="fr-accordion">
                <h3 class="fr-accordion__title">
                  <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-execution" data-action="click->form#save"><p class="fr-badge fr-badge--info fr-badge--no-icon fr-mr-1w">Rappel exécution <%= @annee_a_afficher - 1 %></p> Écart début de gestion/exécution</button>
                </h3>
                <div class="fr-collapse" id="accordion-execution">
                  <%= render partial: "avis/rappel_ecart", locals: {avis: @avis_execution} %>
                </div>
              </section>


              <section class="fr-accordion">
                <h3 class="fr-accordion__title">
                  <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-debut" data-action="click->form#save"><p class="fr-badge fr-badge--info fr-badge--no-icon fr-mr-1w">Rappel avis début de gestion <%= @annee_a_afficher - 1 %></p>  Écart ressource/prévision d'exécution</button>
                </h3>
                <div class="fr-collapse" id="accordion-debut">
                  <%= render partial: "avis/rappel_ecart", locals: {avis: @avis_debut_n1} %>
                </div>
              </section>


            <%= render partial: "avis/form_chiffres", locals: {f: f, bop: @bop, avis: @avis} %>
            <div class="fr-input-group fr-mt-3w">
              <label class="fr-label" for="commentaire">
                  Développements synthétiques sur l’avis (destinés à un usage interne)
                  <span class="fr-hint-text">800 caractères recommandés, espaces compris</span>
              </label>
              <%= f.text_area :commentaire, data: {action: "input->form#calculNombreCaracteres" }, class:"fr-input", id:"commentaire", rows: 10, value: @avis.commentaire%>
              <p class="fr-message fr-message--info"><span class="fr-mr-1v" data-form-target="count">0 </span> caractères</p>
            </div>

            <ul class="fr-btns-group fr-btns-group--icon-left fr-btns-group--inline fr-btns-group--right">
              <li>
                <button class="fr-btn fr-icon-save-3-fill fr-btn--icon-left fr-btn--secondary" data-fr-opened="false" aria-controls="modal-1123" data-action="click->form#save" > Enregistrer</button>
              </li>
              <li>
                <button class="fr-btn bouton_inactive" data-fr-opened="false" data-form-target="Btnvalidate" aria-controls="modal-1122" data-action="click->form#open" disabled>Valider</button>
              </li>
            </ul>
            <dialog id="modal-1123" class="fr-modal" aria-labelledby="modal-1123-title">
              <div class="fr-container fr-container--fluid fr-container-md">
                  <div class="fr-grid-row fr-grid-row--center">
                      <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                          <div class="fr-modal__body">
                              <div class="fr-modal__header">
                                  <button class="fr-btn--close fr-btn" aria-controls="modal-1123" title="Fermer" data-action="click->form#save" >
                                      Fermer
                                  </button>
                              </div>
                              <div class="fr-modal__content">
                                  <h1 id="modal-1123-title" class="fr-modal__title">
                                      <span class="fr-icon-arrow-right-line fr-icon--lg" aria-hidden="true"></span>
                                      Enregistrer le brouillon
                                  </h1>
                                  <p>Vous êtes sur le point d'enregistrer vos modifications. Attention vous devrez revenir sur cette page pour compléter et valider votre avis afin qu'il soit transmis définitivement au DCB.</p>
                                  <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--right">
                                    <li>
                                      <button class="fr-btn fr-btn--secondary" aria-controls="modal-1123" title="Fermer" data-action="click->form#save" >
                                        Annuler
                                      </button>
                                    </li>
                                    <li>
                                      <button data-action="click->form#changeTextToFloat" data-form-target="Btnsave" class="fr-btn" title="Enregistrer"> Enregistrer</button>
                                    </li>
                                  </ul>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </dialog>
            <dialog id="modal-1122" class="fr-modal" aria-labelledby="modal-1122-title">
              <div class="fr-container fr-container--fluid fr-container-md">
                  <div class="fr-grid-row fr-grid-row--center">
                      <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                          <div class="fr-modal__body">
                              <div class="fr-modal__header">
                                  <button class="fr-btn--close fr-btn" aria-controls="modal-1122" title="Fermer" data-action="click->form#save" >
                                      Fermer
                                  </button>
                              </div>
                              <div class="fr-modal__content">
                                <div class="fr-alert fr-alert--warning fr-mb-2w fr-hidden" id="alert_field_empty">
                                  <h3 class="fr-alert__title">Vous n’avez pas rempli toutes les données </h3>
                                </div>
                                  <h1 id="modal-1122-title" class="fr-modal__title">
                                      <span class="fr-icon-arrow-right-line fr-icon--lg" aria-hidden="true"></span>
                                      Souhaitez-vous valider le formulaire ?
                                  </h1>
                                  <p>En cliquant sur valider, vous confirmez votre avis/note et vous ne pourrez plus le modifier.</p>
                                  <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--right">
                                    <li>
                                      <button class="fr-btn fr-btn--secondary" aria-controls="modal-1122" title="Fermer" data-action="click->form#save" >
                                        Annuler
                                      </button>
                                    </li>
                                    <li>
                                      <%= f.submit "Valider", class: "fr-btn", data: {'form-target': "submitBouton", action: "click->form#changeTextToFloat"}, aria: { label: "Valider"} %>
                                    </li>
                                  </ul>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </dialog>
          </div>
        </div>
      <% end %>
    </div>

  <% end %>
</div>
