<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-3">
    <div class="fr-card <%= class_active %> fr-p-2w fr-card--no-border">
      <div class="fr-cart__body text_center">
        <p class="fr-text--lg fr-mb-0">AE HT2 <%= titre %></p>
        <p class="fr-text--lg fr-text--bold fr-mb-0"><%= format_number(avis[0])%>€</p>
      </div>
    </div>
  </div>
  <div class="fr-col-3">
    <div class="fr-card <%= class_active %> fr-p-2w fr-card--no-border">
      <div class="fr-cart__body text_center ">
        <p class="fr-text--lg fr-mb-0">CP HT2 <%= titre %></p>
        <p class="fr-text--lg fr-text--bold fr-mb-0"><%= format_number(avis[1])%>€</p>
      </div>
    </div>
  </div>
  <div class="fr-col-3">
    <div class="fr-card <%= class_active %> fr-p-2w fr-card--no-border">
      <div class="fr-cart__body text_center">
        <p class="fr-text--lg fr-mb-0">AE/CP T2 <%= titre %></p>
        <p class="fr-text--lg fr-text--bold fr-mb-0"><%= format_number(avis[2])%>€</p>
      </div>
    </div>
  </div>
  <div class="fr-col-3">
    <div class="fr-card <%= class_active %> fr-p-2w fr-card--no-border">
      <div class="fr-cart__body text_center">
        <p class="fr-text--lg fr-mb-0 ">ETPT <%= titre %></p>
        <p class="fr-text--lg fr-text--bold fr-mb-0"><%= format_number(avis[3])%></p>
      </div>
    </div>
  </div>
</div>