<% content_for :title do %>Consultation des avis | ANACO
<% end %>
<div class="fr-container">
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-12">
      <h1 class="fr-mt-6w">Consultation des avis/notes</h1>
      <%= render 'avis/success' %>
    </div>
  </div>

  <div class="fr-table--lg fr-table fr-table--no-caption fr-mb-6w">
    <div class="fr-table__header">
      <p class="fr-table__detail"></p>
      <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-md fr-btns-group--icon-left">
        <li>
          <button class="fr-btn fr-icon-filter-line fr-btn--icon-left " aria-controls="filtres" aria-expanded="false">
            Filtrer les résultats
          </button>
        </li>
        <li>
          <button class="fr-btn fr-icon-download-line fr-btn--icon-left fr-btn--secondary">
            <%= link_to consultation_path(format: :xlsx) do %>Télécharger les avis/notes
            <% end %>
          </button>
        </li>
      </ul>
    </div>
    <div class="fr-collapse fr-collapse--grey fr-px-2w" id="filtres" data-controller="request">
      <div class="fr-h4 fr-my-2w">Filtrer les résultats</div>
      <%= search_form_for @q, url: consultation_path, data: { 'request-target': 'form', turbo_frame: 'table', turbo_action: 'advance' } do |f| %>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-4">
            <%= render_tag_group 'Phase', :phase_in, ["début de gestion", "CRG1", "CRG2"] %>
          </div>
          <div class="fr-col-4">
            <%= render_tag_group 'Année', :annee_in, ["2023", "2024"] %>
          </div>
          <div class="fr-col-4">
            <%= render_tag_group 'État', :etat_in, ["Lu", "En attente de lecture"] %>
          </div>
        </div>
      <% end %>
    </div>
    <%= turbo_frame_tag :table, data: { turbo_action: 'advance' } do %>
      <div class="fr-table__wrapper">
        <div class="fr-table__container">
          <div class="fr-table__content">
            <table class="fr-cell--multiline">
              <caption>Consultation des avis/notes</caption>
              <thead>
              <tr>
                <th scope="col">Phase</th>
                <th scope="col">CBR</th>
                <th scope="col">
                  <% sort_created_date = "" %>
                  <% if params[:q] && params[:q][:s] == "created_at desc" %>
                    <% sort_created_date = "asc" %>
                  <% elsif params[:q] && params[:q][:s] == "created_at asc" %>
                    <% sort_created_date = "desc" %>
                  <% end %>
                  <div class="fr-cell--sort">
                    <span class="fr-cell__title">Date de saisie</span>
                    <%= sort_link(@q, :created_at, '', default_order: :desc, class: 'fr-btn--sort fr-btn fr-btn--sm', aria: { sorting: sort_created_date }) %>
                  </div>
                </th>
                <th scope="col">BOP</th>
                <th scope="col">Programme</th>
                <th scope="col">Statut/Risque</th>
                <th scope="col">État</th>
                <th scope="col">Action</th>
              </tr>
              </thead>
              <tbody>
              <% @avis_page&.each do |avis| %>
                <tr>
                  <td>
                    <% if avis.phase == "début de gestion" %><%= avis.phase.capitalize %>
                      <% else %><%= avis.phase %>
                    <% end %> <%= avis.annee %></td>
                  <td><%= avis.user.nom %></td>
                  <td><%= l(avis.created_at, format: "%e/%m/%y") %> </td>
                  <td><%= link_to bop_path(avis.bop_id), data: { turbo_frame: "_top" } do %><%= avis.bop.code %>
                    <% end %></td>
                  <td><%= avis.bop.numero_programme %> - <%= avis.bop.nom_programme %> </td>
                  <td><%= avis.statut %></td>
                  <td>
                    <% if avis.etat == "En attente de lecture" %>
                      <p class="fr-badge fr-badge--purple-glycine"><%= avis.etat %></p>
                    <% elsif avis.etat == "Lu" %>
                      <p class="fr-badge fr-badge--info fr-badge--no-icon"><%= avis.etat %></p>
                    <% end %></td>
                  <td>
                    <%= link_to open_modal_path(id: avis.id), class: "fr-btn fr-btn--sm", "data-fr-opened": false, "aria-controls": "modal-1", data: { "turbo_method": :post } do %>
                      Consulter
                    <% end %>
                  </td>
                </tr>
              <% end %>

              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="fr-table__footer">
        <div class="fr-table__footer--start">
          <p class="fr-table__detail"><%= @avis_all.length %> résultats</p>
          <div class="fr-select-group">
            <label class="fr-sr-only fr-label" for="table-footer-select-7847">
              Nombre de lignes par page
            </label>
            <div class="fr-messages-group" id="table-footer-select-7847-messages" aria-live="polite"></div>
          </div>
        </div>
        <div class="fr-table__footer--middle">
          <%== pagy_nav_custom(@pagy) %>
        </div>
      </div>
    <% end %>
  </div>


  <dialog id="modal-1" class="fr-modal" aria-labelledby="modal-1-title">
    <div id="debut">
      <%= render partial: 'avis/dialog_debut', locals: { avis: nil } %>
    </div>
  </dialog>

</div>