<div class="fr-container" >    
	<div class="fr-grid-row fr-grid-row--gutters">
		<div class="fr-col-12 fr-col-lg-12">
			<h1 class="fr-my-6w">Historique des avis et des notes</h1>
			<%= render 'avis/success'%>
		</div>
	</div>


	<% if Date.today > @date2 %>
		<h2 class="fr-h3">Phase CRG2 </h2>
		<div class="fr-table fr-table--no-caption fr-table--layout-fixed">
		<table>
			<caption>Historique des avis</caption>
			<thead>
			<tr>
				<% if current_user.statut =="admin" %>
					<th scope="col">Contrôleur </th>
				<%end %>
				<th scope="col">Date de saisie </th>
				<th scope="col">BOP </th>
				<th scope="col">Programme </th>
				<th scope="col">Statut note </th>

					<th scope="col">DCB responsable</th>

					<th scope="col">État </th>

				<th scope="col"> </th>
			</tr>
			</thead>
			<tbody>
			<% @avis_crg2.each do |avis|%>
				<tr>
					<% if current_user.statut =="admin" %>
						<td><%= @avis_users[avis.id]%> </td>
					<%end %>
					<td><%= l(avis.created_at,format: "%e/%m/%y")%> </td>
					<td><%= @bops_data[avis.id][0]%></td>
					<td><%= @bops_data[avis.id][1] %> - <%= @bops_data[avis.id][2] %> </td>
					<td><%= avis.statut %></td>

						<td><%= @users[@bops_data[avis.id][3]] %></td>

						<td><% if avis.etat == "En attente de lecture"%><p class="fr-badge fr-badge--purple-glycine"><%= avis.etat%></p><%elsif avis.etat == "Lu"%><p class="fr-badge fr-badge--info fr-badge--no-icon"><%= avis.etat%></p><% elsif avis.etat == "Brouillon" %><p class="fr-badge fr-badge--new fr-badge--no-icon"><%= avis.etat%></p><%end%></td>

					<td>
						<% if avis.etat == "Brouillon"%>
							<%if current_user.statut != "admin" %><a class="fr-btn" href="avis/nouveau/<%=avis.bop.id%>">Reprendre</a><%end %>
						<%else%>
							<%= link_to open_modal_path(id: avis.id), class:"fr-btn","data-fr-opened": false,"aria-controls":"modal-1",data: { "turbo_method": :post} do %>Consulter<%end %>
						<%end%>
						<%= link_to avi_path(avis.id),data: {"turbo-method": :delete}, class: "fr-btn fr-btn--secondary" do %>Supprimer<% end%>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
	<%end %>
	<% if Date.today > @date1 %>
		<h2 class="fr-h3">Phase CRG1 </h2>
		<div class="fr-table fr-table--no-caption fr-table--layout-fixed">
		<table>
			<caption>Historique des avis</caption>
			<thead>
			<tr>
				<% if current_user.statut =="admin" %>
					<th scope="col">Contrôleur </th>
				<%end %>
				<th scope="col">Date de saisie </th>
				<th scope="col">BOP </th>
				<th scope="col">Programme </th>
				<th scope="col">Statut note </th>

					<th scope="col">DCB responsable</th>

					<th scope="col">État </th>
				<th scope="col"> </th>
			</tr>
			</thead>
			<tbody>
			<% @avis_crg1.each do |avis|%>
				<tr>
					<% if current_user.statut =="admin" %>
						<td><%= @avis_users[avis.id]%> </td>
					<%end %>
					<td><%= l(avis.created_at,format: "%e/%m/%y")%> </td>
					<td><%= @bops_data[avis.id][0]%></td>
					<td><%= @bops_data[avis.id][1] %> - <%= @bops_data[avis.id][2] %> </td>
					<td><%= avis.statut %></td>

						<td><%= @users[@bops_data[avis.id][3]] %></td>
						<td><% if avis.etat == "En attente de lecture"%><p class="fr-badge fr-badge--purple-glycine"><%= avis.etat%></p><%elsif avis.etat == "Lu"%><p class="fr-badge fr-badge--info fr-badge--no-icon"><%= avis.etat%></p><% elsif avis.etat == "Brouillon" %><p class="fr-badge fr-badge--new fr-badge--no-icon"><%= avis.etat%></p><%end%></td>

					<td>
						<% if avis.etat == "Brouillon"%>
							<%if current_user.statut != "admin" %><a class="fr-btn" href="avis/nouveau/<%=avis.bop.id%>">Reprendre</a><%end %>
						<%else%>
							<%= link_to open_modal_path(id: avis.id), class:"fr-btn","data-fr-opened": false,"aria-controls":"modal-1",data: { "turbo_method": :post} do %>Consulter<%end %>
						<%end%>
						<%= link_to avi_path(avis.id),data: {"turbo-method": :delete}, class: "fr-btn fr-btn--secondary" do %>Supprimer<% end%>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
	<%end %>

	<h2 class="fr-h3">Phase de début de gestion </h2>
	<div class="fr-table fr-table--no-caption fr-table--layout-fixed">
		<table>
			<caption>Historique des avis</caption>
			<thead>
			<tr>
				<% if current_user.statut == "admin" %>
					<th scope="col">Contrôleur </th>
				<%end %>
				<th scope="col">Date de saisie </th>
				<th scope="col">BOP </th>
				<th scope="col">Programme </th>
				<th scope="col">Statut avis </th>

					<th scope="col">DCB responsable</th>
					<th scope="col">État </th>

				<th scope="col"> </th>
			</tr>
			</thead>
			<tbody>
			<% @avis_debut.each do |avis|%>
				<tr>
					<% if current_user.statut =="admin" %>
						<td><%= @avis_users[avis.id]%> </td>
					<%end %>
					<td><%= l(avis.created_at,format: "%e/%m/%y")%> </td>
					<td><%= @bops_data[avis.id][0]%></td>
					<td><%= @bops_data[avis.id][1] %> - <%= @bops_data[avis.id][2] %> </td>
					<td><%= avis.statut %></td>
						<td><%= @users[@bops_data[avis.id][3]] %></td>
						<td><% if avis.etat == "En attente de lecture"%><p class="fr-badge fr-badge--purple-glycine"><%= avis.etat%></p><%elsif avis.etat == "Lu"%><p class="fr-badge fr-badge--info fr-badge--no-icon"><%= avis.etat%></p><% elsif avis.etat == "Brouillon" %><p class="fr-badge fr-badge--new fr-badge--no-icon"><%= avis.etat%></p><%end%></td>

					<td>
						<% if avis.etat == "Brouillon"%>
							<%if current_user.statut != "admin" %><a class="fr-btn" href="avis/nouveau/<%=avis.bop.id%>">Reprendre</a><%end %>
						<%else%>
							<%= link_to open_modal_path(id: avis.id), class:"fr-btn","data-fr-opened": false,"aria-controls":"modal-1",data: { "turbo_method": :post} do %>Consulter<%end %>
						<%end%>
						<%= link_to avi_path(avis.id),data: {"turbo-method": :delete}, class: "fr-btn fr-btn--secondary" do %>Supprimer<% end%>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>

	<dialog id="modal-1" class="fr-modal" aria-labelledby="modal-1-title">
		<div id="debut">
			<%= render partial: 'avis/dialog_debut',locals: {avis: @avis_default} %>
		</div>
	</dialog>

</div>