<% steps_max = @programme.dotation == "HT2" ? 2 : 4 %>
<div class="fr-stepper">
  <h2 class="fr-stepper__title">
    <span class="fr-stepper__state">Étape 2 sur <%= steps_max %></span>
    Vision CBCM Crédits HT2 - AE/CP
  </h2>
  <div class="fr-stepper__steps" data-fr-current-step="2" data-fr-steps="<%= steps_max %>"></div>
  <% if steps_max == 4 %>
    <p class="fr-stepper__details">
      <span class="fr-text--bold">Étape suivante :</span> Vision RPROG Crédits T2
    </p>
  <% end %>
</div>

<div class="fr-alert fr-alert--info fr-mb-2w">
  <h3 class="fr-alert__title">Les données sont remplies par défaut avec celles de la vision RPROG. Vous pouvez mettre à
    jour ces données et les comparer avec celles du RPROG.</h3>
</div>

<div class="fr-grid-row fr-grid-row--gutters fr-mb-4w">
  <div class="fr-col-6 fr-col-lg-6">

    <div class="fr-h3"><p class="fr-badge fr-badge--orange-terre-battue">Vision CBCM</p> Crédits HT2 - AE/CP</div>

    <%= render 'form_ht2' %>
  </div>
  <div class="fr-col-6 fr-col-lg-6">
    <div class="fr-card--shadow fr-px-2w">
      <div class="fr-h3"><p class="fr-badge fr-badge--beige-gris-galet">Vision RPROG</p></div>
      <div class="cwarning fr-mb-1w">Rappel des données Crédits HT2 - AE/CP du RPROG.</div>
      <div class="fr-h5">Situation à date du CRG2</div>
      <div class="fr-h6 fr-mb-1w">Ressources certaines à date</div>
      <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
        <div class="fr-col-6 fr-col-lg-6">
          <div class="fr-label">AE</div>
          <div class="fr-text--bold fr-my-3v"><%= format_number(@gestion_schema.ressources_ae) %> €
          </div>
        </div>
        <div class="fr-col-6 fr-col-lg-6">
          <div class="fr-label">CP</div>
          <div class="fr-text--bold fr-my-3v"><%= format_number(@gestion_schema.ressources_cp) %> €
          </div>
        </div>
      </div>
      <div class="fr-h6 fr-mb-1w">Prévision de dépenses</div>
      <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
        <div class="fr-col-6 fr-col-lg-6">
          <div class="fr-label">AE</div>
          <div class="fr-text--bold fr-my-3v"><%= format_number(@gestion_schema.depenses_ae) %> €
          </div>
        </div>
        <div class="fr-col-6 fr-col-lg-6">
          <div class="fr-label">CP</div>
          <div class="fr-text--bold fr-my-3v"><%= format_number(@gestion_schema.depenses_cp) %> €
          </div>
        </div>
      </div>
      <div class="fr-h5">Solde prévisionnel</div>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-6">
          <div class="fr-card <%= colorful_card_css_class(@gestion_schema.prevision_solde_budgetaire_ae) %> fr-p-2w fr-card--no-border">
            <div class="fr-cart__body">
              <p class="fr-text--lg fr-mb-0 text_center">AE</p>
              <p class="fr-text--lg fr-text--bold fr-mb-0 text_center"><%= format_number(@gestion_schema.prevision_solde_budgetaire_ae) %>
                €</p>
            </div>
          </div>
        </div>
        <div class="fr-col-6">
          <div class="fr-card <%= colorful_card_css_class(@gestion_schema.prevision_solde_budgetaire_cp) %> fr-p-2w fr-card--no-border">
            <div class="fr-cart__body">
              <p class="fr-text--lg fr-mb-0 text_center">CP</p>
              <p class="fr-text--lg fr-text--bold fr-mb-0 text_center"><%= format_number(@gestion_schema.prevision_solde_budgetaire_cp) %>
                €</p>
            </div>
          </div>
        </div>
      </div>
      <hr class="fr-hr fr-mt-3w">

      <div class="fr-h6 fr-mb-1w">Niveau de la mise en réserve</div>
      <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
        <div class="fr-col-6 fr-col-lg-6">
          <div class="fr-label">AE</div>
          <div class="fr-text--bold fr-my-3v"><%= format_number(@gestion_schema.mer_ae) %> €</div>
        </div>
        <div class="fr-col-6 fr-col-lg-6">
          <div class="fr-label">CP</div>
          <div class="fr-text--bold fr-my-3v"><%= format_number(@gestion_schema.mer_cp) %> €</div>
        </div>
      </div>
      <div class="fr-h6 fr-mb-1w">Autres cas de réserve</div>
      <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
        <div class="fr-col-6 fr-col-lg-6">
          <div class="fr-label">AE</div>
          <div class="fr-text--bold fr-my-3v"><%= format_number(@gestion_schema.surgel_ae) %> €</div>
        </div>
        <div class="fr-col-6 fr-col-lg-6">
          <div class="fr-label">CP</div>
          <div class="fr-text--bold fr-my-3v"><%= format_number(@gestion_schema.surgel_cp) %> €</div>
        </div>
      </div>
      <hr class="fr-hr fr-mt-3w">

      <div class="fr-h5">Hypothèses de couverture</div>
      <div class="fr-h6 fr-mb-1w">Mobilisation de la mise en réserve</div>
      <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
        <div class="fr-col-6 fr-col-lg-6">
          <div class="fr-label">AE</div>
          <div class="fr-text--bold fr-my-3v"><%= format_number(@gestion_schema.mobilisation_mer_ae) %> €</div>
        </div>
        <div class="fr-col-6 fr-col-lg-6">
          <div class="fr-label">CP</div>
          <div class="fr-text--bold fr-my-3v"><%= format_number(@gestion_schema.mobilisation_mer_cp) %> €</div>
        </div>
      </div>

      <div class="fr-h6 fr-mb-1w">Mobilisation des autres cas de réserve</div>
      <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
        <div class="fr-col-6 fr-col-lg-6">
          <div class="fr-label">AE</div>
          <div class="fr-text--bold fr-my-3v"><%= format_number(@gestion_schema.mobilisation_surgel_ae) %> €</div>
        </div>
        <div class="fr-col-6 fr-col-lg-6">
          <div class="fr-label">CP</div>
          <div class="fr-text--bold fr-my-3v"><%= format_number(@gestion_schema.mobilisation_surgel_cp) %> €</div>
        </div>
      </div>

      <div class="fr-h6 fr-mb-1w">Fongibilité asymétrique</div>
      <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
        <div class="fr-col-6 fr-col-lg-6">
          <div class="fr-label">AE</div>
          <div class="fr-text--bold fr-my-3v"><%= format_number(@gestion_schema.fongibilite_ae) %> €</div>
        </div>
        <div class="fr-col-6 fr-col-lg-6">
          <div class="fr-label">CP</div>
          <div class="fr-text--bold fr-my-3v"><%= format_number(@gestion_schema.fongibilite_cp) %> €</div>
        </div>
      </div>

      <div class="fr-h6 fr-mb-1w">Virements/transferts entrants</div>
      <% if @gestion_schema.transferts.entrant.empty?%>
        <div class="fr-label fr-mb-3w">Aucun</div>
      <% end %>
      <% @gestion_schema.transferts.entrant.each do |transfert| %>
        <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
          <div class="fr-col-6 fr-col-lg-6">
            <div class="fr-label">AE</div>
            <div class="fr-text--bold fr-my-3v"><%= format_number(transfert.montant_ae) %> €</div>
          </div>
          <div class="fr-col-6 fr-col-lg-6">
            <div class="fr-label">CP</div>
            <div class="fr-text--bold fr-my-3v"><%= format_number(transfert.montant_cp) %> €</div>
          </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
          <div class="fr-col-6 fr-col-lg-6">
            <div class="fr-label">Programme d'origine</div>
            <div class="fr-text--bold fr-my-3v"><%= transfert.programme.numero%></div>
          </div>
        </div>
      <% end %>

      <div class="fr-h6 fr-mb-1w">Virements/transferts sortants</div>
      <% if @gestion_schema.transferts.sortant.empty?%>
        <div class="fr-label fr-mb-3w">Aucun</div>
      <% end %>
      <% @gestion_schema.transferts.sortant.each do |transfert| %>
        <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
          <div class="fr-col-6 fr-col-lg-6">
            <div class="fr-label">AE</div>
            <div class="fr-text--bold fr-my-3v"><%= format_number(transfert.montant_ae) %> €</div>
          </div>
          <div class="fr-col-6 fr-col-lg-6">
            <div class="fr-label">CP</div>
            <div class="fr-text--bold fr-my-3v"><%= format_number(transfert.montant_cp) %> €</div>
          </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
          <div class="fr-col-6 fr-col-lg-6">
            <div class="fr-label">Programme de destination</div>
            <div class="fr-text--bold fr-my-3v"><%= transfert.programme.numero%></div>
          </div>
        </div>
      <% end %>

      <div class="fr-h6 fr-mb-1w">Décret d'avance</div>
      <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
        <div class="fr-col-6 fr-col-lg-6">
          <div class="fr-label">AE</div>
          <div class="fr-text--bold fr-my-3v"><%= format_number(@gestion_schema.decret_ae) %> €</div>
        </div>
        <div class="fr-col-6 fr-col-lg-6">
          <div class="fr-label">CP</div>
          <div class="fr-text--bold fr-my-3v"><%= format_number(@gestion_schema.decret_cp) %> €</div>
        </div>
      </div>

      <div class="fr-h6 fr-mb-1w">Ouverture/annulation de crédits en LFG</div>
      <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
        <div class="fr-col-6 fr-col-lg-6">
          <div class="fr-label">AE</div>
          <div class="fr-text--bold fr-my-3v"><%= format_number(@gestion_schema.credits_lfg_ae) %> €</div>
        </div>
        <div class="fr-col-6 fr-col-lg-6">
          <div class="fr-label">CP</div>
          <div class="fr-text--bold fr-my-3v"><%= format_number(@gestion_schema.credits_lfg_cp) %> €</div>
        </div>
      </div>

      <div class="fr-h6 fr-mb-1w">Report arbitré ou consensuel</div>
      <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
        <div class="fr-col-6 fr-col-lg-6">
          <div class="fr-label">AE</div>
          <div class="fr-text--bold fr-my-3v"><%= format_number(@gestion_schema.reports_ae) %> €</div>
        </div>
        <div class="fr-col-6 fr-col-lg-6">
          <div class="fr-label">CP</div>
          <div class="fr-text--bold fr-my-3v"><%= format_number(@gestion_schema.reports_cp) %> €</div>
        </div>
      </div>

      <div class="fr-h5">Solde résultant des hypothèses de couverture</div>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-6">
          <div class="fr-card <%= colorful_card_css_class(@gestion_schema.solde_total_ae) %> fr-p-2w fr-card--no-border">
            <div class="fr-cart__body">
              <p class="fr-text--lg fr-mb-0 text_center">AE</p>
              <p class="fr-text--lg fr-text--bold fr-mb-0 text_center"><%= format_number(@gestion_schema.solde_total_ae) %>
                €</p>
            </div>
          </div>
        </div>
        <div class="fr-col-6">
          <div class="fr-card <%= colorful_card_css_class(@gestion_schema.solde_total_cp) %> fr-p-2w fr-card--no-border">
            <div class="fr-cart__body">
              <p class="fr-text--lg fr-mb-0 text_center">CP</p>
              <p class="fr-text--lg fr-text--bold fr-mb-0 text_center"><%= format_number(@gestion_schema.solde_total_cp) %>
                €</p>
            </div>
          </div>
        </div>
      </div>

      <hr class="fr-hr fr-mt-3w">
      <div class="fr-h5">Autres informations relatives à la fin de gestion</div>

      <div class="fr-h6 fr-mb-1w">Charges à payer</div>
      <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
        <div class="fr-col-6 fr-col-lg-6">
          <div class="fr-label">AE</div>
          <div class="fr-text--bold fr-my-3v"><%= format_number(@gestion_schema.charges_a_payer_ae) %> €</div>
        </div>
        <div class="fr-col-6 fr-col-lg-6">
          <div class="fr-label">CP</div>
          <div class="fr-text--bold fr-my-3v"><%= format_number(@gestion_schema.charges_a_payer_cp) %> €</div>
        </div>
      </div>

      <div class="fr-h6 fr-mb-1w">Autres reports de charge</div>
      <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
        <div class="fr-col-6 fr-col-lg-6">
          <div class="fr-label">AE</div>
          <div class="fr-text--bold fr-my-3v"><%= format_number(@gestion_schema.reports_autre_ae) %> €</div>
        </div>
        <div class="fr-col-6 fr-col-lg-6">
          <div class="fr-label">CP</div>
          <div class="fr-text--bold fr-my-3v"><%= format_number(@gestion_schema.reports_autre_ae) %> €</div>
        </div>
      </div>

      <div class="fr-h6 fr-mb-1w">Crédits à reporter</div>
      <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
        <div class="fr-col-6 fr-col-lg-6">
          <div class="fr-label">AE</div>
          <div class="fr-text--bold fr-my-3v"><%= format_number(@gestion_schema.credits_reports_ae) %> €</div>
        </div>
        <div class="fr-col-6 fr-col-lg-6">
          <div class="fr-label">CP</div>
          <div class="fr-text--bold fr-my-3v"><%= format_number(@gestion_schema.credits_reports_ae) %> €</div>
        </div>
      </div>

      <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
        <div class="fr-col-12 fr-col-lg-12">
          <div class="fr-label">Commentaire</div>
          <div class="fr-text--bold fr-my-1w"><%= @gestion_schema.commentaire %> </div>
        </div>
      </div>

    </div>
  </div>
</div>
