<div data-controller="form" id="form_schema">
  <%= form_with(model: [@schema, @gestion_schema], data: { controller: 'nested-form nested-form2', nested_form_wrapper_selector_value: '.nested-form-wrapper', 'form-target': "form", action: 'input->form#formChange' }) do |f| %>
    <div class="cwarning fr-mb-1w">Tous les champs comportant un astérisque (*) sont à remplir obligatoirement.</div>
    <div class="fr-h5">Situation à date du CRG2</div>
    <div class="fr-h6 fr-mb-1w">Ressources certaines à
      date* <%= render partial: "gestion_schemas/tooltip", locals: { name: "ressources" } %></div>
    <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
      <div class="fr-col-6 fr-col-lg-6">
        <div class="fr-input-group">
          <label for="ressources_ae" class="fr-label">HCAS</label>
          <div class="fr-input-wrap fr-icon-money-euro-circle-line">
            <%= f.text_field :ressources_ae, value: @gestion_schema.ressources_ae, id: "ressources_ae", class: "fr-input", data: { action: 'input->form#changeNumberPositive', form_target: "aeInputs fieldRequire" } %>
          </div>
        </div>
      </div>
      <div class="fr-col-6 fr-col-lg-6">
        <div class="fr-input-group">
          <label for="ressources_cp" class="fr-label">CAS</label>
          <div class="fr-input-wrap fr-icon-money-euro-circle-line">
            <%= f.text_field :ressources_cp, value: @gestion_schema.ressources_cp, id: "ressources_cp", class: "fr-input", data: { action: 'input->form#changeNumberPositive', form_target: "cpInputs fieldRequire" } %>
          </div>
        </div>
      </div>
    </div>

    <div class="fr-h6 fr-mb-1w">Prévision de
      dépense* <%= render partial: "gestion_schemas/tooltip", locals: { name: "depense" } %></div>
    <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
      <div class="fr-col-6 fr-col-lg-6">
        <div class="fr-input-group">
          <label for="depenses_ae" class="fr-label">HCAS</label>
          <div class="fr-input-wrap fr-icon-money-euro-circle-line">
            <%= f.text_field :depenses_ae, value: @gestion_schema.depenses_ae, id: "depenses_ae", class: "fr-input", data: { action: 'input->form#changeNumberNegative', form_target: "aeInputs fieldRequire" } %>
          </div>
        </div>
      </div>
      <div class="fr-col-6 fr-col-lg-6">
        <div class="fr-input-group">
          <label for="depenses_cp" class="fr-label">CAS</label>
          <div class="fr-input-wrap fr-icon-money-euro-circle-line">
            <%= f.text_field :depenses_cp, value: @gestion_schema.depenses_cp, id: "depenses_cp", class: "fr-input", data: { action: 'input->form#changeNumberNegative', form_target: "cpInputs fieldRequire" } %>
          </div>
        </div>
      </div>
    </div>

    <div class="fr-h5">Solde
      prévisionnel <%= render partial: "gestion_schemas/tooltip", locals: { name: "solde_previsionnel" } %></div>
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-6">
        <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
          <div class="fr-cart__body">
            <p class="fr-text--lg fr-mb-0 text_center">HCAS</p>
            <p class="fr-text--lg fr-text--bold fr-mb-0 text_center" data-form-target="soldePrevAe">-</p>
          </div>
        </div>
      </div>
      <div class="fr-col-6">
        <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
          <div class="fr-cart__body">
            <p class="fr-text--lg fr-mb-0 text_center">CAS</p>
            <p class="fr-text--lg fr-text--bold fr-mb-0 text_center" data-form-target="soldePrevCp">-</p>
          </div>
        </div>
      </div>
    </div>

    <hr class="fr-hr fr-mt-3w">

    <div class="fr-h6 fr-mb-1w">Niveau de la mise en
      réserve* <%= render partial: "gestion_schemas/tooltip", locals: { name: "mer" } %></div>
    <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
      <div class="fr-col-6 fr-col-lg-6">
        <div class="fr-input-group">
          <label for="mer_ae" class="fr-label">HCAS</label>
          <div class="fr-input-wrap fr-icon-money-euro-circle-line">
            <%= f.text_field :mer_ae, value: @gestion_schema.mer_ae, id: "mer_ae", class: "fr-input", data: { action: 'input->form#changeNumberPositive', form_target: "fieldRequire" } %>
          </div>
        </div>
      </div>
      <div class="fr-col-6 fr-col-lg-6">
        <div class="fr-input-group">
          <label for="mer_cp" class="fr-label">CAS</label>
          <div class="fr-input-wrap fr-icon-money-euro-circle-line">
            <%= f.text_field :mer_cp, value: @gestion_schema.mer_cp, id: "mer_cp", class: "fr-input", data: { action: 'input->form#changeNumberPositive', form_target: "fieldRequire" } %>
          </div>
        </div>
      </div>
    </div>

    <div class="fr-h6 fr-mb-1w">Autres cas de réserve de
      crédits <%= render partial: "gestion_schemas/tooltip", locals: { name: "surgel" } %></div>
    <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
      <div class="fr-col-6 fr-col-lg-6">
        <div class="fr-input-group">
          <label for="surgel_ae" class="fr-label">HCAS</label>
          <div class="fr-input-wrap fr-icon-money-euro-circle-line">
            <%= f.text_field :surgel_ae, value: @gestion_schema.surgel_ae, id: "surgel_ae", class: "fr-input", data: { action: 'input->form#changeNumberPositive' } %>
          </div>
        </div>
      </div>
      <div class="fr-col-6 fr-col-lg-6">
        <div class="fr-input-group">
          <label for="surgel_cp" class="fr-label">CAS</label>
          <div class="fr-input-wrap fr-icon-money-euro-circle-line">
            <%= f.text_field :surgel_cp, value: @gestion_schema.surgel_cp, id: "surgel_cp", class: "fr-input", data: { action: 'input->form#changeNumberPositive' } %>
          </div>
        </div>
      </div>
    </div>

    <hr class="fr-hr fr-mt-3w">

    <div class="fr-h5">Hypothèses de couverture et autres mouvements</div>
    <div class="fr-h6 fr-mb-1w">Mobilisation de la mise en
      réserve <%= render partial: "gestion_schemas/tooltip", locals: { name: "mobilisation_mer" } %></div>
    <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
      <div class="fr-col-6 fr-col-lg-6">
        <div class="fr-input-group">
          <label for="mobilisation_mer_ae" class="fr-label">HCAS</label>
          <div class="fr-input-wrap fr-icon-money-euro-circle-line">
            <%= f.text_field :mobilisation_mer_ae, value: @gestion_schema.mobilisation_mer_ae, id: "mobilisation_mer_ae", class: "fr-input", data: { action: 'input->form#changeNumberPositive', form_target: "aeInputs" } %>
          </div>
        </div>
      </div>
      <div class="fr-col-6 fr-col-lg-6">
        <div class="fr-input-group">
          <label for="mobilisation_mer_cp" class="fr-label">CAS</label>
          <div class="fr-input-wrap fr-icon-money-euro-circle-line">
            <%= f.text_field :mobilisation_mer_cp, value: @gestion_schema.mobilisation_mer_cp, id: "mobilisation_mer_cp", class: "fr-input", data: { action: 'input->form#changeNumberPositive', form_target: "cpInputs" } %>
          </div>
        </div>
      </div>
    </div>

    <div class="fr-h6 fr-mb-1w">Mobilisation des autres cas de réserve</div>
    <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
      <div class="fr-col-6 fr-col-lg-6">
        <div class="fr-input-group">
          <label for="mobilisation_surgel_ae" class="fr-label">HCAS</label>
          <div class="fr-input-wrap fr-icon-money-euro-circle-line">
            <%= f.text_field :mobilisation_surgel_ae, value: @gestion_schema.mobilisation_surgel_ae, id: "mobilisation_surgel_ae", class: "fr-input", data: { action: 'input->form#changeNumberPositive', form_target: "aeInputs" } %>
          </div>
        </div>
      </div>
      <div class="fr-col-6 fr-col-lg-6">
        <div class="fr-input-group">
          <label for="mobilisation_surgel_cp" class="fr-label">CAS</label>
          <div class="fr-input-wrap fr-icon-money-euro-circle-line">
            <%= f.text_field :mobilisation_surgel_cp, value: @gestion_schema.mobilisation_surgel_cp, id: "mobilisation_surgel_cp", class: "fr-input", data: { action: 'input->form#changeNumberPositive', form_target: "cpInputs" } %>
          </div>
        </div>
      </div>
    </div>

    <% if @programme.dotation == "HT2 et T2" %>
      <% gestion_schema_ht2 = @schema.gestion_schemas.find_by(vision: @vision, profil: "HT2") %>
      <%= f.hidden_field :fongibilite_ae, value: -gestion_schema_ht2.fongibilite_ae, data: {form_target: "aeInputs" } %>
      <%= f.hidden_field :fongibilite_cp, value: 0, data: {form_target: "cpInputs" } %>
      <div class="fr-h6 fr-mb-1w">Fongibilité asymétrique </div>
      <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
        <div class="fr-col-6 fr-col-lg-6">
          <div class="fr-input-group">
            <label for="fongibilite_ae" class="fr-label">HCAS</label>
            <div class="fr-text--bold fr-my-3v"><%= format_number(-gestion_schema_ht2.fongibilite_ae) %> €</div>
          </div>
        </div>
        <div class="fr-col-6 fr-col-lg-6">
          <div class="fr-input-group">
            <label for="fongibilite_cp" class="fr-label">CAS</label>
            <div class="fr-text--bold fr-my-3v">0 €</div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="fr-h6 fr-mb-1w">Fongibilité
      HCAS/CAS</div>
    <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
      <div class="fr-col-6 fr-col-lg-6">
        <div class="fr-input-group">
          <label for="fongibilite_hcas" class="fr-label">HCAS</label>
          <div class="fr-input-wrap fr-icon-money-euro-circle-line">
            <%= f.text_field :fongibilite_hcas, value: @gestion_schema.fongibilite_hcas, id: "fongibilite_hcas", class: "fr-input", data: { action: 'input->form#changeNumberPositive', form_target: "aeInputs" } %>
          </div>
        </div>
      </div>
      <div class="fr-col-6 fr-col-lg-6">
        <div class="fr-input-group">
          <label for="fongibilite_cp" class="fr-label">CAS(=-HCAS)</label>
          <div class="fr-text--bold fr-my-3v" id="fongibilite_cas"></div>
          <%= f.hidden_field :fongibilite_cas, id: 'fongibilite_cas_input', data: {'form-target': 'cpInputs'} %>
        </div>
      </div>
    </div>

    <div class="fr-h6 fr-mb-1w">Virements/transferts
      entrants <%= render partial: "gestion_schemas/tooltip", locals: { name: "transferts_entrant" } %>
      <span class="fr-hint-text">Chaque virement doit être associé à un programme et ne pas contenir de valeur vide</span>
    </div>

    <template data-nested-form-target="template">
      <%= f.fields_for :transferts, Transfert.new(nature: 'entrant'), child_index: 'NEW_RECORD' do |transfert_fields| %>
        <%= render "transfert_form", f: transfert_fields %>
      <% end %>
    </template>

    <%= f.fields_for :transferts, f.object.transferts.entrant do |transfert_fields| %>
      <%= render "transfert_form", f: transfert_fields %>
    <% end %>

    <!-- Inserted elements will be injected before that target. -->
    <div data-nested-form-target="target"></div>
    <button type="button" data-action="nested-form#add" class="fr-link fr-icon-add-line fr-link--icon-left fr-mb-2w">Ajouter
      un virement / transfert entrant
    </button>

    <div class="fr-h6 fr-mb-1w">Virements/transferts
      sortants <%= render partial: "gestion_schemas/tooltip", locals: { name: "transferts_sortant" } %>
      <span class="fr-hint-text">Chaque virement doit être associé à un programme et ne pas contenir de valeur vide</span>
    </div>

    <template data-nested-form2-target="template">
      <%= f.fields_for :transferts, Transfert.new(nature: 'sortant'), child_index: 'NEW_RECORD' do |transfert_fields| %>
        <%= render "transfert_form_sortant", f: transfert_fields %>
      <% end %>
    </template>

    <%= f.fields_for :transferts, f.object.transferts.sortant do |transfert_fields| %>
      <%= render "transfert_form_sortant", f: transfert_fields %>
    <% end %>

    <!-- Inserted elements will be injected before that target. -->
    <div data-nested-form2-target="target"></div>
    <button type="button" data-action="nested-form2#add" class="fr-link fr-icon-add-line fr-link--icon-left fr-mb-2w">Ajouter
      un virement / transfert sortant
    </button>


    <div class="fr-h6 fr-mb-1w">Décret
      d'avance <%= render partial: "gestion_schemas/tooltip", locals: { name: "decret" } %>
      <span class="fr-hint-text">Renseigner une valeur négative en cas de décret négatif</span></div>
    <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
      <div class="fr-col-6 fr-col-lg-6">
        <div class="fr-input-group">
          <label for="decret_ae" class="fr-label">HCAS</label>
          <div class="fr-input-wrap fr-icon-money-euro-circle-line">
            <%= f.text_field :decret_ae, value: @gestion_schema.decret_ae, id: "decret_ae", class: "fr-input", data: { action: 'input->form#changeNumber', form_target: "aeInputs" } %>
          </div>
        </div>
      </div>
      <div class="fr-col-6 fr-col-lg-6">
        <div class="fr-input-group">
          <label for="decret_cp" class="fr-label">CAS</label>
          <div class="fr-input-wrap fr-icon-money-euro-circle-line">
            <%= f.text_field :decret_cp, value: @gestion_schema.decret_cp, id: "decret_cp", class: "fr-input", data: { action: 'input->form#changeNumber', form_target: "cpInputs" } %>
          </div>
        </div>
      </div>
    </div>

    <div class="fr-h6 fr-mb-1w">Ouverture/annulation de crédits en
      LFG <%= render partial: "gestion_schemas/tooltip", locals: { name: "credits_ouverts" } %>
      <span class="fr-hint-text">Renseigner une valeur négative en cas d'annulation</span></div>
    <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
      <div class="fr-col-6 fr-col-lg-6">
        <div class="fr-input-group">
          <label for="credits_lfg_ae" class="fr-label">HCAS</label>
          <div class="fr-input-wrap fr-icon-money-euro-circle-line">
            <%= f.text_field :credits_lfg_ae, value: @gestion_schema.credits_lfg_ae, id: "credits_lfg_ae", class: "fr-input", data: { action: 'input->form#changeNumber', form_target: "aeInputs" } %>
          </div>
        </div>
      </div>
      <div class="fr-col-6 fr-col-lg-6">
        <div class="fr-input-group">
          <label for="credits_lfg_cp" class="fr-label">CAS</label>
          <div class="fr-input-wrap fr-icon-money-euro-circle-line">
            <%= f.text_field :credits_lfg_cp, value: @gestion_schema.credits_lfg_cp, id: "credits_lfg_cp", class: "fr-input", data: { action: 'input->form#changeNumber', form_target: "cpInputs" } %>
          </div>
        </div>
      </div>
    </div>

    <div class="fr-h5">Solde résultant des hypothèses de
      couverture <%= render partial: "gestion_schemas/tooltip", locals: { name: "solde" } %></div>
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-6">
        <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
          <div class="fr-cart__body">
            <p class="fr-text--lg fr-mb-0 text_center">HCAS</p>
            <p class="fr-text--lg fr-text--bold fr-mb-0 text_center" data-form-target="soldeAe">-</p>
          </div>
        </div>
      </div>
      <div class="fr-col-6">
        <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
          <div class="fr-cart__body">
            <p class="fr-text--lg fr-mb-0 text_center">CAS</p>
            <p class="fr-text--lg fr-text--bold fr-mb-0 text_center" data-form-target="soldeCp">-</p>
          </div>
        </div>
      </div>
    </div>

    <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
      <div class="fr-col-12 fr-col-lg-12">
        <div class="fr-input-group">
          <label for="commentaire" class="fr-label">Commentaire de l’analyse de fin de gestion crédits T2 du
            <%= @step == 3 ? 'RPROG' : 'CBCM' %>
            * <%= render partial: "gestion_schemas/tooltip", locals: { name: "commentaire" } %></label>
          <%= f.text_area :commentaire, rows: 4, value: @step == 3 || @edit ? @gestion_schema.commentaire : nil, id: "commentaire", class: "fr-input", data: { form_target: "fieldRequire" } %>
        </div>
      </div>
    </div>

    <div class="fr-grid-row fr-grid-row--right">
      <div class="fr-grid-row fr-grid-row--right">
        <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--right fr-btns-group--icon-left">
          <li>
            <button type="button" class="fr-btn fr-btn--secondary" data-fr-opened="false" aria-controls="fr-modal-brouillon">
              Enregistrer en Brouillon
            </button>
          </li>
          <li>
            <% text_confirm = @step == 3 ? 'Enregistrer et passer à la vision CBCM' : 'Valider' %>
            <%= f.submit text_confirm, class: "fr-btn", data: { 'form-target': "Btnvalidate", action: "click->form#changeTextToFloat" } %>
          </li>
        </ul>
      </div>
    </div>

    <dialog id="fr-modal-brouillon" class="fr-modal">
      <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
          <div class="fr-col-12 fr-col-md-10 fr-col-lg-9">
            <div class="fr-modal__body">
              <div class="fr-modal__header">
                <button class="fr-btn--close fr-btn" aria-controls="fr-modal-brouillon" title="Fermer" data-action="click->form#preventDefault">
                  Fermer
                </button>
              </div>
              <div class="fr-modal__content">
                <div class="fr-alert fr-alert--warning fr-mb-4w">
                  <h3 class="fr-alert__title">Vous êtes sur le point de quitter le formulaire</h3>
                </div>
                <h1 id="modal-1-title" class="fr-modal__title">
                  <span class="fr-icon-arrow-right-line fr-icon--lg" aria-hidden="true"></span>
                  Enregistrer et quitter
                </h1>
                <p class="fr-my-1w">Cliquer sur "Confirmer" pour quitter le formulaire et enregistrer vos données en
                  tant que brouillon.</p>
                <div>
                  <ul class="fr-btns-group fr-btns-group--icon-left fr-btns-group--inline fr-btns-group--right">
                    <li>
                      <button class="fr-btn fr-btn--secondary" aria-controls="fr-modal-brouillon" title="Annuler" data-action="click->form#preventDefault">Annuler</button>
                    </li>
                    <li>
                      <button type="button" class="fr-btn" data-action="click->form#saveDraft">
                        Confirmer
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </dialog>
  <% end %>
</div>
