<div class="fr-card fr-card--shadow">
  <div class="fr-card__body">
    <div class="fr-card__content">
      <h3 class="fr-card__title">Avis sur la programmation</h3>
      <div class="fr-card__desc">
        <div>
          <p class="fr-badge fr-badge--purple-glycine fr-mb-1w"><%= phase %></p>
          <p class="fr-card__detail fr-icon-arrow-right-line">Du <%= I18n.localize(date_ouverture, format: "%e %B") %>
            au <%= I18n.localize(date_fermeture, format: "%e %B") %></p>
        </div>

        <% if @statut_user == "DCB" %>
          <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
            <div class="fr-col-lg-2 fr-col-2"><%= image_tag "artwork/pictograms/system/notification.svg", alt: "" %></div>
            <div class="fr-col-lg-10 fr-col-10">
              <div class="fr-mt-1w">Vous avez <%= current_user.avis_a_lire %> avis/notes en attente de
                lecture<br>
                <%= link_to consultation_path, class: "fr-link fr-link--lg fr-icon-arrow-right-line fr-link--icon-right" do %>
                  Consulter les avis transmis par les CBR
                <% end %>
              </div>
            </div>
          </div>
        <% end %>

        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12 fr-col-lg-5">
            <div class="fr-grid-row fr-grid-row--gutters fr-mt-1w">
              <div class="fr-col-2">
                <span class="fr-icon-edit-fill fr-fi--lg cbleu" aria-hidden="true"></span>
              </div>
              <div class="fr-col-10">
                <h3 class="fr-text--lg fr-mb-2v"><%= avis_a_rediger %>/<%= total %> </h3>
                <p class="fr-text--sm fr-mb-3w">
                  <% if phase == 'début de gestion' %>avis
                  <% else %>notes <%= phase %>
                  <% end %> à rédiger</p>
              </div>
            </div>
            <div class="fr-grid-row fr-grid-row--gutters">
              <div class="fr-col-2">
                <span class="<%= phase == 'début de gestion' ? "fr-icon-chat-check-fill cbleu" : "fr-icon-flag-fill cbleu-minor" %> fr-fi--lg " aria-hidden="true"></span>
              </div>
              <div class="fr-col-10">
                <h3 class="fr-text--lg fr-mb-2v"><%= valeur2 %>/<%= total %> </h3>
                <p class="fr-text--sm fr-mb-3w">
                  <% if phase == 'début de gestion' %>avis donnés sans interruption du délai
                  <% elsif phase == 'CRG1' %>BOP avec risques éventuels
                  <% elsif phase == 'CRG2' %>BOP avec risques modérés
                  <% end %></p>
              </div>
            </div>
            <div class="fr-grid-row fr-grid-row--gutters">
              <div class="fr-col-2">
                <span class="<%= phase == 'début de gestion' ? "fr-icon-calendar-event-fill cbleu" : "fr-icon-flag-fill crouge" %> fr-fi--lg " aria-hidden="true"></span>
              </div>
              <div class="fr-col-10">
                <h3 class="fr-text--lg fr-mb-2v"><%= valeur3 %>/<%= total %> </h3>
                <p class="fr-text--sm fr-mb-3w">
                  <% if phase == 'début de gestion' %>CRG1 prévus
                  <% elsif phase == 'CRG1' %>BOP avec risques certains
                  <% elsif phase == 'CRG2' %>BOP avec risques significatifs
                  <% end %></p>
              </div>
            </div>

          </div>
          <div class="fr-col-12 fr-col-lg-7">
            <div data-highcharts-target=<%= nom_graphe %>></div>
          </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12 fr-col-lg-6">
            <div class="fr-tile fr-enlarge-link">
              <div class="fr-tile__body">
                <div class="fr-tile__content">
                  <h3 class="fr-tile__title">
                    <%= link_to historique_path do %>
                      Consulter
                      <% if current_user.statut == "admin" %>les
                      <% else %>mes
                      <% end %> avis renseignés
                    <% end %>
                  </h3>
                </div>
              </div>
            </div>
          </div>
          <div class="fr-col-12 fr-col-lg-6">
            <div class="fr-tile fr-enlarge-link">
              <div class="fr-tile__body">
                <div class="fr-tile__content">
                  <h3 class="fr-tile__title">
                    <% if current_user.statut == "admin" %>
                      <%= link_to restitutions_path do %>
                        Accéder au tableau de bord
                      <% end %>
                      <% else %>
                      <%= link_to restitutions_perimetre_path do %>
                        Accéder au tableau de bord
                      <% end %>
                    <% end %>
                  </h3>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
          <div class="fr-col-12 fr-col-lg-12">
            <div class="fr-tile fr-enlarge-link">
              <div class="fr-tile__body">
                <div class="fr-tile__content">
                  <h3 class="fr-tile__title">
                    <%= link_to remplissage_avis_path do %>
                      Donner un avis ou une note sur la programmation
                    <% end %>
                  </h3>
                </div>
              </div>
              <div class="fr-tile__header">
                <div class="fr-tile__pictogram">
                  <%= image_tag "artwork/pictograms/digital/data-visualization.svg", class: "fr-responsive-img", alt: "" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
