<div class="fr-accordions-group fr-mb-4w">
  <% bops.each do |bop| %>
    <% avis_bop_debut = @avis_remplis.select{ |a| a.bop_id == bop.id && a.phase == "début de gestion"}.first %>
    <% avis_bop_crg1 = @avis_remplis.select{ |a| a.bop_id == bop.id && a.phase == "CRG1"}.first %>
    <% avis_bop_crg2 = @avis_remplis.select{ |a| a.bop_id == bop.id && a.phase == "CRG2"}.first %>
    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-<%=bop.id %>">
          BOP n°<%= bop.code %>
          <% if bop.dotation == "aucune" || (@annee_a_afficher < @annee && avis_bop_debut.nil?)%>
            <p class="fr-badge fr-badge--no-icon fr-ml-2w">BOP inactif</p>
          <%else %>
            <% unless avis_bop_debut.nil?%>
              <% avis_statut = avis_bop_debut.statut %>
              <p class="fr-badge <% if avis_statut == "Favorable" %>fr-badge--success<%elsif avis_statut == "Favorable avec réserve"%>fr-badge--new<%elsif avis_statut == "Défavorable"%>fr-badge--warning<% end %> fr-badge--no-icon fr-ml-2w">Avis <%= avis_statut %></p>
            <%end %>
            <% if avis_bop_crg1.nil? %>
              <% if avis_bop_debut && avis_bop_debut.is_crg1 == false %>
                <p class="fr-badge fr-badge--no-icon fr-ml-2w">PAS DE CRG1</p>
              <%end %>
            <% else %>
              <% note_crg1_statut = avis_bop_crg1.statut %>
              <p class="fr-badge <% if note_crg1_statut == "Aucun risque" %>fr-badge--success<% elsif note_crg1_statut == "Risques éventuels ou modérés" %>fr-badge--new<% elsif note_crg1_statut == "Risques certains ou significatifs" %>fr-badge--warning<% end %> fr-badge--no-icon fr-ml-2w">CRG1 : <%= note_crg1_statut %></p>
            <%end %>
            <% unless avis_bop_crg2.nil? %>
              <% note_crg2_statut = avis_bop_crg2.statut %>
              <p class="fr-badge <% if note_crg2_statut == "Aucun risque" %>fr-badge--success<% elsif note_crg2_statut == "Risques modérés" %>fr-badge--new<% elsif note_crg2_statut == "Risques significatifs" %>fr-badge--warning<% end %> fr-badge--no-icon fr-ml-2w">CRG2 : <%= note_crg2_statut %></p>
            <%end %>
          <%end %>
        </button>
      </h3>
      <div class="fr-collapse" id="accordion-<%= bop.id %>">
        <p class="fr-tag fr-mb-2w"><%= @bops_user[bop.id]%></p>
        <ul class="fr-btns-group fr-btns-group--inline">
          <% if avis_bop_debut.nil? %>
            <li><button class="fr-btn" disabled>Avis début de gestion</button></li>
          <%else %>
            <li>
              <%= link_to open_modal_path(id: avis_bop_debut.id), class:"fr-btn","data-fr-opened": false,"aria-controls":"modal-1",data: { "turbo_method": :post} do %>Avis début de gestion<%end %>
            </li>
          <%end %>
          <% if avis_bop_crg1.nil? %>
            <% if avis_bop_debut.nil? || avis_bop_debut.is_crg1 == true %>
              <li><button class="fr-btn" disabled>Note CRG1</button></li>
            <%end %>
          <%else %>
            <li>
              <%= link_to open_modal_path(id: avis_bop_crg1.id), class:"fr-btn","data-fr-opened": false,"aria-controls":"modal-1",data: { "turbo_method": :post} do %>Note CRG1<%end %>
            </li>
          <%end %>
          <% if avis_bop_crg2.nil?%>
            <li><button class="fr-btn" disabled>Note CRG2</button></li>
          <%else %>
            <li>
              <%= link_to open_modal_path(id: avis_bop_crg2.id), class:"fr-btn","data-fr-opened": false,"aria-controls":"modal-1",data: { "turbo_method": :post} do %>Note CRG2<%end %>
            </li>
          <%end %>
        </ul>
      </div>
    </section>
  <% end %>
</div>

<dialog id="modal-1" class="fr-modal" aria-labelledby="modal-1-title">
  <div id="debut">
    <%= render partial: 'avis/dialog_debut',locals: {avis: nil} %>
  </div>
</dialog>