<% if phase == "CRG1" %>
  <% total = (hash_phase_user["CRG1"].transpose.map{|e| e.inject(:+)}[1] == 0 ? 100 : ((hash_phase_user["CRG1"].transpose.map{|e| e.inject(:+)}[3] +
  hash_phase_user["CRG1"].transpose.map{|e| e.inject(:+)}[4] +
  hash_phase_user["CRG1"].transpose.map{|e| e.inject(:+)}[5]).to_f/hash_phase_user["CRG1"].transpose.map{|e| e.inject(:+)}[1]*100).round)%>
<% else  %>
  <% total = ((hash_phase_user[phase].transpose.map{|e| e.inject(:+)}[3] +
    hash_phase_user[phase].transpose.map{|e| e.inject(:+)}[4] +
    hash_phase_user[phase].transpose.map{|e| e.inject(:+)}[5]).to_f/hash_phase_user["début de gestion"].transpose.map{|e| e.inject(:+)}[1]*100).round %>
<% end  %>
<tbody>
<tr class="total"><td>Total</td>
  <td><%= total %>%</td>
  <td><%= hash_phase_user[phase].transpose.map{|e| e.inject(:+)}[1] %></td>
  <td><%= hash_phase_user[phase].transpose.map{|e| e.inject(:+)}[6] %></td>
  <td><%= hash_phase_user[phase].transpose.map{|e| e.inject(:+)}[2] %></td>
  <td><%= hash_phase_user[phase].transpose.map{|e| e.inject(:+)}[3] %></td>
  <td><%= hash_phase_user[phase].transpose.map{|e| e.inject(:+)}[4] %></td>
  <td><%= hash_phase_user[phase].transpose.map{|e| e.inject(:+)}[5] %></td>
</tr>
<%  hash_phase_user[phase].each do |user_array|%>
  <tr>
    <td><%= user_array[0] %></td>
    <td><%= user_array[7] %>%</td>
    <td><%= user_array[1] %></td>
    <td><%= user_array[6] %></td>
    <td><%= user_array[2] %></td>
    <td><%= user_array[3] %></td>
    <td><%= user_array[4] %></td>
    <td><%= user_array[5] %></td>
  </tr>
<% end %>
</tbody>