<tbody>
  <tr class="total"><td>Total</td>
    <td><%= (hash_phase_lecture[phase].transpose.map{|e| e.inject(:+)}[2] == 0 ? 100 :
               (hash_phase_lecture[phase].transpose.map{|e| e.inject(:+)}[3].to_f/(hash_phase_lecture[phase].transpose.map{|e| e.inject(:+)}[3]+hash_phase_lecture[phase].transpose.map{|e| e.inject(:+)}[2])*100).round) %>%</td>
    <td><%= hash_phase_lecture[phase].transpose.map{|e| e.inject(:+)}[1] %></td>
    <td><%= hash_phase_lecture[phase].transpose.map{|e| e.inject(:+)}[4] %></td>
    <td><%= hash_phase_lecture[phase].transpose.map{|e| e.inject(:+)}[2] %></td>
    <td><%= hash_phase_lecture[phase].transpose.map{|e| e.inject(:+)}[3] %></td>

  </tr>
  <%  hash_phase_lecture[phase].each do |user_array|%>
    <tr>
      <td><%= user_array[0] %></td>
      <td><%= user_array[5] %>%</td>
      <td><%= user_array[1] %></td>
      <td><%= user_array[4] %></td>
      <td><%= user_array[2] %></td>
      <td><%= user_array[3] %></td>
    </tr>
  <%end %>
</tbody>