<% content_for :title do %> Accueil | ANACO
<% end %>
<main>
  <% if current_user.statut == "CBR" || current_user.statut == "DCB" %>
    <%= render 'notice' %>
  <% end %>
  <div class="fr-container fr-mb-4w" data-controller="highcharts" data-highcharts-avis="<%= @avis_repartition %>" data-highcharts-notes1="<%= @notes_crg1 %>" data-highcharts-notes2="<%= @notes_crg2 %>">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-lg-12">
        <h1 class="fr-mt-6w fr-mb-2w"><%= current_user.nom %></h1>
      </div>
    </div>

    <% if @phase == 'services votés' %>
      <div class="fr-notice fr-notice--warning fr-mb-4w">
        <div class="fr-container">
          <div class="fr-notice__body">
            <p>
              <span class="fr-notice__title">Au regard du contexte actuel, les avis de début de gestion ne sont pas encore ouverts.</span>
              <% if current_user.statut != 'admin' %>
                <span class="fr-notice__desc">Vous pouvez cependant remplir un avis sur la prévision de dépenses au titre des services votés en cliquant sur le lien ci-dessous :</span>
                <%= link_to remplissage_avis_path, target: "_self", class: "fr-notice__link" do %>Remplir un avis sur la
                  prévision des dépenses
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% end %>

    <div class="fr-grid-row fr-grid-row--gutters fr-mb-4w" data-controller="search">
      <div class="fr-col-12 fr-col-lg-12">
        <% label = "Rechercher un programme, un ministère, une mission, un BOP" %>
        <%= form_with url: global_search_path, data: { turbo_frame: 'global_search' }, method: :get do |form| %>
          <div class="fr-search-bar" id="header-search" role="search">
            <label class="fr-label" for="search-784-input">
              <%= label %>
            </label>
            <%= form.text_field :query, value: params[:query], autofocus: true, class: 'fr-input', id: "search-784-input", placeholder: label, oninput: 'this.form.requestSubmit()', data: { action: "keyup->search#collapse" } %>
            <button class="fr-btn" title="Rechercher" aria-controls="modal-autocomplete" aria-expanded="false" data-search-target="button">
              <%= label %>
            </button>
          </div>
        <% end %>

        <div id="modal-autocomplete" class="fr-collapse shadow">
          <div class="fr-container fr-p-0">
            <div class="fr-grid-row">
              <div class="fr-col-12">
                <div class="fr-modal__body fr-modal--body-search">
                  <div class="fr-modal__content fr-mb-4w">
                    <%= turbo_frame_tag :global_search, target: "_top" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fr-grid-row fr-grid-row--gutters">
      <% if @phase == 'début de gestion' %>
        <div class="fr-col-12 fr-col-lg-6">
          <%= render partial: "pages/card_index", locals: { phase: 'début de gestion', date_ouverture: @date_debut, date_fermeture: @date_crg1.prev_day, total: @avis_total, avis_a_rediger: @avis_repartition[3], valeur2: avis_delai(@avis_remplis), valeur3: avis_crg1(@avis_remplis), nom_graphe: "canvasAvis" } %>
        </div>
      <% elsif @phase == 'CRG1' %>
        <div class="fr-col-12 fr-col-lg-6">
          <%= render partial: "pages/card_index", locals: { phase: 'CRG1', date_ouverture: @date_crg1, date_fermeture: @date_crg2.prev_day, total: avis_crg1(@avis_remplis), avis_a_rediger: @notes_crg1[3], valeur2: @notes_crg1[1], valeur3: @notes_crg1[2], nom_graphe: "canvasNotes1" } %>
        </div>
      <% elsif @phase == 'CRG2' %>
        <div class="fr-col-12 fr-col-lg-6">
          <%= render partial: "pages/card_index", locals: { phase: 'CRG2', date_ouverture: @date_crg2, date_fermeture: Date.new(@annee, 12, 31), total: @avis_total, avis_a_rediger: @notes_crg2[3], valeur2: @notes_crg2[1], valeur3: @notes_crg2[2], nom_graphe: "canvasNotes2" } %>
        </div>
      <% end %>

      <div class="fr-col-12 fr-col-lg-6">
        <div class="fr-card fr-card--shadow">
          <div class="fr-card__body">
            <div class="fr-card__content">
              <h3 class="fr-card__title">Instruction des actes</h3>
              <div class="fr-card__desc">
                <p class="fr-badge fr-badge--purple-glycine fr-mb-1w">HT2</p>
                <div class="fr-grid-row fr-grid-row--gutters">
                  <div class="fr-col-12 fr-col-lg-6">
                    <div class="fr-text--center">
                      <%= image_tag "artwork/pictograms/system/warning.svg", class: "fr-responsive-img image-icone", alt: "" %>
                      <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
                        <div class="fr-cart__body">
                          <p class="fr-text--lg fr-mb-0 text_center fr-text--bold"><%= @ht2_actes.echeance_courte %> </p>
                          <p class="fr-text--lg fr-mb-0 text_center">Actes avec échéance < 5 jours</p>
                        </div>
                      </div>
                    </div>
                    <div class="fr-text--center">
                      <%= image_tag "artwork/pictograms/system/success.svg", class: "fr-responsive-img image-icone", alt: "" %>
                      <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
                        <div class="fr-cart__body">
                          <p class="fr-text--lg fr-mb-0 text_center fr-text--bold"><%= @ht2_en_attente_validation %> </p>
                          <p class="fr-text--lg fr-mb-0 text_center">Actes en attente de validation</p>
                        </div>
                      </div>
                    </div>
                    <div class="fr-text--center">
                      <%= image_tag "artwork/pictograms/system/technical-error.svg", class: "fr-responsive-img image-icone", alt: "" %>
                      <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
                        <div class="fr-cart__body">
                          <p class="fr-text--lg fr-mb-0 text_center fr-text--bold"><%= @ht2_en_cours %> </p>
                          <p class="fr-text--lg fr-mb-0 text_center">Actes en cours d'instruction</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="fr-col-12 fr-col-lg-6">
                    <div class="fr-text--center">
                      <%= image_tag "artwork/pictograms/digital/mail-send.svg", class: "fr-responsive-img image-icone", alt: "" %>
                      <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
                        <div class="fr-cart__body">
                          <p class="fr-text--lg fr-mb-0 text_center fr-text--bold"><%= @ht2_actes.count_current_with_long_delay %></p>
                          <p class="fr-text--lg fr-mb-0 text_center">Actes en cours dont le délai > 15 jours</p>
                        </div>
                      </div>
                    </div>
                    <div class="fr-text--center">
                      <%= image_tag "artwork/pictograms/digital/search.svg", class: "fr-responsive-img image-icone", alt: "" %>
                      <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
                        <div class="fr-cart__body">
                          <p class="fr-text--lg fr-mb-0 text_center fr-text--bold"><%= @ht2_pre_instruction %> </p>
                          <p class="fr-text--lg fr-mb-0 text_center">Actes en <br>pré-instruction</p>
                        </div>
                      </div>
                    </div>
                    <div class="fr-text--center">
                      <%= image_tag "artwork/pictograms/system/error.svg", class: "fr-responsive-img image-icone", alt: "" %>
                      <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
                        <div class="fr-cart__body">
                          <p class="fr-text--lg fr-mb-0 text_center fr-text--bold"><%= @ht2_suspendu %> </p>
                          <p class="fr-text--lg fr-mb-0 text_center">Actes suspendus et interrompus à date</p>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="fr-grid-row fr-grid-row--gutters">
                  <div class="fr-col-12 fr-col-lg-6">
                    <div class="fr-tile fr-enlarge-link">
                      <div class="fr-tile__body">
                        <div class="fr-tile__content">
                          <h3 class="fr-tile__title">
                            <%= link_to ht2_actes_path do %>
                              Consulter<% if @statut_user == "admin" %> les<% else %>/ajouter mes<% end %> actes
                            <% end %>
                          </h3>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="fr-col-12 fr-col-lg-6">
                    <div class="fr-tile fr-enlarge-link">
                      <div class="fr-tile__body">
                        <div class="fr-tile__content">
                          <h3 class="fr-tile__title">
                            <%= link_to synthese_ht2_actes_path do %>
                              Accéder au tableau de bord
                            <% end %>
                          </h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="fr-follow">
    <div class="fr-container">
      <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
        <div class="fr-col-12">
          <div class="fr-follow__newsletter">
            <div>
              <h2 class="fr-h5">Une question concernant ANACO ?</h2>
              <p class="fr-text--sm">Si vous rencontrez un problème dans l'utilisation de l'outil, vous pouvez nous
                envoyer un mail à l'adresse 2rec.budget@finances.gouv.fr ou en cliquant sur le bouton ci-contre.</p>
            </div>
            <div>
              <a href="mailto:2rec.budget@finances.gouv.fr?subject=Contact-ANACO" class="fr-btn" rel="noopener" target="_blank" title="Nous contacter - nouvelle fenêtre">Nous
                contacter</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>