<% content_for :title do %> Accueil | ANACO <% end %>
<main>
	<% if current_user.statut == "CBR" || current_user.statut == "DCB" %>
		<%= render 'notice'%>
	<%end %>
		<div class="fr-container fr-mb-4w" data-controller="highcharts" data-highcharts-avis="<%= @avis_repartition %>" data-highcharts-notes1="<%= @notes_crg1 %>" data-highcharts-notes2="<%= @notes_crg2 %>">
			<div class="fr-grid-row fr-grid-row--gutters">
				<div class="fr-col-12 fr-col-lg-12">
					<h1 class="fr-mt-6w fr-mb-2w"><%= current_user.nom %></h1>
					<h2 class='fr-h3'>Nous sommes en phase de <%= @phase %> <%= @annee %></h2>
				</div>
			</div>
			<% if @statut_user == "DCB" %>
				<div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
					<div class="fr-col-lg-1 fr-col-2"><%= image_tag "artwork/pictograms/system/notification.svg", alt: "" %></div>
					<div class="fr-col-lg-11 fr-col-10">
						<div class="fr-text--lg fr-mt-1w">Vous avez <%= current_user.avis_a_lire %> avis/notes en attente de lecture<br>
							<%= link_to consultation_path, class:"fr-link fr-link--lg fr-icon-arrow-right-line fr-link--icon-right" do %>
								Consulter les avis transmis par les CBR
							<%end %>
						</div>
					</div>
				</div>
			<% end  %>
			<div class="fr-grid-row fr-grid-row--gutters">
				<div class="fr-col-12 fr-col-lg-4">
					<%= render partial: "pages/card_index", locals: {phase: 'début de gestion', date_ouverture: @date_debut, date_fermeture: @date_crg1.prev_day, total: @avis_total, avis_a_rediger: @avis_repartition[3], valeur2: avis_delai(@avis_remplis), valeur3: avis_crg1(@avis_remplis) , nom_graphe: "canvasAvis"} %>
				</div>
				<div class="fr-col-12 fr-col-lg-4">
					<%= render partial: "pages/card_index", locals: {phase: 'CRG1', date_ouverture: @date_crg1, date_fermeture: @date_crg2.prev_day, total: avis_crg1(@avis_remplis), avis_a_rediger: @notes_crg1[3], valeur2: @notes_crg1[1], valeur3: @notes_crg1[2] , nom_graphe: "canvasNotes1"} %>
				</div>
				<div class="fr-col-12 fr-col-lg-4">
					<%= render partial: "pages/card_index", locals: {phase: 'CRG2', date_ouverture: @date_crg2, date_fermeture: Date.new(@annee, 12,31), total: @avis_total, avis_a_rediger: @notes_crg2[3], valeur2: @notes_crg2[1], valeur3: @notes_crg2[2] , nom_graphe: "canvasNotes2"} %>
				</div>
			</div>
		</div>

	<div class="fr-follow">
		<div class="fr-container">
        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
            <div class="fr-col-12">
                <div class="fr-follow__newsletter">
                    <div>
                        <h2 class="fr-h5">Une question concernant ANACO ?</h2>
                        <p class="fr-text--sm">Si vous rencontrez un problème dans l'utilisation de l'outil, vous pouvez nous envoyer un mail à l'adresse 2rec.budget@finances.gouv.fr ou en cliquant sur le bouton ci-contre.</p>
                    </div>
                    <div>
                       <a href="mailto:2rec.budget@finances.gouv.fr?subject=Contact-ANACO" class="fr-btn" rel="noopener" target="_blank" title="Nous contacter - nouvelle fenêtre">Nous contacter</a>
                    </div>
                </div>
            </div>
				</div>
		</div>
	</div>
</main>