<% content_for :title do %> Accueil | ANACO
<% end %>
<main>
  <div class="fr-home-follow">

  <div class="fr-container">
    <% if ENV["SERVICE_NAME"] == "anaco-test" %>
      <div class="fr-pt-2w">
        <%= render 'layouts/warning_test' %>
      </div>
    <% end %>
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-lg-12">
        <h1 class="fr-mt-6w fr-mb-2w"><%= current_user.nom %></h1>
      </div>
    </div>

    <div class="fr-grid-row fr-grid-row--gutters fr-mb-4w" data-controller="search">
      <div class="fr-col-12 fr-col-lg-12">
        <% label = "Rechercher un programme, un ministère, une mission, un BOP" %>
        <%= form_with url: global_search_path, data: { turbo_frame: 'global_search' }, method: :get do |form| %>
          <div class="fr-search-bar" id="header-search" role="search">
            <label class="fr-label" for="search-784-input">
              <%= label %>
            </label>
            <%= form.text_field :query, value: params[:query], autofocus: true, class: 'fr-input', id: "search-784-input", placeholder: label, oninput: 'this.form.requestSubmit()', data: { action: "keyup->search#collapse" } %>
            <button class="fr-btn" title="Rechercher" aria-controls="modal-autocomplete" aria-expanded="false" data-search-target="button">
              <%= label %>
            </button>
          </div>
        <% end %>

        <div id="modal-autocomplete" class="fr-collapse shadow">
          <div class="fr-container fr-p-0">
            <div class="fr-grid-row">
              <div class="fr-col-12">
                <div class="fr-modal__body fr-modal--body-search">
                  <div class="fr-modal__content fr-mb-4w">
                    <%= turbo_frame_tag :global_search, target: "_top" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-lg-6">
        <div class="fr-card fr-card--shadow">
          <div class="fr-card__body">
            <div class="fr-card__content">
              <h3 class="fr-card__title title-btn">Avis sur la programmation
                <p class="fr-badge fr-badge--sm fr-badge--green-emeraude fr-ml-1v"><%= @bops_actifs %> BOP actifs</p>
              </h3>
              <div class="fr-card__desc">
                <div>
                  <p class="fr-badge fr-badge--purple-glycine fr-mb-1w">Phase en cours : <%= @phase %></p>
                  <p class="fr-card__detail fr-icon-arrow-right-line">Du <%= I18n.localize(@date_ouverture, format: "%e %B") %>
                    au <%= I18n.localize(@date_fermeture, format: "%e %B %Y") %></p>
                </div>
                <% if @statut_user == "DCB" || @statut_user == "CBR" %>
                  <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12">
                      <ul class="fr-btns-group fr-btns-group--icon-left  fr-mt-2w">
                        <li>
                          <%= link_to remplissage_avis_path, class: "fr-btn fr-icon-add-line" do %>
                            Donner un avis ou une note sur la programmation
                          <% end %>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="fr-grid-row fr-grid-row--gutters ">
                    <div class="fr-col-12">
                      <div class="fr-tile fr-tile--horizontal fr-enlarge-link">
                        <div class="fr-tile__body">
                          <div class="fr-tile__content">
                            <h3 class="fr-tile__title">
                              <%= link_to remplissage_avis_path do %>
                                <%= pluralize(current_user.avis_a_remplir(Date.today.year, @phase), 'avis/note', plural: 'avis/notes') %>
                              <% end %>
                            </h3>
                            <p class="fr-tile__detail">
                              <span class="fr-badge--sm fr-badge fr-badge--pink-tuile">à rédiger</span>
                            </p>
                          </div>
                        </div>
                        <div class="fr-tile__header">
                          <%= image_tag "artwork/pictograms/document/contract.svg", class: "fr-responsive-img image-icone", alt: "" %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>

                <% if @statut_user == "DCB" %>
                  <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12">
                      <div class="fr-tile fr-tile--horizontal fr-enlarge-link">
                        <div class="fr-tile__body">
                          <div class="fr-tile__content">
                            <h3 class="fr-tile__title">
                              <%= link_to consultation_path do %>
                                Consulter les avis transmis par les CBR
                              <% end %>
                            </h3>
                            <p class="fr-tile__detail">
                              <span class="fr-badge--sm fr-badge fr-badge--pink-tuile"><%= pluralize(current_user.avis_a_lire, 'avis/note', plural: 'avis/notes') %>
                                en attente de lecture</span>
                            </p>
                          </div>
                        </div>
                        <div class="fr-tile__header">
                          <%= image_tag "artwork/pictograms/system/notification.svg", class: "fr-responsive-img image-icone", alt: "" %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
                <div class="fr-grid-row fr-grid-row--gutters">
                  <div class="fr-col-12 fr-col-lg-6">
                    <div class="fr-tile fr-enlarge-link">
                      <div class="fr-tile__body">
                        <div class="fr-tile__content">
                          <h3 class="fr-tile__title">
                            <%= link_to historique_path do %>
                              Accéder à l'historique
                            <% end %>
                          </h3>
                          <p class="fr-tile__detail">Tous exercices confondus</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="fr-col-12 fr-col-lg-6">
                    <div class="fr-tile fr-enlarge-link">
                      <div class="fr-tile__body">
                        <div class="fr-tile__content">
                          <h3 class="fr-tile__title">
                            <% if current_user.statut == "admin" %>
                              <%= link_to restitutions_path do %>
                                Accéder au tableau de bord
                              <% end %>
                            <% else %>
                              <%= link_to restitutions_perimetre_path do %>
                                Accéder au tableau de bord
                              <% end %>
                            <% end %>
                          </h3>
                          <p class="fr-tile__detail">Restitutions</p>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fr-col-12 fr-col-lg-6">
        <div class="fr-card fr-card--shadow">
          <div class="fr-card__body">
            <div class="fr-card__content">
              <h3 class="fr-card__title title-btn">Instruction des actes
                <p class="fr-badge fr-badge--sm fr-badge--green-emeraude fr-ml-1v">BETA</p></h3>
              <div class="fr-card__desc">
                <p class="fr-badge fr-badge--purple-glycine fr-mb-1w">HT2</p>
                <% if @statut_user == "DCB" || @statut_user == "CBR" %>
                  <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12">
                      <ul class="fr-btns-group fr-btns-group--icon-left  fr-mt-2w">
                        <li>
                          <a href="<%= new_modal_acte_path %>" data-turbo-frame="new_modal" class="fr-btn fr-icon-add-line" data-fr-opened="false" aria-controls="nouvel-acte-modal">
                            Nouvel acte
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="fr-grid-row fr-grid-row--gutters fr-home-actes">
                    <div class="fr-col-12">
                      <div class="fr-tile fr-tile--horizontal fr-enlarge-link">
                        <div class="fr-tile__body">
                          <div class="fr-tile__content">
                            <h3 class="fr-tile__title">
                              <%= link_to ht2_actes_path(tab: 'validation') do %>
                                <%= pluralize(@ht2_en_attente_validation, 'Acte', plural: 'Actes') %>
                              <% end %>
                            </h3>
                            <p class="fr-tile__detail">
                              <span class="fr-badge--sm fr-badge fr-badge--pink-tuile">à valider</span>
                            </p>
                          </div>
                        </div>
                        <div class="fr-tile__header">
                          <%= image_tag "artwork/pictograms/system/success.svg", class: "fr-responsive-img image-icone", alt: "" %>
                        </div>
                      </div>
                    </div>
                    <div class="fr-col-12 fr-col-lg-6">
                      <div class="fr-tile fr-tile--horizontal fr-enlarge-link">
                        <div class="fr-tile__body">
                          <div class="fr-tile__content">
                            <h3 class="fr-tile__title">
                              <%= link_to ht2_actes_path(tab: 'preinstruction') do %>
                                <%= pluralize(@ht2_pre_instruction, 'Acte', plural: 'Actes') %>
                              <% end %>
                            </h3>
                            <p class="fr-tile__detail">
                              <span class="fr-badge--sm fr-badge fr-badge--new fr-badge--no-icon">en pré-instruction</span>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="fr-col-12 fr-col-lg-6">
                      <div class="fr-tile fr-tile--horizontal fr-enlarge-link">
                        <div class="fr-tile__body">
                          <div class="fr-tile__content">
                            <h3 class="fr-tile__title">
                              <%= link_to ht2_actes_path(tab: 'instruction') do %>
                                <%= pluralize(@ht2_en_cours, 'Acte', plural: 'Actes') %>
                              <% end %>
                            </h3>
                            <p class="fr-tile__detail">
                              <span class="fr-badge--sm fr-badge fr-badge--green-archipel">en cours d'instruction</span>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="fr-col-12 fr-col-lg-6">
                      <div class="fr-tile fr-tile--horizontal fr-enlarge-link">
                        <div class="fr-tile__body">
                          <div class="fr-tile__content">
                            <h3 class="fr-tile__title">
                              <%= link_to ht2_actes_path(tab: 'suspendu') do %>
                                <%= pluralize(@ht2_suspendu, 'Acte', plural: 'Actes') %>
                              <% end %>
                            </h3>
                            <p class="fr-tile__detail">
                              <span class="fr-badge--sm fr-badge fr-badge--error fr-badge--no-icon">suspendus/ interrompus</span>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="fr-col-12 fr-col-lg-6">
                      <div class="fr-tile fr-tile--horizontal fr-enlarge-link">
                        <div class="fr-tile__body">
                          <div class="fr-tile__content">
                            <h3 class="fr-tile__title">
                              <%= link_to ht2_actes_path(tab: 'cloture') do %>
                                <%= pluralize(@ht2_cloture, 'Acte', plural: 'Actes') %>
                              <% end %>
                            </h3>
                            <p class="fr-tile__detail">
                              <span class="fr-badge--sm fr-badge fr-badge--yellow-tournesol">à clôturer</span>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="fr-col-12 fr-col-lg-6">
                      <div class="fr-text--center">
                        <%= image_tag "artwork/pictograms/system/warning.svg", class: "fr-responsive-img image-icone", alt: "" %>
                        <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
                          <div class="fr-cart__body">
                            <p class="fr-text--lg fr-mb-0 text_center fr-text--bold"><%= pluralize(@ht2_echeance_courte, 'Acte', plural: 'Actes') %> </p>
                            <p class="fr-text--lg fr-mb-0 text_center">Échéance < 5 jours</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="fr-col-12 fr-col-lg-6">
                      <div class="fr-text--center">
                        <%= image_tag "artwork/pictograms/system/error.svg", class: "fr-responsive-img image-icone", alt: "" %>
                        <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
                          <div class="fr-cart__body">
                            <p class="fr-text--lg fr-mb-0 text_center fr-text--bold"><%= pluralize(@ht2_long_delay, 'Acte', plural: 'Actes') %></p>
                            <p class="fr-text--lg fr-mb-0 text_center">En cours hors délai</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
                <div class="fr-grid-row fr-grid-row--gutters fr-mt-2w">
                  <div class="fr-col-12 fr-col-lg-6">
                    <div class="fr-tile fr-enlarge-link">
                      <div class="fr-tile__body">
                        <div class="fr-tile__content">
                          <h3 class="fr-tile__title">
                            <%= link_to historique_ht2_path do %>
                              Accéder à l'historique
                            <% end %>
                          </h3>
                          <p class="fr-tile__detail">Tous exercices confondus</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="fr-col-12 fr-col-lg-6">
                    <div class="fr-tile fr-enlarge-link">
                      <div class="fr-tile__body">
                        <div class="fr-tile__content">
                          <h3 class="fr-tile__title">
                            <%= link_to synthese_ht2_actes_path do %>
                              Accéder au tableau de bord
                            <% end %>
                          </h3>
                          <p class="fr-tile__detail">Restitutions</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="fr-follow">
    <div class="fr-container">
      <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
        <div class="fr-col-12">
          <div class="fr-follow__newsletter">
            <div>
              <h2 class="fr-h5">Une question concernant ANACO ?</h2>
              <p class="fr-text--sm">Si vous rencontrez un problème dans l'utilisation de l'outil, vous pouvez nous contacter par mail ou sur la messagerie instantanée TCHAP en cliquant sur le bouton ci-contre.</p>
            </div>
            <div>
              <button class="fr-btn" aria-controls="contact-modal" data-fr-opened="false">
                Nous contacter
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if @statut_user == "DCB" || @statut_user == "CBR" %>
    <dialog id="nouvel-acte-modal" class="fr-modal" aria-labelledby="modal-nouvel-acte-title" data-fr-concealing-backdrop="true">
      <%= turbo_frame_tag :new_modal %>
    </dialog>
  <% end %>
</main>

<dialog id="contact-modal" class="fr-modal" role="dialog" aria-labelledby="contact-modal-title">
  <div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
        <div class="fr-modal__body fr-scroll-shadow">
          <div class="fr-modal__header">
            <button class="fr-btn--close fr-btn" aria-controls="contact-modal">Fermer</button>
          </div>
          <div class="fr-modal__content">
            <h1 id="contact-modal-title" class="fr-modal__title">
              Nous contacter
            </h1>
            <div>
              <a href="mailto:2rec.budget@finances.gouv.fr?subject=Contact-ANACO" class="fr-btn" rel="noopener" target="_blank" title="Nous contacter - nouvelle fenêtre">Nous
                contacter par mail</a>
            </div>
            <div class="fr-mt-2w">
              <a href="https://tchap.gouv.fr/#/room/#ANACOtechniquespPAQuH0VrbX:agent.finances.tchap.gouv.fr" class="fr-btn" rel="noopener" target="_blank" title="Rejoindre le salon TCHAP ANAC">Nous
                contacter sur TCHAP</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</dialog>
