<% unless credit.nil? || credit.etat == "Brouillon" %>
  <div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-10 fr-col-lg-9">
        <div class="fr-modal__body">
          <div class="fr-modal__header">
            <button class="fr-btn--close fr-btn" aria-controls="modal-1" title="Fermer">
              Fermer
            </button>
          </div>
          <div class="fr-modal__content">
            <h1 id="modal-1-title" class="fr-modal__title">
              <span class="fr-icon-arrow-right-line fr-icon--lg" aria-hidden="true"></span>
              Crédits non répartis <%= credit.phase %> <%= credit.annee %> sur le programme n°<%= credit.programme.numero %>
            </h1>
            <% if credit.phase == "début de gestion" %>
              <p class="fr-my-1w"><span class="fr-text--bold">Date de réception du document de programmation :</span> <%= l(credit.date_document,format: "%e/%m/%y")%></p>
              <p class="fr-my-1w"><span class="fr-text--bold">CRG1 programmé :</span> <% if credit.is_crg1 == true%>Oui<%else%>Non<%end%></p>
            <%else %>
              <p class="fr-my-1w"><span class="fr-text--bold">Date de la transmission du <%= credit.phase %>:</span> <%= l(credit.date_document,format: "%e/%m/%y")%></p>
            <%end %>

            <p class="fr-text--lg fr-text--bold fr-mb-3w">Qualification de l’enveloppe : <%= credit.statut %></p>
            <p class="fr-my-1w"><span class="fr-text--bold">Observations du contrôleur budgétaire et comptable ministériel :</span> <%= auto_link(simple_format(credit.commentaire), :html => { :target => '_blank' })%></p>

            <div class="fr-mt-2w">
              <%= render partial: "credits/rappel_chiffres", locals: {credit: credit, class_active: 'fr-card--green'} %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>