<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-4">
    <div class="fr-card <%= class_active %> fr-p-2w fr-card--no-border">
      <div class="fr-cart__body text_center">
        <p class="fr-text--lg fr-mb-0">AE HT2</p>
        <p class="fr-text--lg fr-text--bold fr-mb-0 <%= credit.ae_i&.negative? ? 'crouge' : '' %>"><%= format_number(credit.ae_i)%>€</p>
      </div>
    </div>
  </div>
  <div class="fr-col-4">
    <div class="fr-card <%= class_active %> fr-p-2w fr-card--no-border">
      <div class="fr-cart__body text_center">
        <p class="fr-text--lg fr-mb-0">CP HT2</p>
        <p class="fr-text--lg fr-text--bold fr-mb-0 <%= credit.cp_i&.negative? ? 'crouge' : '' %>"><%= format_number(credit.cp_i)%>€</p>
      </div>
    </div>
  </div>
  <div class="fr-col-4">
    <div class="fr-card <%= class_active %> fr-p-2w fr-card--no-border">
      <div class="fr-cart__body text_center">
        <p class="fr-text--lg fr-mb-0">AE/CP T2</p>
        <p class="fr-text--lg fr-text--bold fr-mb-0 <%= credit.t2_i&.negative? ? 'crouge' : '' %>"><%= format_number(credit.t2_i)%>€</p>
      </div>
    </div>
  </div>
</div>