<% credits.each do |credit|%>
  <tr>
    <td><% if credit[1] =="début de gestion" %><%= credit[1].capitalize %><%else %><%= credit[1] %><%end %></td>
    <% if current_user.statut =="admin" %>
      <td><%= credit[12]%> </td>
    <%end %>
    <td><%= l(credit[3],format: "%e/%m/%y")%> </td>
    <td><%= credit[14] %> - <%= credit[15] %> </td>
    <td><%= credit[4] %></td>

    <td>
      <% if credit[2] == "Brouillon"%>
        <%if current_user.statut != "admin" %><%= link_to new_programme_credit_path(credit[13]), class: "fr-btn fr-btn--sm" do %>Reprendre<%end %><%end %>
      <%else%>
        <%= link_to open_modal_path(id: credit[0]), class:"fr-btn fr-btn--sm","data-fr-opened": false,"aria-controls":"modal-1",data: { "turbo_method": :post} do %>Consulter<%end %>
      <%end%>

    </td>
  </tr>
<% end %>
