<% content_for :title do %>Suivi des crédits non répartis | ANACO <% end %>
<div class="fr-container">
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-12">
      <h1 class="fr-my-6w title-btn"><div>Suivi des crédits non répartis par DCB</div>
        <nav role="navigation" class="fr-pagination" aria-label="Pagination">
          <ul class="fr-pagination__list">
            <li>
              <%= link_to credits_suivi_path(date: 2024), class: "fr-pagination__link",aria: (@annee_a_afficher == 2024 ? { current: 'page' } : {}) do %>
                2024
              <%end %>
            </li>
          </ul>
        </nav>
      </h1>
      <div class="fr-tabs fr-mb-4w">
        <ul class="fr-tabs__list" role="tablist" aria-label="Suivi du remplissage par phase">
          <% ['début de gestion', 'CRG1', 'CRG2'].each_with_index do |phase, i| %>
          <li role="presentation">
            <button id="tabpanel-<%= i%>" class="fr-tabs__tab" tabindex="0" role="tab" aria-selected="<%= phase == @phase ? 'true' : 'false'%>" aria-controls="tabpanel-<%=i %>-panel"><span class="fr-capitalize"><%= phase %></span></button>
          </li>
          <% end  %>
        </ul>
        <% ['début de gestion', 'CRG1', 'CRG2'].each_with_index do |phase, i| %>
        <div id="tabpanel-<%= i %>-panel" class="fr-tabs__panel " role="tabpanel" aria-labelledby="tabpanel-<%= i %>" tabindex="0">
          <div class="fr-table fr-table--layout-fixed--lg">
            <table>
              <caption>Suivi du remplissage des crédits non répartis</caption>
              <thead>
              <tr>
                <th scope="col">DCB</th>
                <th scope="col">Taux de remplissage</th>
                <th scope="col">Notes à rédiger</th>
                <th scope="col">Notes en attente</th>
                <th scope="col">Notes en brouillon</th>
                <th scope="col">Enveloppe excessive</th>
                <th scope="col">Enveloppe raisonnable</th>
                <th scope="col">Enveloppe insuffisante</th>
              </tr>
              </thead>
              <% total = (@hash_phase_user[phase].transpose.map{|e| e.inject(:+)}[1] == 0 ? 100 : ((@hash_phase_user[phase].transpose.map{|e| e.inject(:+)}[3] +
                  @hash_phase_user[phase].transpose.map{|e| e.inject(:+)}[4] +
                  @hash_phase_user[phase].transpose.map{|e| e.inject(:+)}[5]).to_f/@hash_phase_user[phase].transpose.map{|e| e.inject(:+)}[1]*100).round)%>
              <tbody>
              <tr class="total"><td>Total</td>
                <td><%= total %>%</td>
                <td><%= @hash_phase_user[phase].transpose.map{|e| e.inject(:+)}[1] %></td>
                <td><%= @hash_phase_user[phase].transpose.map{|e| e.inject(:+)}[6] %></td>
                <td><%= @hash_phase_user[phase].transpose.map{|e| e.inject(:+)}[2] %></td>
                <td><%= @hash_phase_user[phase].transpose.map{|e| e.inject(:+)}[3] %></td>
                <td><%= @hash_phase_user[phase].transpose.map{|e| e.inject(:+)}[4] %></td>
                <td><%= @hash_phase_user[phase].transpose.map{|e| e.inject(:+)}[5] %></td>
              </tr>
              <%  @hash_phase_user[phase].each do |user_array|%>
                <tr>
                  <td><%= user_array[0] %></td>
                  <td><%= user_array[7] %>%</td>
                  <td><%= user_array[1] %></td>
                  <td><%= user_array[6] %></td>
                  <td><%= user_array[2] %></td>
                  <td><%= user_array[3] %></td>
                  <td><%= user_array[4] %></td>
                  <td><%= user_array[5] %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <% end  %>
      </div>
    </div>
  </div>

</div>