<div class="nested-form-wrapper fr-mb-3w" data-new-record="<%= f.object.new_record? %>">
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-4">
      <div class="fr-input-group" data-controller="year-validation">
        <label for="annee" class="fr-label">Année</label>
        <%= f.number_field :annee, class: "fr-input", min: 2000, max: 2100, step: 1, placeholder: "AAAA", required: true, data: { year_validation_target: "input", action: "input->year-validation#validateYear" }  %>
        <div class="fr-error-text" data-year-validation-target="error" style="display: none;"></div>
      </div>
    </div>
    <div class="fr-col-12 fr-col-lg-4">
      <div class="fr-input-group">
        <label for="echeancier_ae" class="fr-label">Montant en AE</label>
        <%= f.text_field :montant_ae, id: "echeancier_ae", class: "fr-input", required: true , data: {action: "input->acte-form#changeNumber", acte_form_number_field: true } %>
      </div>
    </div>
    <div class="fr-col-12 fr-col-lg-4">
      <div class="fr-input-group">
        <label for="echeancier_cp" class="fr-label">Montant en CP</label>
        <%= f.text_field :montant_cp, id: "echeancier_cp", class: "fr-input", required: true , data: {action: "input->acte-form#changeNumber", acte_form_number_field: true } %>
      </div>
    </div>
  </div>
  <button type="button" data-action="nested-form#remove">Supprimer l'année <span class="fr-icon-delete-bin-line fr-icon--sm cbleu"></span></button>
  <%= f.hidden_field :_destroy %>
</div>