<h2>Informations sur l'acte</h2>
<div class="cwarning fr-mb-2w">Tous les champs comportant un astérisque (*) sont à remplir obligatoirement.</div>
<%= form_with(model: @acte) do |f| %>
  <%= hidden_field_tag :etape, 2 %>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-4">
      <div class="fr-input-group">
        <label for="instructeur" class="fr-label">Initiales de l'instructeur*</label>
        <%= f.text_field :instructeur, value: @acte.instructeur, id: "instructeur", class: "fr-input" %>
      </div>
    </div>
    <div class="fr-col-12 fr-col-lg-4">
      <div class="fr-select-group">
        <label for="nature" class="fr-label">Nature/type de l'acte*</label>
        <%= f.select :nature, options_for_select([["- sélectionner -", ""]] + @liste_natures.map { |nature| [nature, nature] }), { selected: @acte.nature }, { id: "nature", class: "fr-select" } %>
      </div>
    </div>
    <div class="fr-col-12 fr-col-lg-4">
      <div class="fr-input-group">
        <label for="montant_ae" class="fr-label">Montant estimatif global (AE)*</label>
        <%= f.number_field :montant_ae, value: @acte.montant_ae, id: "montant_ae", class: "fr-input" %>
      </div>
    </div>
  </div>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-4">
      <div class="fr-select-group">
        <label for="date_chorus" class="fr-label">Date de réception sur Chorus</label>
        <%= f.text_field :date_chorus, class: "fr-select", data: { controller: "flatpickr", flatpickr_default_date: format_date(@acte.date_chorus) }, value: format_date(@acte.date_chorus), id: "date_chorus", placeholder: "- sélectionner -" %>
      </div>
    </div>
    <div class="fr-col-12 fr-col-lg-4">
      <div class="fr-input-group">
        <label for="numero_chorus" class="fr-label">Numéro acte Chorus</label>
        <%= f.text_field :numero_chorus, value: @acte.numero_chorus, id: "numero_chorus", class: "fr-input" %>
      </div>
    </div>
  </div>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-4">
      <div class="fr-input-group">
        <label for="beneficiaire" class="fr-label">Bénéficaire</label>
        <%= f.text_field :beneficiaire, value: @acte.beneficiaire, id: "beneficiaire", class: "fr-input" %>
      </div>
    </div>
    <div class="fr-col-12 fr-col-lg-4">
      <div class="fr-input-group">
        <label for="objet" class="fr-label">Objet</label>
        <%= f.text_field :objet, value: @acte.objet, id: "objet", class: "fr-input" %>
      </div>
    </div>
    <div class="fr-col-12 fr-col-lg-4">
      <div class="fr-input-group">
        <label for="ordonnateur" class="fr-label">Ordonnateur</label>
        <%= f.text_field :ordonnateur, value: @acte.ordonnateur, id: "ordonnateur", class: "fr-input" %>
      </div>
    </div>
  </div>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-12">
      <div class="fr-input-group">
        <label for="precisions_acte" class="fr-label">Précisions sur l'acte</label>
        <%= f.text_area :precisions_acte, class: 'fr-input' %>
      </div>
    </div>
  </div>
  <div data-controller="toggle">
    <button class="fr-btn fr-btn--secondary fr-my-3w"
            data-action="click->toggle#toggleContent"
            data-toggle-target="button">
      Renseigner plus d'informations
    </button>
    <div class="fr-hidden"
         data-toggle-target="content">
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-4">
          <div class="fr-input-group">
            <label for="action" class="fr-label">Action</label>
            <%= f.text_field :action, value: @acte.action, id: "action", class: "fr-input" %>
          </div>
        </div>
        <div class="fr-col-12 fr-col-lg-4">
          <div class="fr-input-group">
            <label for="sous_action" class="fr-label">Sous-action</label>
            <%= f.text_field :sous_action, value: @acte.sous_action, id: "sous_action", class: "fr-input" %>
          </div>
        </div>
        <div class="fr-col-12 fr-col-lg-4">
          <div class="fr-input-group">
            <label for="activite" class="fr-label">Activité</label>
            <%= f.text_field :activite, value: @acte.activite, id: "activite", class: "fr-input" %>
          </div>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters  fr-grid-row--middle">
        <div class="fr-col-12 fr-col-lg-4">
          <div class="fr-checkbox-group">
            <%= f.check_box :lien_tf, id: "lien_tf" %>
            <%= f.label :lien_tf, "Acte lié à une TF", class: "fr-label", for: "lien_tf" %>
          </div>
        </div>
        <div class="fr-col-12 fr-col-lg-4">
          <div class="fr-input-group">
            <label for="numero_tf" class="fr-label">Numéro Chorus de la TF</label>
            <%= f.text_field :numero_tf, value: @acte.numero_tf, id: "numero_tf", class: "fr-input" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-12 fr-my-2w">
      <ul class="fr-btns-group fr-btns-group--icon-left fr-btns-group--inline fr-btns-group--right">
        <li><%= f.submit "Valider et passer à l'étape suivante", class: 'fr-btn' %></li>
      </ul>
    </div>
  </div>
<% end %>