<h6 class="fr-my-3w">Validation finale dans Chorus</h6>
<div class="cwarning fr-mb-2w">Tous les champs comportant un astérisque (*) sont à remplir obligatoirement.</div>
<div data-controller="acte-form">
  <%= form_with(model: @acte, data: { 'acte-form-target': "form"} ) do |f| %>
  <%= hidden_field_tag :etape, 6 %>
    <%= f.hidden_field :etat, value: 'clôturé' %>
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-lg-6">
        <div class="fr-select-group">
          <label for="date_cloture" class="fr-label">Date de validation dans Chorus*</label>
          <%= f.text_field :date_cloture, class: "fr-select", data: {acte_form_target: 'fieldRequire', action: "input->acte-form#checkSubmission", controller: "flatpickr", flatpickr_default_date: format_date(@acte.date_cloture)}, value: format_date(@acte.date_cloture), id: "date_cloture", placeholder: "- sélectionner -" %>
        </div>
      </div>
    </div>
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-lg-12 fr-my-2w">
        <ul class="fr-btns-group fr-btns-group--icon-left fr-btns-group--inline fr-btns-group--right">
          <li><%= f.submit "Valider et clôturer l'acte", class: 'fr-btn', disabled: true, data: { acte_form_target: 'submitButton'}  %></li>
        </ul>
      </div>
    </div>
  <% end %>
</div>