<h2>Contrôle de l’imputation de la dépense</h2>
<div data-controller="acte-form">
<%= form_with(model: @acte) do |f| %>
  <%= hidden_field_tag :etape, 4 %>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-12">
      <div class="fr-notice fr-notice--info fr-mb-2w">
        <div class="fr-container">
          <div class="fr-notice__body">
            <p>
              <span class="fr-notice__title">Informations</span>
            </p>
          </div>
        </div>
      </div>
      <fieldset class="fr-fieldset fr-mb-3w">
        <legend class="fr-fieldset__legend--regular fr-fieldset__legend fr-mb-1w" id='radio-inline-legend'>
          Le critère est-il validé?*
        </legend>
        <div class="fr-fieldset__element fr-fieldset__element--inline fr-mb-0">
          <div class="fr-radio-group">
            <%= f.radio_button :imputation_depense, true, id: "radio-true", checked: @acte.imputation_depense.nil? || @acte.imputation_depense == true , data: { action: "change->acte-form#toggleMessage" } %>
            <label class="fr-label" for="radio-true">Oui</label>
          </div>
        </div>
        <div class="fr-fieldset__element fr-fieldset__element--inline fr-mb-0">
          <div class="fr-radio-group">
            <%= f.radio_button :imputation_depense, false, checked: @acte.imputation_depense == false, id: "radio-false", data: { action: "change->acte-form#toggleMessage" }  %>
            <label class="fr-label" for="radio-false">Non</label>
          </div>
        </div>
      </fieldset>
      <div class="fr-alert fr-alert--info fr-mb-3w" style="<%= @acte.imputation_depense == false ? '' : 'display: none;' %>" data-acte-form-target="message">
        <p>L'ajout d'une suspension est possible à l'étape 6.</p>
      </div>
      <div class="fr-input-group" data-controller="trix">
        <label for="commentaire_imputation_depense" class="fr-label">Observations et pièce justificative
          <span class="fr-hint-text">Pour les pièces justificatives, seules les images sont autorisées.</span>
        </label>
        <%= f.rich_text_area :commentaire_imputation_depense,direct_upload: true , class: 'trix-content-form' %>
      </div>
    </div>
  </div>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-12 fr-my-2w">
      <ul class="fr-btns-group fr-btns-group--icon-left fr-btns-group--inline fr-btns-group--right">
        <li><%= f.submit "Valider et passer à l'étape suivante", class: 'fr-btn' %></li>
      </ul>
    </div>
  </div>
<% end %>
</div>