<h2>Proposition de décision de contrôle</h2>
<div class="cwarning fr-mb-2w">Tous les champs comportant un astérisque (*) sont à remplir obligatoirement.</div>
<%= form_with(model: @acte) do |f| %>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-6">
      <div class="fr-select-group">
        <label for="proposition_decision" class="fr-label">Proposition de décision de contrôle*</label>
        <%= f.select :proposition_decision, options_for_select([["- sélectionner -", ""]] + @liste_decisions.map { |decision| [decision, decision] }), { selected: @acte.proposition_decision }, { id: "proposition_decision", class: "fr-select" } %>
      </div>
    </div>
    <div class="fr-col-12 fr-col-lg-6">
      <div class="fr-select-group">
        <label for="complexite" class="fr-label">Auto-évaluation de la complexité de l’acte</label>
        <%= f.select :complexite,[["- sélectionner -",""],['1','1'],['2','2'],['3','3'],['4','4'],['5','5']],{selected: @acte.complexite}, { id:"complexite",class:"fr-select"}%>
      </div>
    </div>
  </div>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-12">
      <div class="fr-input-group">
        <label for="commentaire_proposition_decision" class="fr-label">Commentaire interne sur la proposition de décision de contrôle</label>
        <%= f.text_area :commentaire_proposition_decision, class: 'fr-input' %>
      </div>

      <div class="fr-input-group">
        <label for="observations" class="fr-label">Propositions d’observations à l’ordonnateur</label>
        <%= f.text_area :observations, class: 'fr-input' %>
      </div>
    </div>
  </div>

  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-12 fr-my-2w">
      <ul class="fr-btns-group fr-btns-group--icon-left fr-btns-group--inline fr-btns-group--right">
        <li><%= f.submit "Enregistrer et soumettre à validation", class: 'fr-btn' %></li>
      </ul>
    </div>
  </div>
<% end %>