<%= form_with(model: @acte) do |f| %>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-4">
      <div class="fr-input-group">
        <label for="instructeur" class="fr-label">Initiales de l'instructeur*</label>
        <%= f.text_field :instructeur, value: @acte.instructeur, id: "instructeur", class: "fr-input" %>
      </div>
    </div>
    <div class="fr-col-12 fr-col-lg-4">
      <div class="fr-select-group">
        <label for="nature" class="fr-label">Nature/type de l'acte*</label>
        <%= f.select :nature, options_for_select([["- sélectionner -", ""]] + @liste_natures.map { |nature| [nature, nature] }),{ selected: @acte.nature }, {id:"nature",class:"fr-select"}%>
      </div>
    </div>
    <div class="fr-col-12 fr-col-lg-4">
      <div class="fr-input-group">
        <label for="montant_ae" class="fr-label">Montant estimatif global (AE)*</label>
        <%= f.number_field :montant_ae,value: @acte.montant_ae, id: "montant_ae", class: "fr-input" %>
      </div>
    </div>
  </div>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-4">
      <div class="fr-select-group">
        <label for="date_chorus" class="fr-label">Date de réception sur Chorus</label>
        <%= f.text_field :date_chorus, class: "fr-select", data: { controller: "flatpickr", flatpickr_default_date: format_date(@acte.date_chorus) }, value: format_date(@acte.date_chorus), id: "date_chorus", placeholder: "- sélectionner -" %>
      </div>
    </div>
    <div class="fr-col-12 fr-col-lg-4">
      <div class="fr-input-group">
        <label for="numero_chorus" class="fr-label">Numéro acte Chorus</label>
        <%= f.text_field :numero_chorus,value: @acte.numero_chorus, id: "numero_chorus", class: "fr-input" %>
      </div>
    </div>
  </div>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-4">
      <div class="fr-input-group">
        <label for="beneficiare" class="fr-label">Bénéficaire</label>
        <%= f.text_field :beneficiare,value: @acte.beneficiaire, id: "beneficiare", class: "fr-input" %>
      </div>
    </div>
    <div class="fr-col-12 fr-col-lg-4">
      <div class="fr-input-group">
        <label for="objet" class="fr-label">Objet</label>
        <%= f.text_field :objet,value: @acte.objet, id: "objet", class: "fr-input" %>
      </div>
    </div>
    <div class="fr-col-12 fr-col-lg-4">
      <div class="fr-input-group">
        <label for="ordonnateur" class="fr-label">Ordonnateur</label>
        <%= f.text_field :ordonnateur,value: @acte.ordonnateur, id: "ordonnateur", class: "fr-input" %>
      </div>
    </div>
  </div>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-12 fr-my-2w">
      <ul class="fr-btns-group fr-btns-group--icon-left fr-btns-group--inline fr-btns-group--right">
        <li><%= f.submit "Valider et passer à l'étape suivante", class: 'fr-btn' %></li>
      </ul>
    </div>
  </div>
<% end %>