<h2>Informations sur l'acte</h2>
<div class="cwarning fr-mb-2w">Tous les champs comportant un astérisque (*) sont à remplir obligatoirement.</div>
<div class="fr-alert fr-alert--warning fr-mb-2w">
  <p>Si les informations Chorus ne sont pas renseignées, l’acte sera considéré comme faisant l’objet d’une
    pré-instruction.</p>
</div>
<div data-controller="acte-form" data-acte-form-checkchorusurl="<%= check_chorus_number_path %>">
  <%= form_with(model: @acte, data: { 'acte-form-target': "form", controller: 'nested-form nested-form2', nested_form_wrapper_selector_value: '.nested-form-wrapper' }) do |f| %>
    <% if params[:parent_id].present? %>
      <%= hidden_field_tag :parent_id, params[:parent_id] %>
    <% end %>
    <%= hidden_field_tag :etape, 2 %>
    <%= f.hidden_field :type_acte, value: @acte.type_acte %>
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-lg-4">
        <div class="fr-input-group">
          <label for="instructeur" class="fr-label">Initiales de l'instructeur*</label>
          <%= f.text_field :instructeur, value: @acte.instructeur, id: "instructeur", class: "fr-input", data: { acte_form_target: 'fieldRequire', action: "input->acte-form#checkSubmission" } %>
        </div>
      </div>
      <div class="fr-col-12 fr-col-lg-4">
        <div class="fr-select-group">
          <label for="nature" class="fr-label">
            <% if @acte.type_acte == 'TF' %>Type d’affectation*
            <% else %>Nature/type de l'acte*
            <% end %></label>
          <%= f.select :nature, options_for_select([["- sélectionner -", ""]] + @liste_natures.map { |nature| [nature, nature] }, @acte.nature), {}, { id: "nature", class: "fr-select", data: { acte_form_target: 'fieldRequire', action: "change->acte-form#checkSubmission" } } %>
        </div>
      </div>
      <div class="fr-col-12 fr-col-lg-4">
        <div class="fr-input-group">
          <label for="centre_financier_code" class="fr-label">Centre financier
            <% if ['visa', 'TF'].include?(@acte.type_acte) %>*
            <% end %></label>
          <%= f.text_field :centre_financier_code, value: @acte.centre_financier_code, id: "centre_financier_code", class: "fr-input", data: ['visa', 'TF'].include?(@acte.type_acte) ? { acte_form_target: 'fieldRequire', action: "input->acte-form#checkSubmission" } : {} %>
        </div>
      </div>
      <div class="fr-col-12 fr-col-lg-4">
        <div class="fr-input-group">
          <label for="montant_ae" class="fr-label">
            <% if @acte.type_acte == 'avis' %>Montant estimatif global (AE)*
            <% elsif @acte.type_acte == 'visa' %>Montant engagé*
            <% elsif @acte.type_acte == 'TF' %>Montant global affecté*
            <% end %></label>
          <%= f.text_field :montant_ae, value: @acte.montant_ae, id: "montant_ae", class: "fr-input", data: { acte_form_target: 'fieldRequire', action: "input->acte-form#checkSubmission input->acte-form#changeNumber", acte_form_number_field: true } %>
        </div>
      </div>
      <% if @acte.type_acte == 'visa' %>
        <div class="fr-col-12 fr-col-lg-4">
          <div class="fr-input-group">
            <label for="montant_global" class="fr-label">Montant global de l'acte</label>
            <%= f.text_field :montant_global, value: @acte.montant_global, id: "montant_ae", class: "fr-input", data: { action: "input->acte-form#changeNumber", acte_form_number_field: true } %>
          </div>
        </div>
      <% end %>
      <div class="fr-col-12 fr-col-lg-4">
        <div class="fr-select-group">
          <label for="date_chorus" class="fr-label">Date de réception sur
            Chorus <%= render partial: "ht2_actes/tooltip", locals: { name: "date_chorus" } %></label>
          <%= f.text_field :date_chorus, class: "fr-select", data: { controller: "flatpickr", flatpickr_default_date: format_date(@acte.date_chorus) }, value: format_date(@acte.date_chorus), id: "date_chorus", placeholder: "- sélectionner -" %>
        </div>
      </div>
      <div class="fr-col-12 fr-col-lg-4">
        <div class="fr-input-group">
          <label for="numero_chorus" class="fr-label">N° Chorus <% if @acte.type_acte == 'TF' %>de la TF<%end %></label>
          <%= f.text_field :numero_chorus, value: @acte.numero_chorus, id: "numero_chorus", class: "fr-input", data: { action: "input->acte-form#checkChorusNumberExistence", acte_id: @acte.id } %>
          <p class="fr-message fr-message--info fr-text--small fr-hidden" id="message-chorus-number-existence">Un acte
            avec ce numéro Chorus existe déjà</p>
        </div>
      </div>
      <% if @acte.type_acte != 'TF' %>
        <div class="fr-col-12 fr-col-lg-4">
          <div class="fr-input-group">
            <label for="beneficiaire" class="fr-label">Bénéficaire</label>
            <%= f.text_field :beneficiaire, value: @acte.beneficiaire, id: "beneficiaire", class: "fr-input" %>
          </div>
        </div>
      <% end %>
      <div class="fr-col-12 fr-col-lg-4">
        <div class="fr-input-group">
          <label for="objet" class="fr-label">
            <% if @acte.type_acte == 'TF' %>Opération d’investissement
            <% else %>Objet
            <% end %></label>
          <%= f.text_field :objet, value: @acte.objet, id: "objet", class: "fr-input" %>
        </div>
      </div>
      <div class="fr-col-12 fr-col-lg-4">
        <div class="fr-input-group">
          <label for="ordonnateur" class="fr-label">Ordonnateur</label>
          <%= f.text_field :ordonnateur, value: @acte.ordonnateur, id: "ordonnateur", class: "fr-input" %>
        </div>
      </div>
    </div>
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-lg-12">
        <div class="fr-input-group">
          <label for="precisions_acte" class="fr-label">Précisions sur l'acte</label>
          <%= f.text_area :precisions_acte, class: 'fr-input' %>
        </div>
      </div>
    </div>
    <div data-controller="toggle">
      <button class="fr-link fr-icon-add-line fr-link--icon-left fr-my-2w"
              data-action="click->toggle#toggleContent"
              data-toggle-target="button"
              data-toggle-text-show="Renseigner plus d'informations"
              data-toggle-text-hide="Afficher moins">
        Renseigner plus d'informations
      </button>
      <div class="fr-hidden" data-toggle-target="content">

        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12 fr-col-lg-4">
            <div class="fr-input-group">
              <label for="action" class="fr-label">Action</label>
              <%= f.text_field :action, value: @acte.action, id: "action", class: "fr-input" %>
            </div>
          </div>
          <div class="fr-col-12 fr-col-lg-4">
            <div class="fr-input-group">
              <label for="sous_action" class="fr-label">Sous-action</label>
              <%= f.text_field :sous_action, value: @acte.sous_action, id: "sous_action", class: "fr-input" %>
            </div>
          </div>
          <div class="fr-col-12 fr-col-lg-4">
            <div class="fr-input-group">
              <label for="activite" class="fr-label">Activité</label>
              <%= f.text_field :activite, value: @acte.activite, id: "activite", class: "fr-input" %>
            </div>
          </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
          <div class="fr-col-12 fr-col-lg-4">
            <div class="fr-input-group">
              <label for="numero_tf" class="fr-label">Numéro Chorus de la TF</label>
              <%= f.text_field :numero_tf, value: @acte.numero_tf, id: "numero_tf", class: "fr-input" %>
            </div>
          </div>
        </div>

        <template data-nested-form2-target="template">
          <%= f.fields_for :poste_lignes, PosteLigne.new, child_index: 'NEW_RECORD' do |poste_ligne_fields| %>
            <%= render "form_poste_ligne", f: poste_ligne_fields %>
          <% end %>
        </template>

        <%= f.fields_for :poste_lignes, f.object.poste_lignes do |poste_ligne_fields| %>
          <%= render "form_poste_ligne", f: poste_ligne_fields %>
        <% end %>

        <!-- Inserted elements will be injected before that target. -->
        <div data-nested-form2-target="target"></div>
        <button type="button" data-action="nested-form2#add" class="fr-link fr-icon-add-line fr-link--icon-left fr-mb-2w">
          Ajouter une ligne de poste
        </button>

        <% if @acte.type_acte != 'TF' %>
          <div class="fr-h6 fr-my-2w">Échéancier</div>

          <template data-nested-form-target="template">
            <%= f.fields_for :echeanciers, Echeancier.new, child_index: 'NEW_RECORD' do |echeancier_fields| %>
              <%= render "form_echeancier", f: echeancier_fields %>
            <% end %>
          </template>

          <%= f.fields_for :echeanciers, f.object.echeanciers do |echeancier_fields| %>
            <%= render "form_echeancier", f: echeancier_fields %>
          <% end %>

          <!-- Inserted elements will be injected before that target. -->
          <div data-nested-form-target="target"></div>
          <button type="button" data-action="nested-form#add" class="fr-link fr-icon-add-line fr-link--icon-left fr-mb-2w">
            Ajouter une année
          </button>
        <% end %>
      </div>
    </div>

    <% if @acte.type_acte == 'TF' %>
      <div class="fr-h6 fr-my-2w">Échéancier</div>

      <template data-nested-form-target="template">
        <%= f.fields_for :echeanciers, Echeancier.new, child_index: 'NEW_RECORD' do |echeancier_fields| %>
          <%= render "form_echeancier", f: echeancier_fields %>
        <% end %>
      </template>

      <%= f.fields_for :echeanciers, f.object.echeanciers do |echeancier_fields| %>
        <%= render "form_echeancier", f: echeancier_fields %>
      <% end %>

      <!-- Inserted elements will be injected before that target. -->
      <div data-nested-form-target="target"></div>
      <button type="button" data-action="nested-form#add" class="fr-link fr-icon-add-line fr-link--icon-left fr-mb-2w">
        Ajouter une année
      </button>
    <% end %>
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-lg-12 fr-my-2w">
        <ul class="fr-btns-group fr-btns-group--icon-left fr-btns-group--inline fr-btns-group--right">
          <li><%= f.submit "Valider et passer à l'étape suivante", class: 'fr-btn', disabled: true, data: { acte_form_target: 'submitButton', action: "click->acte-form#changeTextToFloat" } %></li>
        </ul>
      </div>
    </div>
  <% end %>
</div>