<h2>Contrôle de l’exactitude de l’évaluation de la consommation des crédits</h2>
<%= form_with(model: @acte) do |f| %>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-12">
      <div class="fr-notice fr-notice--info fr-mb-2w">
        <div class="fr-container">
          <div class="fr-notice__body">
            <p>
              <span class="fr-notice__title">Informations</span>
            </p>
          </div>
        </div>
      </div>
      <fieldset class="fr-fieldset fr-mb-3w">
        <legend class="fr-fieldset__legend--regular fr-fieldset__legend fr-mb-1w" id='radio-inline-legend'>
          Le critère est-il validé?*
        </legend>
        <div class="fr-fieldset__element fr-fieldset__element--inline fr-mb-0">
          <div class="fr-radio-group">
            <%= f.radio_button :consommation_credits, true, id: "radio-delai1", checked: @acte.consommation_credits.nil? || @acte.consommation_credits == true %>
            <label class="fr-label" for="radio-delai1">Oui</label>
          </div>
        </div>
        <div class="fr-fieldset__element fr-fieldset__element--inline fr-mb-0">
          <div class="fr-radio-group">
            <%= f.radio_button :consommation_credits, false, checked: @acte.consommation_credits == false, id: "radio-delai" %>
            <label class="fr-label" for="radio-delai">Non</label>
          </div>
        </div>
      </fieldset>
      <div class="fr-input-group">
        <label for="commentaire_consommation_credits" class="fr-label">Observations et pièce justificative</label>
        <%= f.rich_text_area :commentaire_consommation_credits %>
      </div>
    </div>
  </div>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-12 fr-my-2w">
      <ul class="fr-btns-group fr-btns-group--icon-left fr-btns-group--inline fr-btns-group--right">
        <li><%= f.submit "Valider et passer à l'étape suivante", class: 'fr-btn' %></li>
      </ul>
    </div>
  </div>
<% end %>