<% if acte.user == current_user %>
  <% if acte.etat == "en pré-instruction" %>
    <div class="fr-callout fr-callout--brown-cafe-creme fr-mt-2w">
      <h3 class="fr-callout__title">Acte en pré-instruction</h3>
      <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--icon-left  fr-mt-2w">
        <li>
          <a href="<%= modal_pre_instruction_path(acte) %>" data-turbo-frame="modal" class="fr-btn fr-icon-arrow-go-forward-line " data-fr-opened="false" aria-controls="modal-acte">
            Passer l'acte en instruction
          </a>
        </li>
        <li>
          <%= link_to edit_ht2_acte_path(acte), class: 'fr-btn fr-icon-edit-line fr-btn--secondary' do %>
            Actualiser les informations
          <% end %>
        </li>
        <li>
          <%= link_to new_ht2_acte_path(id: acte.id), class: "fr-btn fr-btn--secondary  fr-icon-file-add-line" do %>
            Dupliquer
          <% end %>
        </li>
        <li>
          <a href="<%= modal_delete_acte_path(acte) %>" data-turbo-frame="modal" class="fr-btn fr-btn--secondary fr-icon-delete-line" data-fr-opened="false" aria-controls="modal-acte">
            Supprimer
          </a>
        </li>
        <li>
          <a href="<%= modal_cloture_preinstruction_acte_path(acte) %>" data-turbo-frame="modal" class="fr-btn fr-btn--secondary fr-icon-lock-line" data-fr-opened="false" aria-controls="modal-acte">
            Clôturer l'acte
          </a>
        </li>
      </ul>
    </div>
  <% elsif acte.etat == "en cours d'instruction" %>
    <div class="fr-callout fr-callout--brown-cafe-creme fr-mt-2w">
      <h3 class="fr-callout__title">Acte en cours d'instruction</h3>
      <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--icon-left  fr-mt-2w">
        <li><%= link_to edit_ht2_acte_path(acte), class: 'fr-btn', data: { turbo_frame: "_top" } do %>
            Actualiser
          <% end %>
        </li>
        <li>
          <%= link_to new_ht2_acte_path(id: acte.id), class: "fr-btn fr-btn--secondary  fr-icon-file-add-line" do %>
            Dupliquer
          <% end %>
        </li>
        <li>
          <a href="<%= modal_delete_acte_path(acte) %>" data-turbo-frame="modal" class="fr-btn fr-btn--secondary fr-icon-delete-line" data-fr-opened="false" aria-controls="modal-acte">
            Supprimer
          </a>
        </li>
      </ul>
    </div>
  <% elsif acte.etat == "suspendu" %>
    <div class="fr-callout fr-callout--brown-cafe-creme fr-mt-2w">
      <h3 class="fr-callout__title">Acte suspendu</h3>
      <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--icon-left  fr-mt-2w">
        <li><%= link_to edit_ht2_acte_path(acte), class: 'fr-btn', data: { turbo_frame: "_top" } do %>
            Actualiser
          <% end %>
        </li>
        <li>
          <a href="<%= modal_delete_acte_path(acte) %>" data-turbo-frame="modal" class="fr-btn fr-btn--secondary fr-icon-delete-line" data-fr-opened="false" aria-controls="modal-acte">
            Supprimer l'acte
          </a>
        </li>
      </ul>
    </div>
  <% elsif acte.etat == "en attente de validation" %>
    <div class="fr-callout fr-callout--brown-cafe-creme fr-mt-2w">
      <h3 class="fr-callout__title">Acte en attente de validation</h3>
      <p class="fr-callout__text">Vous pouvez valider l’acte ou le renvoyer en instruction vers l'agent instructeur.</p>
      <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--icon-left  fr-my-2w">
        <li>
          <a href="<%= modal_validate_acte_path(acte) %>" data-turbo-frame="modal" class="fr-btn" data-fr-opened="false" aria-controls="modal-acte">
            Valider
          </a>
        </li>
        <li>
          <a href="<%= modal_renvoie_instruction_path(acte) %>" data-turbo-frame="modal" class="fr-btn fr-btn--secondary fr-icon-arrow-go-back-line " data-fr-opened="false" aria-controls="modal-acte">
            Renvoyer l'acte en instruction
          </a>
        </li>
      </ul>
    </div>
  <% elsif acte.etat == "en attente de validation Chorus" %>
    <div class="fr-callout fr-callout--brown-cafe-creme fr-mt-2w">
      <h3 class="fr-callout__title">Clôturer l'acte</h3>
      <p class="fr-callout__text">Indiquer la date de validation dans Chorus pour marquer la fin du contrôle sur
        l'acte.</p>
      <div class="fr-grid-row fr-grid-row--gutters fr-mt-2w">
        <div class="fr-col-12 fr-col-lg-6">
          <%= form_with(model: acte) do |f| %>
            <%= hidden_field_tag :etape, 6 %>
            <%= f.hidden_field :etat, value: 'clôturé' %>

            <div class="fr-select-group">
              <label for="date_cloture" class="fr-label">Date de validation dans Chorus*</label>
              <%= f.text_field :date_cloture, class: "fr-select", data: { controller: "flatpickr", flatpickr_min_date: format_date(acte.date_chorus) }, value: format_date(acte.date_cloture), id: "date_cloture", placeholder: "jj/mm/aaaa", required: true %>

            </div>
            <div><%= f.submit "Valider et clôturer l'acte", class: 'fr-btn' %></div>

          <% end %>
        </div>
      </div>
    </div>
  <% elsif acte.etat == "clôturé après pré-instruction" %>
    <p class="<%= badge_class_for_etat_actes(acte.etat) %>">
      <%= acte.etat %>
    </p>
    <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--icon-left  fr-mt-2w">
      <% if ['DCB', 'CBR'].include?(current_user.statut) %>
        <li>
          <%= link_to new_ht2_acte_path(parent_id: acte.id), class: 'fr-btn' do %>
            Nouvelle saisine
          <% end %>
        </li>
      <% end %>
      <li>
        <%= form_with(model: acte, method: :patch) do |f| %>
          <%= hidden_field_tag :etape, 7 %>
          <%= f.hidden_field :etat, value: "en pré-instruction" %>
          <%= f.submit "Renvoyer l'acte en phase de pré-instruction", class: 'fr-btn fr-btn--secondary', data: { turbo_confirm: 'Confirmer?' } %>
        <% end %>
      </li>
    </ul>
  <% elsif acte.etat == 'clôturé' %>
    <p class="<%= badge_class_for_etat_actes(acte.etat) %>">
      <%= acte.etat %>
    </p>
    <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--icon-left  fr-mt-2w">
      <% if ['DCB', 'CBR'].include?(current_user.statut) %>
        <li>
          <%= link_to new_ht2_acte_path(parent_id: acte.id), class: 'fr-btn' do %>
            Nouvelle saisine
          <% end %>
        </li>
      <% end %>
      <li class="fr-hidden">
        <%= form_with(model: acte, method: :patch) do |f| %>
          <%= hidden_field_tag :etape, 8 %>
          <%= f.hidden_field :etat, value: "en cours d'instruction" %>
          <%= f.submit "Renvoyer l'acte en instruction", class: 'fr-btn fr-btn--secondary', data: { turbo_confirm: 'Confirmer?' } %>
        <% end %>
      </li>
    </ul>
  <% end %>
<% else %>
  <p class="<%= badge_class_for_etat_actes(acte.etat) %>">
    <%= acte.etat %>
  </p>
<% end %>


<div id="containPDF">

  <div class="fr-grid-row fr-grid-row--gutters fr-my-3w">
    <div class="fr-col-12 fr-col-lg-6">
      <div class="fr-h6">Proposition décision de contrôle</div>

      <div>Proposition de décision de contrôle</div>
      <div>
        <p class="<%= badge_class_for_decision(acte.proposition_decision) %>"><%= format_value(acte.proposition_decision) %></p>
      </div>

      <div class="fr-mt-2w">Commentaire interne sur la proposition de décision de contrôle</div>
      <div class="fr-text--bold"><%= auto_link(simple_format(format_for_pdf(format_value(acte.commentaire_proposition_decision))), :html => { :target => '_blank' }) %></div>
    </div>
    <div class="fr-col-12 fr-col-lg-6">
      <div class="fr-card-round--blue">
        <div class="fr-h6">Validation finale</div>

        <div>Décision finale</div>
        <div>
          <p class="<%= badge_class_for_decision(acte.decision_finale) %>"><%= format_value(acte.decision_finale) %></p>
        </div>

        <% if acte.type_observations.present? %>
          <div class="fr-mt-2w">Type d'observations</div>

          <% acte.type_observations&.each do |observation| %>
            <p class="fr-tag fr-my-1v"><%= observation %></p>
          <% end %>
        <% end %>

        <div class="fr-mt-2w">Propositions d’observations à l’ordonnateur</div>
        <div class="fr-text--bold"><%= auto_link(simple_format(format_for_pdf(format_value(acte.observations))), :html => { :target => '_blank' }) %></div>
      </div>
    </div>
  </div>

  <div class="fr-h6">Informations sur l'acte</div>
  <div class="fr-table fr-table--no-caption">
    <div class="fr-table__wrapper">
      <div class="fr-table__container">
        <div class="fr-table__content">
          <table>
            <caption> Informations</caption>
            <thead>
            <tr class="fr-cell--multiline">
              <th>Instructeur</th>
              <th>Valideur</th>
              <% if acte.type_acte != 'TF' %>
                <th>Nature de l'acte</th>
              <% end %>
              <th>
                <% if acte.type_acte == 'TF' %>Type d’affectation
                <% else %>Type d'engagement
                <% end %></th>
              <th>
                <% if acte.type_acte == 'avis' %>Montant de l'acte (AE)
                <% elsif acte.type_acte == 'visa' %>Montant engagé par l'acte
                <% else %>Montant de l'affectation
                <% end %></th>
              <th>
                <% if acte.type_acte == 'avis' %>Montant estimatif global (AE)
                <% elsif acte.type_acte == 'visa' %>Montant total engagé
                <% elsif acte.type_acte == 'TF' %>Montant total affecté
                <% end %></th>

              <th>Date de saisine</th>
              <th>Délai de traitement</th>
            </tr>
            </thead>
            <tbody>
            <tr class="fr-cell--multiline">
              <td> <%= acte.instructeur %> </td>
              <td> <%= format_value(acte.valideur) %></td>
              <% if acte.type_acte != 'TF' %>
                <td> <%= acte.nature %></td>
              <% end %>
              <td> <%= acte.type_engagement %></td>
              <td> <%= number_to_currency(acte.montant_ae, unit: "€", format: "%n %u") %> </td>
              <td> <%= number_to_currency(acte.montant_global, unit: "€", format: "%n %u") %> </td>
              <td> <%= format_date_text(acte.date_chorus) %></td>
              <td>
                <% if ['clôturé', 'clôturé après pré-instruction'].include?(acte.etat) %><%= pluralize(acte.delai_traitement, 'jour', plural: 'jours') %>
                <% elsif acte.etat == 'suspendu' %>
                  suspendu
                <% else %>en cours
                <% end %></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="fr-table fr-table--no-caption">
    <div class="fr-table__wrapper">
      <div class="fr-table__container">
        <div class="fr-table__content">
          <table>
            <caption> Informations</caption>
            <thead>
            <tr class="fr-cell--multiline">
              <th>Exercice</th>
              <th>Centre financier</th>
              <th>N°Chorus</th>
              <% if acte.type_acte != 'TF' %>
                <th>Bénéficiaire</th>
              <% end %>
              <th>
                <% if acte.type_acte == 'TF' %>Opération d’investissement
                <% else %>Objet
                <% end %></th>
              <th>Ordonnateur</th>
              <th>Pré-instruction</th>
            </tr>
            </thead>
            <tbody>
            <tr class="fr-cell--multiline">
              <td><%= acte.annee %></td>
              <td> <%= format_value(acte.centre_financier_code) %></td>
              <td> <%= format_value(acte.numero_chorus) %></td>
              <% if acte.type_acte != 'TF' %>
                <td> <%= format_value(acte.beneficiaire) %></td>
              <% end %>
              <td> <%= format_value(acte.objet) %></td>
              <td> <%= format_value(acte.ordonnateur) %></td>
              <td> <%= acte.pre_instruction == true ? 'Oui' : 'Non' %></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-12">
      <div>Précisions sur l'acte</div>
      <div class="fr-text--bold"><%= auto_link(simple_format(format_for_pdf(format_value(acte.precisions_acte))), :html => { :target => '_blank' }) %></div>
    </div>
  </div>

  <% if acte.categorie.present? || acte.action.present? || acte.sous_action.present? || acte.activite.present? || acte.numero_marche.present? || acte.numero_tf.present? || acte.services_votes == true || acte.groupe_marchandises.present? %>
    <div class="fr-table fr-table--no-caption">
      <div class="fr-table__wrapper">
        <div class="fr-table__container">
          <div class="fr-table__content">
            <table>
              <caption> Informations complémentaires</caption>
              <thead>
              <tr class="fr-cell--multiline">
                <th> Catégorie</th>
                <th> Action</th>
                <th> Sous-action</th>
                <th> Activité</th>
                <% if acte.numero_marche.present? %>
                  <th> Numéro de marché</th>
                <% end %>
                <% if acte.numero_tf.present? %>
                  <th> Numéro Chorus de la TF associée</th>
                <% end %>
                <% if acte.groupe_marchandises.present? %>
                  <th> Groupe de marchandises</th>
                <% end %>
                <th> Services votés</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td> <%= format_value(acte.categorie) %> </td>
                <td> <%= format_value(acte.action) %> </td>
                <td> <%= format_value(acte.sous_action) %></td>
                <td> <%= format_value(acte.activite) %> </td>
                <% if acte.numero_marche.present? %>
                  <td> <%= format_value(acte.numero_marche) %> </td>
                <% end %>
                <% if acte.numero_tf.present? %>
                  <td> <%= format_value(acte.numero_tf) %> </td>
                <% end %>
                <% if acte.groupe_marchandises.present? %>
                  <td> <%= format_value(acte.groupe_marchandises) %></td>
                <% end %>
                <td><%= acte.services_votes == true ? 'Oui' : 'Non' %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if acte.poste_lignes.present? %>
    <div class="fr-h6 fr-my-3w">Lignes de poste</div>
    <div class="fr-table fr-table--no-caption">
      <div class="fr-table__wrapper">
        <div class="fr-table__container">
          <div class="fr-table__content">
            <table>
              <caption> Lignes de poste</caption>
              <thead>
              <tr class="fr-cell--multiline">
                <th> Numéro</th>
                <th> Centre financier</th>
                <th> Montant (€)</th>
                <th> Domaine fonctionnel</th>
                <th> Fonds</th>
                <th> Compte budgétaire</th>
                <th> Code activité</th>
                <th> Axe ministériel</th>
                <th> Flux</th>
                <th> Groupe de marchandises</th>
              </tr>
              </thead>
              <tbody>
              <% acte.poste_lignes.each do |ligne| %>
                <tr class="fr-cell--multiline">
                  <td> <%= ligne.numero %></td>
                  <td> <%= ligne.centre_financier_code %> </td>
                  <td> <%= number_to_currency(ligne.montant, unit: "€", format: "%n %u") %></td>
                  <td> <%= ligne.domaine_fonctionnel %> </td>
                  <td> <%= ligne.fonds %> </td>
                  <td> <%= ligne.compte_budgetaire %> </td>
                  <td> <%= ligne.code_activite %> </td>
                  <td> <%= ligne.axe_ministeriel %> </td>
                  <td> <%= ligne.flux %> </td>
                  <td> <%= ligne.groupe_marchandises %></td>
                </tr>
              <% end %>
              <tr class="fr-table--total">
                <td>Total</td>
                <td></td>
                <td><%= number_to_currency(acte.poste_lignes.sum(:montant), unit: "€", format: "%n %u") %></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if acte.echeanciers.present? %>
    <div class="fr-h6 fr-my-3w">Échéancier</div>
    <div class="fr-table fr-table--no-caption fr-table--no-scroll" id="table-echeancier-component">
      <div class="fr-table__wrapper">
        <div class="fr-table__container">
          <div class="fr-table__content">
            <table id="table-echeancier">
              <caption> Échéancier</caption>
              <thead>
              <tr>
                <th> Année</th>
                <th> Montant AE (€)</th>
                <th> Montant CP (€)</th>
              </tr>
              </thead>
              <tbody>
              <% acte.echeanciers.order(annee: :asc).each do |echeancier| %>
                <tr>
                  <td> <%= echeancier.annee %> </td>
                  <td> <%= number_to_currency(echeancier.montant_ae, unit: "€", format: "%n %u") %></td>
                  <td> <%= number_to_currency(echeancier.montant_cp, unit: "€", format: "%n %u") %> </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>


  <div class="fr-h6 fr-my-3w">Critères</div>
  <div class="fr-table fr-table--no-caption fr-table--bordered fr-table--no-scroll">
    <div class="fr-table__wrapper">
      <div class="fr-table__container">
        <div class="fr-table__content">
          <table id="table-echeancier">
            <caption> Critères</caption>
            <thead>
            <tr>
              <th> Acte programmé </th>
              <th> Disponibilité des crédits</th>
              <th> Imputation de la dépense</th>
              <th> Exactitude de l’évaluation de la consommation des crédits</th>
              <th> Compatibilité avec la programmation annuelle et pluriannuelle</th>
            </tr>
            </thead>
            <tbody>

            <tr>
              <td>
                <% if acte.programmation_prevue == true %>
                  <span class="fr-icon-checkbox-circle-fill fr-icon--sm cgreen fr-ml-1w" aria-hidden="true"></span>
                <% else %><span class="fr-icon-error-fill fr-icon--sm crouge fr-ml-1w" aria-hidden="true"></span>
                <% end %>
              </td>
              <td>
                <% if acte.disponibilite_credits == true %>
                  <span class="fr-icon-checkbox-circle-fill fr-icon--sm cgreen fr-ml-1w" aria-hidden="true"></span>
                <% else %><span class="fr-icon-error-fill fr-icon--sm crouge fr-ml-1w" aria-hidden="true"></span>
                <% end %>
              </td>
              <td>
                <% if acte.imputation_depense == true %>
                  <span class="fr-icon-checkbox-circle-fill fr-icon--sm cgreen fr-ml-1w" aria-hidden="true"></span>
                <% else %><span class="fr-icon-error-fill fr-icon--sm crouge fr-ml-1w" aria-hidden="true"></span>
                <% end %>
              </td>
              <td>
                <% if acte.consommation_credits == true %>
                  <span class="fr-icon-checkbox-circle-fill fr-icon--sm cgreen fr-ml-1w" aria-hidden="true"></span>
                <% else %><span class="fr-icon-error-fill fr-icon--sm crouge fr-ml-1w" aria-hidden="true"></span>
                <% end %>
              </td>
              <td>
                <% if acte.programmation == true %>
                  <span class="fr-icon-checkbox-circle-fill fr-icon--sm cgreen fr-ml-1w" aria-hidden="true"></span>
                <% else %><span class="fr-icon-error-fill fr-icon--sm crouge fr-ml-1w" aria-hidden="true"></span>
                <% end %>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <%
    raw = acte.sheet_data
    parsed =
      begin
        x = raw.is_a?(String) ? JSON.parse(raw) : (raw || {})
        x = JSON.parse(x) if x.is_a?(String) # anti double-encodage
        x
      rescue JSON::ParserError
        {}
      end

    blank = ->(v) { v.nil? || v.to_s.strip == "" }

    # Récupère toutes les matrices de lignes (v4: data | v5: worksheets[].data)
    matrices =
      if parsed.is_a?(Hash) && parsed["worksheets"].is_a?(Array)
        parsed["worksheets"].map { |ws| ws["data"] }.compact
      else
        [parsed["data"]]
      end

    has_cells =
      matrices.any? do |rows|
        Array(rows).any? { |row| Array(row).any? { |cell| !blank.call(cell) } }
      end
  %>
  <% if has_cells %>
    <div class="fr-mt-2w">Tableur</div>
    <div class="sheet-scroll">
      <div data-controller="sheet-readonly" data-sheet-readonly-initial-value='<%= acte.sheet_data.to_json %>'></div>
    </div>
  <% end %>

  <div class="fr-mt-2w">Observations</div>

  <div class="fr-text--bold"><%= format_value(acte.commentaire_disponibilite_credits) %></div>

  <% if acte.suspensions.present? %>
    <% type_suspension = acte.type_acte == 'avis' ? 'suspension' : 'interruption' %>
    <div class="fr-h6 fr-my-3w">Suspensions/Interruptions</div>
    <div class="fr-table fr-table--no-caption">
      <div class="fr-table__wrapper">
        <div class="fr-table__container">
          <div class="fr-table__content">
            <table>
              <caption> Suspensions/Interruptions</caption>
              <thead>
              <tr>
                <th class="fr-capitalize"> <%= type_suspension %> </th>
                <th> Date <%= type_suspension %></th>
                <th> Date de reprise</th>
                <th> Motif</th>
                <th> Observations</th>
              </tr>
              </thead>
              <tbody>
              <% acte.suspensions.order(created_at: :asc).each_with_index do |suspension, index| %>
                <tr>
                  <td> n°<%= index + 1 %></td>
                  <td> <%= format_date_text(suspension.date_suspension) %> </td>
                  <td> <%= format_date_text(suspension.date_reprise) %></td>
                  <td> <%= suspension.motif %> </td>
                  <td class="fr-cell--multiline"> <%= format_value(suspension.observations) %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

