<% content_for :title do %>Formulaire suivi d'un acte HT2 | ANACO
<% end %>
<main role="main" class="containtAll">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters fr-mt-4w">
      <div class="fr-col-12 fr-col-lg-12">
        <div class="title-btn">
          <% if @acte.numero_saisine > 1 %>
            <h1>Saisine n°<%= @acte.numero_saisine %> - <%= @acte.type_acte %> HT2 CHORUS
              n°<%= @acte.numero_chorus %></h1>
          <% else %>
            <h1>Formulaire <%= @acte.type_acte %> HT2</h1>
          <% end %>

          <button aria-controls="modal-0" data-fr-opened="false" type="button" class="fr-link fr-icon-close-line fr-link--icon-right">Quitter le formulaire</button>
        </div>
      </div>
    </div>
    <dialog id="modal-0" class="fr-modal" aria-labelledby="modal-0-title" data-fr-concealing-backdrop="true">
      <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
          <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
            <div class="fr-modal__body">
              <div class="fr-modal__header">
                <button aria-controls="modal-0" title="Fermer" type="button" id="button-5" class="fr-btn--close fr-btn">Fermer</button>
              </div>
              <div class="fr-modal__content">
                <h2 id="modal-0-title" class="fr-modal__title">
                  Quitter le formulaire
                </h2>
                <div class="fr-alert fr-alert--warning fr-mb-4w">
                  <h3 class="fr-alert__title">Vous êtes sur la point de quitter le formulaire.</h3>
                  <p>Les données modifiées ne seront pas sauvegardées. Êtes-vous sûrs de vouloir continuer ?</p>
                </div>
                <ul class="fr-btns-group fr-btns-group--inline">
                  <li>
                    <%= link_to ht2_actes_path, class: "fr-btn" do %>
                      Quitter le formulaire
                    <% end %>
                  </li>
                  <li>
                    <button class="fr-btn fr-btn--secondary" aria-controls="modal-0" >
                      Annuler
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </dialog>
    <div class="fr-grid-row fr-grid-row--gutters fr-mb-4w">
      <div class="fr-col-12 fr-col-lg-3">
        <nav class="fr-sidemenu fr-sidemenu--sticky-full-height" role="navigation" aria-labelledby="sidemenu-title">
          <div class="fr-sidemenu__inner">
            <button aria-expanded="false" aria-controls="sidemenu-collapse-94" type="button" class="fr-sidemenu__btn">Voir
              les étapes
            </button>
            <div class="fr-collapse" id="sidemenu-collapse-94">

              <ul class="fr-sidemenu__list">
                <p class="<%= badge_class_for_etat_actes(@acte.etat) %> fr-badge--sm"><%= @acte.type_acte %>
                  n°<%= @acte.numero_formate %> <%= @acte.etat %></p>
                <li class="fr-sidemenu__item">
                  <button aria-controls="modal-etape1" data-fr-opened="false" aria-current="<%= @etape == 1 %>" type="button" class="fr-sidemenu__link">
                    Étape 1 : Informations sur l'acte
                    <span class="fr-icon-checkbox-circle-fill fr-icon--sm cgreen" aria-hidden="true"></span>
                  </button>
                </li>
                <li class="fr-sidemenu__item">
                  <button aria-controls="modal-etape2" data-fr-opened="false" aria-current="<%= @etape == 2 %>" type="button" class="fr-sidemenu__link">
                    Étape 2 : Contrôle des critères
                    <% unless @acte.disponibilite_credits.nil? %>
                      <span class="fr-icon-checkbox-circle-fill fr-icon--sm cgreen" aria-hidden="true"></span>
                    <% end %>
                  </button>
                </li>
                <li class="fr-sidemenu__item">
                  <% if @conditions_met == true %>
                    <button aria-controls="modal-etape3" data-fr-opened="false" aria-current="<%= @etape == 3 %>" type="button" class="fr-sidemenu__link">
                      Étape 3 : Proposition de décision de contrôle
                      <% if @acte.etat == "suspendu" %>
                        <span class="fr-icon-error-warning-fill fr-icon--sm cwarning" aria-hidden="true"></span>
                      <% end %>
                    </button>
                  <% else %>
                    <a disabled class="fr-sidemenu__link">Étape 3 : Proposition de décision de contrôle</a>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="fr-col-12 fr-col-lg-9">
        <% case @etape %>
        <% when 1 %>
          <%= render 'form_informations' %>
        <% when 2 %>
          <%= render 'form_criteres' %>
        <% when 3 %>
          <%= render 'form_proposition_decision' %>
        <% end %>
      </div>
    </div>
  </div>

  <dialog id="modal-etape1" class="fr-modal" aria-labelledby="modal-etape1-title" data-fr-concealing-backdrop="true">
    <div class="fr-container fr-container--fluid fr-container-md">
      <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
          <div class="fr-modal__body">
            <div class="fr-modal__header">
              <button aria-controls="modal-etape1" title="Fermer" type="button" class="fr-btn--close fr-btn">Fermer</button>
            </div>
            <div class="fr-modal__content">
              <h2 id="modal-etape1-title" class="fr-modal__title">
                Quitter l'étape
              </h2>
              <div class="fr-alert fr-alert--warning fr-mb-4w">
                <h3 class="fr-alert__title">Vous êtes sur la point de quitter cette étape.</h3>
                <p>Les données modifiées ne seront pas sauvegardées. Êtes-vous sûrs de vouloir continuer ?</p>
              </div>
              <ul class="fr-btns-group fr-btns-group--inline">
                <li>
                  <%= link_to edit_ht2_acte_path(@acte, etape: 1), class: "fr-btn" do %>
                    Quitter et aller à l'étape 1
                  <% end %>
                </li>
                <li>
                  <button class="fr-btn fr-btn--secondary" aria-controls="modal-etape1" >
                    Annuler
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </dialog>
  <dialog id="modal-etape2" class="fr-modal" aria-labelledby="modal-etape2-title" data-fr-concealing-backdrop="true">
    <div class="fr-container fr-container--fluid fr-container-md">
      <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
          <div class="fr-modal__body">
            <div class="fr-modal__header">
              <button aria-controls="modal-etape2" title="Fermer" type="button" class="fr-btn--close fr-btn">Fermer</button>
            </div>
            <div class="fr-modal__content">
              <h2 id="modal-etape2-title" class="fr-modal__title">
                Quitter l'étape
              </h2>
              <div class="fr-alert fr-alert--warning fr-mb-4w">
                <h3 class="fr-alert__title">Vous êtes sur la point de quitter cette étape.</h3>
                <p>Les données modifiées ne seront pas sauvegardées. Êtes-vous sûrs de vouloir continuer ?</p>
              </div>
              <ul class="fr-btns-group fr-btns-group--inline">
                <li>
                  <%= link_to edit_ht2_acte_path(@acte, etape: 2), class: "fr-btn" do %>
                    Quitter et aller à l'étape 2
                  <% end %>
                </li>
                <li>
                  <button class="fr-btn fr-btn--secondary" aria-controls="modal-etape2" >
                    Annuler
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </dialog>
  <dialog id="modal-etape3" class="fr-modal" aria-labelledby="modal-etape3-title" data-fr-concealing-backdrop="true">
    <div class="fr-container fr-container--fluid fr-container-md">
      <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
          <div class="fr-modal__body">
            <div class="fr-modal__header">
              <button aria-controls="modal-etape3" title="Fermer" type="button" class="fr-btn--close fr-btn">Fermer</button>
            </div>
            <div class="fr-modal__content">
              <h2 id="modal-etape3-title" class="fr-modal__title">
                Quitter l'étape
              </h2>
              <div class="fr-alert fr-alert--warning fr-mb-4w">
                <h3 class="fr-alert__title">Vous êtes sur la point de quitter cette étape.</h3>
                <p>Les données modifiées ne seront pas sauvegardées. Êtes-vous sûrs de vouloir continuer ?</p>
              </div>
              <ul class="fr-btns-group fr-btns-group--inline">
                <li>
                  <%= link_to edit_ht2_acte_path(@acte, etape: 3), class: "fr-btn" do %>
                    Quitter et aller à l'étape 3
                  <% end %>
                </li>
                <li>
                  <button class="fr-btn fr-btn--secondary" aria-controls="modal-etape3" >
                    Annuler
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </dialog>
</main>