<% content_for :title do %>Formulaire suivi d'un acte HT2 | ANACO
<% end %>
<main role="main" class="containtAll">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters fr-mb-4w">
      <div class="fr-col-12 fr-col-lg-12">
        <h1 class="fr-mt-4w">Formulaire <%= @acte.type_acte %> HT2</h1>
      </div>
    </div>
    <div class="fr-grid-row fr-grid-row--gutters fr-mb-4w">
      <div class="fr-col-12 fr-col-lg-3">
        <nav class="fr-sidemenu fr-sidemenu--sticky-full-height" role="navigation" aria-labelledby="sidemenu-title">
          <div class="fr-sidemenu__inner">
            <button aria-expanded="false" aria-controls="sidemenu-collapse-94" type="button" class="fr-sidemenu__btn">Voir
              les étapes
            </button>
            <div class="fr-collapse" id="sidemenu-collapse-94">

              <ul class="fr-sidemenu__list">

                <li class="fr-sidemenu__item">
                  <%= link_to edit_ht2_acte_path(@acte, etape: 1), 'aria-current': @etape == 1, class: "fr-sidemenu__link" do %>
                    Étape 1 : Informations sur l'acte
                  <% end %>
                </li>
                <li class="fr-sidemenu__item">
                  <%= link_to edit_ht2_acte_path(@acte, etape: 2), 'aria-current': @etape == 2, class: "fr-sidemenu__link" do %>
                    Étape 2 : Contrôle de la disponibilité des crédits
                  <% end %>
                </li>

                <li class="fr-sidemenu__item">
                  <%= link_to edit_ht2_acte_path(@acte, etape: 3), 'aria-current': @etape == 3, class: "fr-sidemenu__link" do %>
                    Étape 3 : Contrôle de l’imputation de la dépense
                  <% end %>
                </li>
                <li class="fr-sidemenu__item">
                  <%= link_to edit_ht2_acte_path(@acte, etape: 4), 'aria-current': @etape == 4, class: "fr-sidemenu__link" do %>
                    Étape 4 : Contrôle de l’exactitude de l’évaluation de la
                    consommation des crédits
                  <% end %>
                </li>
                <li class="fr-sidemenu__item">
                  <%= link_to edit_ht2_acte_path(@acte, etape: 5), 'aria-current': @etape == 5, class: "fr-sidemenu__link" do %>
                    Étape 5 : Contrôle de la compatibilité avec la programmation
                    annuelle et pluriannuelle
                  <% end %>
                </li>
                <li class="fr-sidemenu__item">
                  <%= link_to edit_ht2_acte_path(@acte, etape: 6), 'aria-current': @etape == 6, class: "fr-sidemenu__link" do %>
                    Étape 6 : Proposition de décision de contrôle
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="fr-col-12 fr-col-lg-9">

        <% case @etape %>
        <% when 1 %>
          <%= render 'form_informations' %>
        <% when 2 %>
          <%= render 'form_disponibilite_credits' %>
        <% end %>

      </div>
    </div>
  </div>
</main>