<% content_for :title do %>Formulaire suivi d'un acte HT2 | ANACO
<% end %>
<main role="main" class="containtAll">
  <div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
      <button class="fr-breadcrumb__button " aria-expanded="false" aria-controls="breadcrumb-1" title="voir le fil d'ariane">
        Voir le fil d’Ariane
      </button>
      <div class="fr-collapse" id="breadcrumb-1">
        <ol class="fr-breadcrumb__list">
          <li>
            <%= link_to root_path, class: "fr-breadcrumb__link" do %> Accueil
            <% end %>
          </li>
          <li>
            <%= link_to ht2_actes_path, class: "fr-breadcrumb__link" do %> Actes HT2
            <% end %>
          </li>
          <li>
            <a class="fr-breadcrumb__link" aria-current="page">Formulaire <%= @acte.type_acte %> HT2</a>
          </li>
        </ol>
      </div>
    </nav>
    <div class="fr-grid-row fr-grid-row--gutters fr-mb-4w">
      <div class="fr-col-12 fr-col-lg-12">
        <h1>Formulaire <%= @acte.type_acte %> HT2</h1>
      </div>
    </div>
    <div class="fr-grid-row fr-grid-row--gutters fr-mb-4w">
      <div class="fr-col-12 fr-col-lg-3">
        <nav class="fr-sidemenu fr-sidemenu--sticky-full-height" role="navigation" aria-labelledby="sidemenu-title">
          <div class="fr-sidemenu__inner">
            <button aria-expanded="false" aria-controls="sidemenu-collapse-94" type="button" class="fr-sidemenu__btn">Voir
              les étapes
            </button>
            <div class="fr-collapse" id="sidemenu-collapse-94">

              <ul class="fr-sidemenu__list">
                <p class="<%= badge_class_for_etat(@acte.etat) %> fr-badge--sm">Acte <%= @acte.etat %></p>
                <li class="fr-sidemenu__item">
                  <%= link_to edit_ht2_acte_path(@acte, etape: 1), 'aria-current': @etape == 1, class: "fr-sidemenu__link" do %>
                    Étape 1 : Informations sur l'acte
                    <% if @acte.etat == "en pré-instruction" %>
                      <span class="fr-icon-error-warning-fill fr-icon--sm cwarning" aria-hidden="true"></span>
                    <% elsif @acte.instructeur.present? && @acte.nature.present? && @acte.montant_ae.present? %>
                      <span class="fr-icon-checkbox-circle-fill fr-icon--sm cgreen" aria-hidden="true"></span>
                    <% end %>
                  <% end %>

                </li>
                <li class="fr-sidemenu__item">
                  <%= link_to edit_ht2_acte_path(@acte, etape: 2), 'aria-current': @etape == 2, class: "fr-sidemenu__link" do %>
                    Étape 2 : Contrôle de la disponibilité des crédits
                    <% if @acte.disponibilite_credits == false %>
                      <span class="fr-icon-error-warning-fill fr-icon--sm cwarning" aria-hidden="true"></span>
                    <% elsif @acte.disponibilite_credits == true %>
                      <span class="fr-icon-checkbox-circle-fill fr-icon--sm cgreen" aria-hidden="true"></span>
                    <% end %>
                  <% end %>
                </li>

                <li class="fr-sidemenu__item">
                  <%= link_to edit_ht2_acte_path(@acte, etape: 3), 'aria-current': @etape == 3, class: "fr-sidemenu__link" do %>
                    Étape 3 : Contrôle de l’imputation de la dépense
                    <% if @acte.imputation_depense == false %>
                      <span class="fr-icon-error-warning-fill fr-icon--sm cwarning" aria-hidden="true"></span>
                    <% elsif @acte.imputation_depense == true %>
                      <span class="fr-icon-checkbox-circle-fill fr-icon--sm cgreen" aria-hidden="true"></span>
                    <% end %>
                  <% end %>
                </li>
                <li class="fr-sidemenu__item">
                  <%= link_to edit_ht2_acte_path(@acte, etape: 4), 'aria-current': @etape == 4, class: "fr-sidemenu__link" do %>
                    Étape 4 : Contrôle de l’exactitude de l’évaluation de la
                    consommation des crédits
                    <% if @acte.consommation_credits == false %>
                      <span class="fr-icon-error-warning-fill fr-icon--sm cwarning" aria-hidden="true"></span>
                    <% elsif @acte.consommation_credits == true %>
                      <span class="fr-icon-checkbox-circle-fill fr-icon--sm cgreen" aria-hidden="true"></span>
                    <% end %>
                  <% end %>
                </li>
                <li class="fr-sidemenu__item">
                  <%= link_to edit_ht2_acte_path(@acte, etape: 5), 'aria-current': @etape == 5, class: "fr-sidemenu__link" do %>
                    Étape 5 : Contrôle de la compatibilité avec la programmation
                    annuelle et pluriannuelle
                    <% if @acte.programmation == false %>
                      <span class="fr-icon-error-warning-fill fr-icon--sm cwarning" aria-hidden="true"></span>
                    <% elsif @acte.programmation == true %>
                      <span class="fr-icon-checkbox-circle-fill fr-icon--sm cgreen" aria-hidden="true"></span>
                    <% end %>
                  <% end %>
                </li>
                <li class="fr-sidemenu__item">
                  <%= link_to edit_ht2_acte_path(@acte, etape: 6), 'aria-current': @etape == 6, class: "fr-sidemenu__link" do %>
                    Étape 6 : Proposition de décision de contrôle
                    <% if @acte.etat == "suspendu" %>
                      <span class="fr-icon-error-warning-fill fr-icon--sm cwarning" aria-hidden="true"></span>
                    <% end %>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="fr-col-12 fr-col-lg-9">

        <% case @etape %>
        <% when 1 %>
          <%= render 'form_informations' %>
        <% when 2 %>
          <%= render 'form_disponibilite_credits' %>
        <% when 3 %>
          <%= render 'form_imputation_depense' %>
        <% when 4 %>
          <%= render 'form_consommation_credits' %>
        <% when 5 %>
          <%= render 'form_programmation' %>
        <% when 6 %>
          <%= render 'form_proposition_decision' %>
        <% end %>

      </div>
    </div>
  </div>
</main>