<%= turbo_frame_tag :modal, target: "_top" do %>
  <div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-10 fr-col-lg-6">
        <div class="fr-modal__body">
          <div class="fr-modal__header">
            <button class="fr-btn--close fr-btn" aria-controls="modal-acte" title="Fermer">
              Fermer
            </button>
          </div>
          <div class="fr-modal__content">
            <h2 id="modal-acte-title" class="fr-modal__title">Renvoyer l'acte en instruction</h2>
            <p class="<%= badge_class_for_etat_actes(@acte.etat) %> fr-badge--sm"><%= @acte.type_acte %>
              n°<%= @acte.numero_formate %> <%= @acte.etat %></p>

            <div class="fr-alert fr-alert--warning fr-my-2w">
              <h3 class="fr-alert__title">Vous êtes sur le point de renvoyer cet acte en phase d’instruction.</h3>
            </div>
            <p>Si vous souhaitez ajouter un commentaire pour l’instructeur, rajoutez vos observations à la suite de
              celles de l’agent via le champ ci-dessous :</p>

            <%= form_with(model: @acte, data: { turbo_frame: "_top"} ) do |f| %>
              <%= f.hidden_field :etat, value: "en cours d'instruction" %>
              <%= hidden_field_tag :etape, 8 %>
              <div class="fr-input-group">
                <label for="commentaire_proposition_decision" class="fr-label">Commentaire interne sur la proposition de décision de contrôle</label>
                <%= f.text_area :commentaire_proposition_decision,rows:6, class: 'fr-input' %>
              </div>
              <ul class="fr-btns-group">
                <li>
                  <%= f.submit "Renvoyer l'acte en phase d'instruction", class: 'fr-btn' %>
                </li>
              </ul>
            <% end %>

            <ul class="fr-btns-group">
              <li>
                <button aria-controls="modal-acte" class="fr-btn fr-btn--secondary">
                  Annuler</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>