<%= turbo_frame_tag :modal, target: "_top" do %>
  <div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-10 fr-col-lg-9">
        <div class="fr-modal__body">
          <div class="fr-modal__header">
            <button class="fr-btn--close fr-btn" aria-controls="modal-acte" title="Fermer">
              Fermer
            </button>
          </div>
          <div class="fr-modal__content">
            <h2 id="modal-acte-title" class="fr-modal__title">Valider l'acte</h2>
            <p class="<%= badge_class_for_etat_actes(@acte.etat) %> fr-badge--sm"><%= @acte.type_acte %>
              n°<%= @acte.numero_formate %> <%= @acte.etat %></p>

            <div class="cwarning fr-my-2w">Tous les champs comportant un astérisque (*) sont à remplir
              obligatoirement.
            </div>
            <div data-controller="acte-form">
              <%= form_with(model: @acte, data: { turbo_frame: "_top" }) do |f| %>
                <%= hidden_field_tag :etape, 5 %>

                <div class="fr-grid-row fr-grid-row--gutters">
                  <div class="fr-col-12 fr-col-lg-6">
                    <div class="fr-input-group">
                      <label for="valideur" class="fr-label">Initiales du valideur*</label>
                      <%= f.text_field :valideur, value: @acte.valideur, id: "valideur", class: "fr-input", required: true %>
                    </div>
                  </div>
                  <div class="fr-col-12 fr-col-lg-6">
                    <div class="fr-select-group">
                      <label for="decision_finale" class="fr-label">Décision finale de contrôle*</label>
                      <%= f.select :decision_finale, options_for_select(@liste_decisions.map { |decision| [decision, decision] }, @acte.decision_finale.presence || @acte.proposition_decision), { prompt: "- sélectionner -" }, { id: "decision_finale", class: "fr-select", required: true } %>
                    </div>
                  </div>
                </div>
                <div class="fr-grid-row fr-grid-row--gutters">
                  <div class="fr-col-12 fr-col-lg-12">
                    <div class="fr-input-group">
                      <label for="observations" class="fr-label">Propositions d’observations à l’ordonnateur</label>
                      <%= f.text_area :observations, rows: 6, class: 'fr-input' %>
                    </div>
                    <div data-controller="multi-select">
                      <div class="fr-select-group">
                        <label for="type_observations" class="fr-label">Type d'observations</label>
                        <%= select_tag "type_observations", options_for_select([["- sélectionner -", ""]] + @liste_types_observations.map { |type| [type, type] }),
                                       id: "type_observations_select", class: "fr-select", data: { action: "change->multi-select#add", multi_select_target: "select" } %>
                      </div>

                      <!-- Conteneur pour afficher les tags -->
                      <ul id="selected_observations" class="fr-tags-group" data-multi-select-target="container">
                        <% @acte.type_observations&.each do |observation| %>
                          <li data-action="click->multi-select#remove" data-value="<%= observation %>">
                            <button class="fr-tag fr-tag--dismiss" type="button" aria-label="Retirer <%= observation %>">
                              <%= observation %>
                            </button>
                          </li>
                        <% end %>
                      </ul>

                      <!-- Champ caché pour stocker les valeurs sélectionnées -->
                      <%= f.hidden_field :type_observations, value: @acte.type_observations&.join(","), id: "hidden_type_observations", data: { multi_select_target: "hidden" } %>
                    </div>
                  </div>
                </div>
                <% if @acte.nature == "Liste d'actes" || (@acte.type_acte == 'avis' && @acte.nature == 'Transaction') %>
                  <%= f.hidden_field :etat, value: "clôturé" %>
                  <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12 fr-col-lg-6">
                      <div class="fr-select-group">
                        <label for="date_cloture" class="fr-label">Date de clôture*</label>
                        <%= f.text_field :date_cloture, class: "fr-select", data: { controller: "flatpickr", flatpickr_default_date: format_date(@acte.date_cloture), flatpickr_min_date: format_date(@acte.date_chorus) }, value: format_date(@acte.date_cloture), id: "date_cloture", placeholder: "- sélectionner -", required: true %>
                      </div>
                    </div>
                  </div>
                  <ul class="fr-btns-group">
                    <li>
                      <%= f.submit "Valider et clôturer", class: 'fr-btn' %>
                    </li>
                  </ul>
                <% else %>
                  <%= f.hidden_field :etat, value: "en attente de validation Chorus" %>
                  <ul class="fr-btns-group">
                    <li>
                      <%= f.submit "Valider", class: 'fr-btn' %>
                    </li>
                  </ul>
                <% end %>
              <% end %>
              <ul class="fr-btns-group">
                <li>
                  <button aria-controls="modal-acte" class="fr-btn fr-btn--secondary">
                    Annuler</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>