<% content_for :title do %>Formulaire suivi d'un acte HT2 | ANACO
<% end %>
<main role="main" class="containtAll">
  <div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
      <button class="fr-breadcrumb__button " aria-expanded="false" aria-controls="breadcrumb-1" title="voir le fil d'ariane">
        Voir le fil d’Ariane
      </button>
      <div class="fr-collapse" id="breadcrumb-1">
        <ol class="fr-breadcrumb__list">
          <li>
            <%= link_to root_path, class: "fr-breadcrumb__link" do %> Accueil
            <% end %>
          </li>
          <li>
            <%= link_to ht2_actes_path, class: "fr-breadcrumb__link" do %> Actes HT2
            <% end %>
          </li>
          <li>
            <a class="fr-breadcrumb__link" aria-current="page">Formulaire <%= @acte.type_acte %> HT2</a>
          </li>
        </ol>
      </div>
    </nav>
    <div class="fr-grid-row fr-grid-row--gutters fr-mb-4w">
      <div class="fr-col-12 fr-col-lg-12">
        <% if @saisine && @acte.numero_chorus.present? %>
          <h1>Saisine n°<%= @acte_parent.numero_saisine + 1 %> - <%= @acte.type_acte %> HT2 CHORUS n°<%=@acte.numero_chorus %></h1>
        <% else %>
          <h1>Formulaire <%= @acte.type_acte %> HT2</h1>
        <% end %>
      </div>
    </div>

    <div class="fr-grid-row fr-grid-row--gutters fr-mb-4w">
      <div class="fr-col-12 fr-col-lg-3">
        <nav class="fr-sidemenu fr-sidemenu--sticky-full-height" role="navigation" aria-labelledby="sidemenu-title">
          <div class="fr-sidemenu__inner">
            <button aria-expanded="false" aria-controls="sidemenu-collapse-94" type="button" class="fr-sidemenu__btn">Voir
              les étapes
            </button>
            <div class="fr-collapse" id="sidemenu-collapse-94">

              <ul class="fr-sidemenu__list">

                <li class="fr-sidemenu__item">
                  <a aria-current="true" class="fr-sidemenu__link">Étape 1 : Informations sur l'acte</a>
                </li>
                <li class="fr-sidemenu__item">
                  <a disabled class="fr-sidemenu__link">Étape 2 : Contrôle des critères</a>
                </li>
                <li class="fr-sidemenu__item">
                  <a disabled class="fr-sidemenu__link">Étape 3 : Proposition de décision de contrôle</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <div class="fr-col-12 fr-col-lg-9">
        <%= render 'form_informations' %>
      </div>
    </div>
  </div>
</main>