<% content_for :title do %>Formulaire suivi d'un acte HT2 | ANACO
<% end %>
<main role="main" class="containtAll">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters fr-my-4w">
      <div class="fr-col-12 fr-col-lg-12">
        <div class="title-btn">
          <% if @saisine && @acte.numero_chorus.present? %>
            <h1>Saisine n°<%= @acte_parent.numero_saisine + 1 %> - <%= @acte.type_acte %> HT2 CHORUS
              n°<%= @acte.numero_chorus %></h1>
          <% else %>
            <h1>Formulaire <%= @acte.type_acte %> HT2</h1>
          <% end %>
          <%= link_to ht2_actes_path, class: "fr-link fr-icon-close-line fr-link--icon-right" do %>
            Quitter le formulaire
          <% end %>
        </div>
      </div>
    </div>

    <div class="fr-grid-row fr-grid-row--gutters fr-mb-4w">
      <div class="fr-col-12 fr-col-lg-3">
        <nav class="fr-sidemenu fr-sidemenu--sticky-full-height" role="navigation" aria-labelledby="sidemenu-title">
          <div class="fr-sidemenu__inner">
            <button aria-expanded="false" aria-controls="sidemenu-collapse-94" type="button" class="fr-sidemenu__btn">Voir
              les étapes
            </button>
            <div class="fr-collapse" id="sidemenu-collapse-94">

              <ul class="fr-sidemenu__list">

                <li class="fr-sidemenu__item">
                  <a aria-current="true" class="fr-sidemenu__link">Étape 1 : Informations sur l'acte</a>
                </li>
                <li class="fr-sidemenu__item">
                  <a disabled class="fr-sidemenu__link">Étape 2 : Contrôle des critères</a>
                </li>
                <li class="fr-sidemenu__item">
                  <a disabled class="fr-sidemenu__link">Étape 3 : Proposition de décision de contrôle</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <div class="fr-col-12 fr-col-lg-9">
        <%= render 'form_informations' %>
      </div>
    </div>
  </div>
</main>