<%= turbo_frame_tag :new_modal, target: "_top" do %>
  <div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
        <div class="fr-modal__body">
          <div class="fr-modal__header">
            <button class="fr-btn--close fr-btn" aria-controls="nouvel-acte-modal" title="Fermer">
              Fermer
            </button>
          </div>
          <div class="fr-modal__content" data-controller="acte-form">
            <h2 id="modal-nouvel-acte-title" class="fr-modal__title">Ajouter un acte</h2>
            <% if ENV["SERVICE_NAME"] == "anaco-test" %>
              <div class="fr-py-2w">
                <%= render 'layouts/warning_test' %>
              </div>
            <% end %>
            <%= form_with url: new_ht2_acte_path, method: :get, data: { turbo_frame: "_top", turbo: false } do |f| %>

              <!-- Choix du périmètre -->
              <fieldset class="fr-fieldset" aria-labelledby="perimetre-legend">
                <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="perimetre-legend">
                  Choisissez un périmètre*
                </legend>
                <div class="fr-fieldset__element fr-fieldset__element--inline">
                  <div class="fr-radio-group fr-radio-rich">
                    <%= f.radio_button :perimetre, "etat", id: "perimetre_etat", required: true, checked: true, data: { "acte-form-target": "perimetreRadio", action: "change->acte-form#togglePerimetre" } %>
                    <label class="fr-label" for="perimetre_etat">État</label>
                  </div>
                </div>
                <div class="fr-fieldset__element fr-fieldset__element--inline">
                  <div class="fr-radio-group fr-radio-rich">
                    <%= f.radio_button :perimetre, "organisme", id: "perimetre_organisme", data: { "acte-form-target": "perimetreRadio", action: "change->acte-form#togglePerimetre" } %>
                    <label class="fr-label" for="perimetre_organisme">Organisme</label>
                  </div>
                </div>
              </fieldset>

              <!-- Choix du type d'acte -->
              <fieldset class="fr-fieldset" aria-labelledby="type-acte-legend">
                <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="type-acte-legend">
                  Choisissez un type d'acte*
                </legend>
                <div class="fr-fieldset__element fr-fieldset__element--inline">
                  <div class="fr-radio-group fr-radio-rich">
                    <%= f.radio_button :type_acte, "avis", id: "avis", required: true %>
                    <label class="fr-label" for="avis"> Avis </label>
                  </div>
                </div>
                <div class="fr-fieldset__element fr-fieldset__element--inline">
                  <div class="fr-radio-group fr-radio-rich">
                    <%= f.radio_button :type_acte, "visa", id: "visa" %>
                    <label class="fr-label" for="visa"> Visa </label>
                  </div>
                </div>
                <div class="fr-fieldset__element fr-fieldset__element--inline" data-acte-form-target="tfOption">
                  <div class="fr-radio-group fr-radio-rich">
                    <%= f.radio_button :type_acte, "TF", id: "TF" %>
                    <label class="fr-label" for="TF"> TF </label>
                  </div>
                </div>
                <div class="fr-messages-group" id="storybook-form-messages" aria-live="polite">
                </div>
              </fieldset>
              <!-- Choix de la catégorie (visible seulement pour Organisme) -->
              <fieldset class="fr-fieldset fr-hidden" id="categorie-organisme-block" aria-labelledby="categorie-organisme-legend" data-acte-form-target="categorieBlock">
                <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="categorie-organisme-legend">
                  Choisissez une catégorie*
                </legend>
                <div class="fr-fieldset__element fr-fieldset__element--inline">
                  <div class="fr-radio-group fr-radio-rich">
                    <%= f.radio_button :categorie_organisme, "depense", id: "categorie_depense", data: { "acte-form-target": "categorieRadio" } %>
                    <label class="fr-label" for="categorie_depense">Dépense</label>
                  </div>
                </div>
                <div class="fr-fieldset__element fr-fieldset__element--inline">
                  <div class="fr-radio-group fr-radio-rich">
                    <%= f.radio_button :categorie_organisme, "recette", id: "categorie_recette", data: { "acte-form-target": "categorieRadio" } %>
                    <label class="fr-label" for="categorie_recette">Recette</label>
                  </div>
                </div>
              </fieldset>

              <fieldset class="fr-fieldset" id="storybook-form" aria-labelledby="storybook-form-legend storybook-form-messages">
                <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="storybook-form-legend"> Précisez
                  l'état de l'acte*
                </legend>
                <div class="fr-fieldset__element">
                  <div class="fr-radio-group fr-radio-rich">
                    <%= f.radio_button :etat, "en cours d'instruction", id: "etat_1", required: true, data: { "acte-form-target": "etatRadio", action: "change->acte-form#togglePreInstruction" } %>
                    <label class="fr-label" for="etat_1">
                      <p class="fr-badge fr-badge--green-archipel">En instruction</p>
                      <span class="fr-hint-text">Traitement standard d’un acte</span></label>
                  </div>


                  <!-- Sous-question conditionnelle -->
                  <div id="pre-instruction-block" class="fr-mt-2w fr-ml-2w" hidden>
                    <fieldset class="fr-fieldset" aria-labelledby="legend-pre-inst">
                      <legend id="legend-pre-inst" class="fr-fieldset__legend--regular fr-fieldset__legend">
                        Cet acte a-t-il fait l’objet d’une pré-instruction antérieure ?*
                      </legend>

                      <div class="fr-fieldset__element fr-fieldset__element--inline">
                        <div class="fr-radio-group fr-radio-rich">
                          <%= f.radio_button :pre_instruction, "true", id: "pre_instruction_yes", data: { "acte-form-target": "preRadio" } %>
                          <label class="fr-label" for="pre_instruction_yes">Oui</label>
                        </div>
                      </div>

                      <div class="fr-fieldset__element fr-fieldset__element--inline">
                        <div class="fr-radio-group fr-radio-rich">
                          <%= f.radio_button :pre_instruction, "false", id: "pre_instruction_no", data: { "acte-form-target": "preRadio" } %>
                          <label class="fr-label" for="pre_instruction_no">Non</label>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>

                <div class="fr-fieldset__element">
                  <div class="fr-radio-group fr-radio-rich">
                    <%= f.radio_button :etat, "en pré-instruction", id: "etat_2", data: { "acte-form-target": "etatRadio", action: "change->acte-form#togglePreInstruction" } %>
                    <label class="fr-label" for="etat_2">
                      <p class="fr-badge fr-badge--new fr-badge--no-icon">En pré-instruction</p>
                      <span class="fr-hint-text">Sollicitation pour conseil avant saisine officielle. Cette sollicitation ne fait pas courir les délais d'instruction contrairement à la saisine en instruction.</span></label>
                  </div>
                </div>
                <div class="fr-messages-group" id="storybook-form-messages" aria-live="polite">
                </div>
              </fieldset>

              <div class="fr-mt-4w">
                <%= f.submit "Commencer l'instruction", class: "fr-btn", name: nil %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>