<% content_for :title do %>Consultation de l'acte HT2 | ANACO
<% end %>
<main role="main" class="containtAll">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters fr-mb-4w">
      <div class="fr-col-12 fr-col-lg-12">
        <h1 class="fr-mt-4w"><%= @acte.type_acte %> HT2 <% if @acte.numero_chorus.present? %>CHORUS n°<%= @acte.numero_chorus %><% else %>n°<%= acte.id %><% end %></h1>

        <div class="fr-tabs">
          <ul class="fr-tabs__list" role="tablist" aria-label="Actes associés">
            <% @actes_groupe.each_with_index do |acte, index| %>
              <li role="presentation">
                <button type="button" id="tabpanel-<%= acte.id %>" class="fr-tabs__tab" tabindex="<%= acte == @acte_courant ? 0 : -1 %>" role="tab" aria-selected="<%= acte == @acte_courant ? 'true' : 'false' %>" aria-controls="tabpanel-<%= acte.id %>-panel">
                  Saisine <%= index +1 %>
                </button>
              </li>
            <% end %>
          </ul>
          <% @actes_groupe.each do |acte| %>
            <div id="tabpanel-<%= acte.id %>-panel" class="fr-tabs__panel <%= 'fr-tabs__panel--selected' if acte == @acte_courant %>" role="tabpanel" aria-labelledby="tabpanel-<%= acte.id %>" tabindex="0">
              <%= render 'ht2_acte_details', acte: acte %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>