<% content_for :title do %>Tableau de bord | ANACO
<% end %>
<main role="main" class="containtAll">
  <div class="fr-container" data-controller="highcharts">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-lg-12">
        <h1 class="fr-mt-6w fr-mb-2w ">Tableau de bord</h1>
      </div>
    </div>

    <!-- Ajout du filtre par programme -->
    <%= form_tag synthese_ht2_actes_path, method: :get, class: "fr-form-group" do %>
    <div class="fr-grid-row fr-grid-row--gutters">

        <div class="fr-col-12 fr-col-lg-3">
          <div class="fr-select-group">
            <label class="fr-label" for="year">Filtrer par exercice</label>
            <%= select_tag :year,
                           options_for_select((2020..Date.current.year).to_a.reverse.map { |year| [year, year] }, @selected_year),
                           class: "fr-select",
                           onchange: "this.form.submit();" %>
          </div>
        </div>
        <div class="fr-col-12 fr-col-lg-4">
          <div class="fr-select-group">
            <label class="fr-label" for="programme_id">Filtrer par programme</label>
            <%= select_tag :programme_id,
                           options_for_select([["Tous les programmes", ""]] + @programmes.map { |p| ["#{p.numero} - #{p.nom}", p.id] }, @selected_programme_id),
                           class: "fr-select",
                           onchange: "this.form.submit();" %>
          </div>
        </div>

    </div>
    <% end %>

    <div class="fr-grid-row fr-grid-row--gutters">

      <div class="fr-col-12 fr-col-lg-2">
        <div class="fr-text--center">
          <%= image_tag "artwork/pictograms/system/success.svg", class: "fr-responsive-img image-icone", alt: "" %>
          <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
            <div class="fr-cart__body">
              <p class="fr-text--lg fr-mb-0 text_center fr-text--bold"><%= @ht2_actes_clotures.count %> </p>
              <p class="fr-text--lg fr-mb-0 text_center">Actes <br>clôturés</p>
            </div>
          </div>
        </div>
      </div>
      <div class="fr-col-12 fr-col-lg-2">
        <div class="fr-text--center">
          <%= image_tag "artwork/pictograms/system/warning.svg", class: "fr-responsive-img image-icone", alt: "" %>
          <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
            <div class="fr-cart__body">
              <p class="fr-text--lg fr-mb-0 text_center fr-text--bold"><%= @ht2_actes_clotures.count_with_long_delay %> </p>
              <p class="fr-text--lg fr-mb-0 text_center">Actes clôturés hors délai</p>
            </div>
          </div>
        </div>
      </div>
      <div class="fr-col-12 fr-col-lg-2">
        <div class="fr-text--center">
          <%= image_tag "artwork/pictograms/digital/mail-send.svg", class: "fr-responsive-img image-icone", alt: "" %>
          <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
            <div class="fr-cart__body">
              <p class="fr-text--lg fr-mb-0 text_center fr-text--bold"><%= @ht2_actes_clotures.delai_moyen_traitement %>
                jours</p>
              <p class="fr-text--lg fr-mb-0 text_center">Délai moyen de traitement <%= render partial: "ht2_actes/tooltip", locals: { name: "delai_moyen_traitement_info" } %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="fr-col-12 fr-col-lg-2">
        <div class="fr-text--center">
          <%= image_tag "artwork/pictograms/document/contract.svg", class: "fr-responsive-img image-icone", alt: "" %>
          <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
            <div class="fr-cart__body">
              <p class="fr-text--lg fr-mb-0 text_center fr-text--bold"><%= @ht2_actes_clotures.duree_total_moyenne %> jours</p>
              <p class="fr-text--lg fr-mb-0 text_center">Durée moyenne de traitement <%= render partial: "ht2_actes/tooltip", locals: { name: "duree_moyenne_traitement_info" } %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="fr-col-12 fr-col-lg-2">
        <div class="fr-text--center">
          <%= image_tag "artwork/pictograms/system/error.svg", class: "fr-responsive-img image-icone", alt: "" %>
          <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
            <div class="fr-cart__body">
              <p class="fr-text--lg fr-mb-0 text_center fr-text--bold"><%= @ht2_actes_clotures.count_with_suspensions %>
                Actes clôturés </p>
              <p class="fr-text--lg fr-mb-0 text_center">avec suspension / interruption</p>
            </div>
          </div>
        </div>
      </div>
      <div class="fr-col-12 fr-col-lg-2">
        <div class="fr-text--center">
          <%= image_tag "artwork/pictograms/system/technical-error.svg", class: "fr-responsive-img image-icone", alt: "" %>
          <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
            <div class="fr-cart__body">
              <p class="fr-text--lg fr-mb-0 text_center fr-text--bold"><%= @ht2_actes_clotures.duree_moyenne_suspensions %>
                jours</p>
              <p class="fr-text--lg fr-mb-0 text_center">Durée moyenne susp. / int.</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="fr-grid-row fr-grid-row--gutters fr-mt-4w">
      <div class="fr-col-4">
        <div data-highcharts-target="canvasActeAvis" data-acte-avis="<%= @ht2_avis_decisions.to_json %>"></div>
      </div>
      <div class="fr-col-4">
        <div data-highcharts-target="canvasActeVisa" data-acte-visa="<%= @ht2_visa_decisions.to_json %>"></div>
      </div>
      <div class="fr-col-4">
        <div data-highcharts-target="canvasActeTF" data-acte-tf="<%= @ht2_tf_decisions.to_json %>"></div>
      </div>
    </div>


    <div class="fr-grid-row fr-grid-row--gutters fr-mt-4w">
      <div class="fr-col-12 fr-col-lg-6">
        <% if @statut_user == 'admin' %>
          <div data-highcharts-target="canvasActeRepartition" data-acte-repartition="<%= @stacked_type_acte_data.to_json %>"></div>
        <% else %>
          <div class="pie-wrapper">
            <div class="fr-pie">
              <div data-highcharts-target="canvasActeRepartitionPie" data-acte-repartition="<%= @repartition_acte.to_json %>"></div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="fr-col-12 fr-col-lg-6">
        <div data-highcharts-target="canvasSuspensionsDistribution" data-acte-suspdistrib="<%= @suspensions_distribution.to_json %>"></div>
      </div>
    </div>


    <div class="fr-grid-row fr-grid-row--gutters fr-mt-4w">
      <div class="fr-col-12 fr-col-lg-6">
        <div data-highcharts-target="canvasSuspensionMotif" data-suspension-motif="<%= @top_suspension_motifs_chart_data.to_json %>"></div>
      </div>
      <div class="fr-col-12 fr-col-lg-6">
        <div data-highcharts-target="canvasActeSuspension" data-acte-suspensions="<%= @ht2_suspensions_motif.to_json %>"></div>
      </div>
    </div>


    <div class="fr-grid-row fr-grid-row--gutters fr-mt-4w">
      <div class="fr-col-12 fr-col-lg-12">
        <div data-highcharts-target="canvasActesMensuel" data-actes-mensuel="<%= @actes_par_mois.to_json %>"></div>
      </div>
    </div>

    <div class="fr-grid-row fr-grid-row--gutters fr-mt-4w">
      <div class="fr-col-12 fr-col-lg-6">
        <div data-highcharts-target="canvasActesProgramme" data-actes-programme="<%= @top_programmes_chart_data.to_json %>"></div>
      </div>
      <div class="fr-col-12 fr-col-lg-6">
        <div data-highcharts-target="canvasActesProgrammeSuspension" data-actes-suspension="<%= @top_programmes_suspensions_chart_data.to_json %>"></div>
      </div>
    </div>
  </div>
</main>