<% content_for :title do %>Synthese Utilisateurs Actes | ANACO
<% end %>
<div class="fr-container-blue fr-pb-4w">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-lg-12">
        <h1 class="fr-mt-6w fr-mb-2w">Suivi du remplissage par CBR/DCB</h1>
      </div>
    </div>
    <%= turbo_frame_tag :results, data: { turbo_action: 'advance' } do %>
      <div class="fr-container--grey fr-p-2w">
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12 fr-col-lg-12">
            <%= form_with url: synthese_users_ht2_actes_path, method: :get, data: { turbo_frame: 'results', turbo_action: 'advance' } do |f| %>
              <fieldset class="fr-fieldset">
                <div class="fr-fieldset__element fr-fieldset__element--inline">
                  <div class="fr-radio-group fr-radio-rich">
                    <%= radio_button_tag 'q[perimetre_eq]', '',
                                         @q_params[:perimetre_eq].blank?,
                                         class: "fr-radio",
                                         id: "perimetre-globale",
                                         onchange: "this.form.requestSubmit()" %>
                    <%= label_tag "perimetre-globale", "Vue consolidée", class: "fr-label" %>
                  </div>
                </div>
                <div class="fr-fieldset__element fr-fieldset__element--inline">
                  <div class="fr-radio-group fr-radio-rich">
                    <%= radio_button_tag 'q[perimetre_eq]', 'etat',
                                         @q_params[:perimetre_eq] == 'etat',
                                         class: "fr-radio",
                                         id: "perimetre-etat",
                                         onchange: "this.form.requestSubmit()" %>
                    <%= label_tag "perimetre-etat", "Vue État", class: "fr-label" %>
                  </div>
                </div>
                <div class="fr-fieldset__element fr-fieldset__element--inline">
                  <div class="fr-radio-group fr-radio-rich">
                    <%= radio_button_tag 'q[perimetre_eq]', 'organisme',
                                         @q_params[:perimetre_eq] == 'organisme',
                                         class: "fr-radio",
                                         id: "perimetre-organisme",
                                         onchange: "this.form.requestSubmit()" %>
                    <%= label_tag "perimetre-organisme", "Vue Organisme", class: "fr-label" %>
                  </div>
                </div>
              </fieldset>
              <% @q_params.except(:perimetre_eq).each do |key, value| %>
                <% if value.is_a?(Array) %>
                  <% value.each do |v| %>
                    <%= hidden_field_tag "q[#{key}][]", v %>
                  <% end %>
                <% else %>
                  <%= hidden_field_tag "q[#{key}]", value %>
                <% end %>
              <% end %>
            <% end %>
            <div class="fr-mb-2w">
              <button class="fr-btn fr-icon-filter-line fr-btn--icon-left" aria-controls="modal-btn-filtrer-utilisateurs" data-fr-opened="false" type="button">
                Filtrer les résultats
              </button>
            </div>
            <div class="fr-mb-4w">
              <% has_date_filter = @q_params[:date_cloture_gteq].present? || @q_params[:date_cloture_lteq].present? %>
              <% has_type_acte_filter = @selected_type_actes.present? %>
              <% has_filters = has_date_filter || has_type_acte_filter %>
              <% filter_count = 1 + (has_date_filter ? 1 : 0) + (has_type_acte_filter ? 1 : 0) %>
              <h6 class="fr-mb-1w">Filtres appliqués (<%= filter_count %>)</h6>
              <ul class="fr-tags-group">
                <li>
                  <p class="fr-tag fr-tag--filtres"><%= @q_params[:annee_eq] || Date.today.year %></p>
                </li>
                <% if has_date_filter %>
                  <li>
                    <p class="fr-tag fr-tag--filtres">
                      Clôture
                      <%= " du #{@q_params[:date_cloture_gteq]}" if @q_params[:date_cloture_gteq].present? %>
                      <%= " au #{@q_params[:date_cloture_lteq]}" if @q_params[:date_cloture_lteq].present? %>
                    </p>
                  </li>
                <% end %>
                <% if has_type_acte_filter %>
                  <% @selected_type_actes.each do |t| %>
                    <li>
                      <p class="fr-tag fr-tag--filtres"><%= t %></p>
                    </li>
                  <% end %>
                <% end %>
                <% if has_filters %>
                  <li>
                    <%= link_to synthese_users_ht2_actes_path, class: "fr-tag fr-tag--dismiss", data: { turbo_frame: "results" } do %>
                      Réinitialiser les filtres
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-12">
          <div class="fr-tabs fr-my-2w">
            <ul class="fr-tabs__list" role="tablist" aria-label="Synthèse des actes par Profil">
              <li role="presentation">
                <button type="button" id="storybook-tab-20" class="fr-tabs__tab" tabindex="0" role="tab" aria-selected="true" aria-controls="storybook-tab-20-panel">Synthèse
                  CBR
                </button>
              </li>
              <li role="presentation">
                <button type="button" id="storybook-tab-21" class="fr-tabs__tab" tabindex="-1" role="tab" aria-selected="false" aria-controls="storybook-tab-21-panel">Synthèse
                  DCB
                </button>
              </li>
            </ul>
            <div id="storybook-tab-20-panel" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel" aria-labelledby="storybook-tab-20" tabindex="0">
              <div class="fr-table--lg fr-table fr-table--no-caption fr-table--bordered">
                <div class="fr-table__wrapper">
                  <div class="fr-table__container">
                    <div class="fr-table__content">
                      <table>
                        <caption>Synthèse CBR</caption>
                        <thead>
                        <tr class="fr-cell--multiline">
                          <th class="fr-cell--fixed" scope="col">Nom</th>
                          <th scope="col">Actes clôturés</th>
                          <th scope="col">Actes en cours de traitement</th>
                          <th scope="col">Actes clôturés avec suspension/interruption</th>
                          <th scope="col">Actes clôturés avec observations</th>
                          <th scope="col">Délai moyen de traitement</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="fr-table--total">
                          <th class="fr-cell--fixed">Total</th>
                          <td><%= @stats_cbr.sum { |stat| stat[:actes_clotures_count] } %></td>
                          <td><%= @stats_cbr.sum { |stat| stat[:actes_non_clotures_count] } %></td>
                          <td><%= @stats_cbr.sum { |stat| stat[:actes_avec_suspensions_count] } %></td>
                          <td><%= @stats_cbr.sum { |stat| stat[:actes_avec_observations_count] } %></td>
                          <td><%= pluralize(@stats_cbr.any? ? (@stats_cbr.sum { |stat| stat[:delai_moyen] } / @stats_cbr.size.to_f).round : 0, 'jour', plural: 'jours') %> </td>
                        </tr>
                        <% @stats_cbr.each do |stat| %>
                          <tr>
                            <th class="fr-cell--fixed"><%= stat[:user].nom %></th>
                            <td><%= stat[:actes_clotures_count] %></td>
                            <td><%= stat[:actes_non_clotures_count] %></td>
                            <td><%= stat[:actes_avec_suspensions_count] %></td>
                            <td><%= stat[:actes_avec_observations_count] %></td>
                            <td><%= pluralize(stat[:delai_moyen], 'jour', plural: 'jours') %></td>
                          </tr>
                        <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="storybook-tab-21-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="storybook-tab-21" tabindex="0">
              <div class="fr-table--lg fr-table fr-table--no-caption fr-table--bordered">
                <div class="fr-table__wrapper">
                  <div class="fr-table__container">
                    <div class="fr-table__content">
                      <table>
                        <caption>Synthèse DCB</caption>
                        <thead>
                        <tr class="fr-cell--multiline">
                          <th class="fr-cell--fixed" scope="col">Nom</th>
                          <th scope="col">Actes clôturés</th>
                          <th scope="col">Actes en cours de traitement</th>
                          <th scope="col">Actes clôturés avec suspension/interruption</th>
                          <th scope="col">Actes clôturés avec observations</th>
                          <th scope="col">Délai moyen de traitement</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="fr-table--total">
                          <th class="fr-cell--fixed">Total</th>
                          <td><%= @stats_dcb.sum { |stat| stat[:actes_clotures_count] } %></td>
                          <td><%= @stats_dcb.sum { |stat| stat[:actes_non_clotures_count] } %></td>
                          <td><%= @stats_dcb.sum { |stat| stat[:actes_avec_suspensions_count] } %></td>
                          <td><%= @stats_dcb.sum { |stat| stat[:actes_avec_observations_count] } %></td>
                          <td><%= pluralize(@stats_dcb.any? ? (@stats_dcb.sum { |stat| stat[:delai_moyen] } / @stats_dcb.size.to_f).round : 0, 'jour', plural: 'jours') %></td>
                        </tr>
                        <% @stats_dcb.each do |stat| %>
                          <tr>
                            <th class="fr-cell--fixed"><%= stat[:user].nom %></th>
                            <td><%= stat[:actes_clotures_count] %></td>
                            <td><%= stat[:actes_non_clotures_count] %></td>
                            <td><%= stat[:actes_avec_suspensions_count] %></td>
                            <td><%= stat[:actes_avec_observations_count] %></td>
                            <td><%= pluralize(stat[:delai_moyen], 'jour', plural: 'jours') %> </td>
                          </tr>
                        <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <dialog id="modal-btn-filtrer-utilisateurs" class="fr-modal fr-modal--top fr-modal--custom" aria-labelledby="modal-btn-filtrer-utilisateurs-title" data-fr-concealing-backdrop="true">
        <div class="fr-container--fluid">
          <div class="fr-modal-custom__row--left">
            <div class="fr-col-12">
              <div class="fr-modal-custom__body">
                <div class="fr-modal__header">
                  <button aria-controls="modal-btn-filtrer-utilisateurs" title="Fermer" type="button" class="fr-btn--close fr-btn">Fermer</button>
                </div>
                <%= form_with url: synthese_users_ht2_actes_path, method: :get, data: { turbo_frame: 'results', turbo_action: 'advance', controller: 'date-range-filter' } do |f| %>
                  <%= hidden_field_tag 'q[perimetre_eq]', @q_params[:perimetre_eq] %>
                  <div class="fr-modal__content">
                    <h2 id="modal-btn-filtrer-utilisateurs-title" class="fr-modal__title">
                      Filtrer les résultats
                    </h2>
                    <div class="fr-grid-row fr-grid-row--gutters">
                      <div class="fr-col-12">
                        <label class="fr-label fr-text--bold" for="q_annee_eq">Exercice</label>
                        <% years_options = (2024..Date.today.year + 1).to_a.reverse %>
                        <%= select_tag "q[annee_eq]",
                                       options_for_select(years_options, @q_params[:annee_eq] || Date.today.year),
                                       id: "q_annee_eq",
                                       class: "fr-select",
                                       data: {
                                         date_range_filter_target: "yearSelect",
                                         action: "change->date-range-filter#updateDateRange"
                                       } %>
                      </div>
                    </div>
                    <div class="fr-grid-row fr-grid-row--gutters">
                      <div class="fr-col-12">
                        <span class="fr-label fr-text--bold">Clôture entre</span>
                        <div class="fr-grid-row fr-grid-row--gutters">
                          <div class="fr-col-12 fr-col-md-6">
                            <label class="fr-label" for="q_date_cloture_gteq">Du</label>
                            <input type="date" name="q[date_cloture_gteq]" id="q_date_cloture_gteq"
                                   class="fr-input"
                                   value="<%= @q_params[:date_cloture_gteq] %>"
                                   data-date-range-filter-target="dateFrom">
                          </div>
                          <div class="fr-col-12 fr-col-md-6">
                            <label class="fr-label" for="q_date_cloture_lteq">Au</label>
                            <input type="date" name="q[date_cloture_lteq]" id="q_date_cloture_lteq"
                                   class="fr-input"
                                   value="<%= @q_params[:date_cloture_lteq] %>"
                                   data-date-range-filter-target="dateTo">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="fr-grid-row fr-grid-row--gutters">
                      <div class="fr-col-12">
                        <span class="fr-label fr-text--bold">Type d'acte</span>
                        <% selected_type_actes = Array(@q_params[:type_acte_in]) %>
                        <ul class="fr-tags-group fr-mt-1w">
                          <% ['avis', 'visa', 'TF'].each do |t| %>
                            <% checked = selected_type_actes.include?(t) %>
                            <li>
                              <label class="fr-tag tag-selectable <%= 'is-selected' if checked %>"
                                     data-controller="tag-select"
                                     data-action="change->tag-select#toggle"
                                     role="button">
                                <%= check_box_tag 'q[type_acte_in][]',
                                                  t,
                                                  checked,
                                                  class: "fr-sr-only",
                                                  data: { tag_select_target: "checkbox" } %>
                                <span><%= t %></span>
                              </label>
                            </li>
                          <% end %>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="fr-modal__footer">
                    <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                      <li>
                        <%= f.submit 'Valider', class: "fr-btn fr-icon-checkbox-circle-line fr-btn--icon-left", 'aria-controls': "modal-btn-filtrer-utilisateurs" %>
                      </li>
                      <li>
                        <%= link_to synthese_users_ht2_actes_path, class: "fr-btn fr-icon-close-circle-line fr-btn--icon-left fr-btn--secondary" do %>
                          Réinitialiser
                        <% end %>
                      </li>
                    </ul>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </dialog>
    <% end %>


  </div>
</div>
