<% content_for :title do %>Tableau de bord Actes HT2 | ANACO
<% end %>

<div class="fr-container">
  <div class="fr-grid-row">
    <div class="fr-col-12">
      <h1 class="fr-mt-6w title-btn">
        Tableau de bord Actes HT2
      </h1>
    </div>
  </div>
</div>


<div class="fr-container-blue">
  <div class="fr-container">
    <div class="fr-grid-row">
      <div class="fr-col-12 fr-col-lg-3">
        <nav class="fr-sidemenu fr-sidemenu--sticky-full-height" aria-labelledby="fr-sidemenu-title">
          <div class="fr-sidemenu__inner fr-backgroud--grey">
            <button class="fr-sidemenu__btn" hidden aria-controls="fr-sidemenu-wrapper" aria-expanded="false">
              Dans cette rubrique
            </button>
            <div class="fr-collapse" id="fr-sidemenu-wrapper">
              <div class="fr-sidemenu__title fr-hidden" id="fr-sidemenu-title">Tableau de bord Actes HT2</div>
              <ul class="fr-sidemenu__list">
                <li class="fr-sidemenu__item">
                  <button class="fr-sidemenu__btn" aria-current="true">
                    Activité globale
                  </button>
                </li>
                <li class="fr-sidemenu__item">
                  <%= link_to synthese_temporelle_ht2_actes_path, class: "fr-sidemenu__link", target: "_self" do %>
                    Délais
                  <% end %>
                </li>
                <li class="fr-sidemenu__item">
                  <%= link_to synthese_suspensions_ht2_actes_path, class: "fr-sidemenu__link", target: "_self" do %>
                    Suspensions & Interruptions
                  <% end %>
                </li>
                <li class="fr-sidemenu__item">
                  <%= link_to synthese_anomalies_ht2_actes_path, class: "fr-sidemenu__link", target: "_self" do %>
                    Observations aux ordonnateurs
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="fr-col-12 fr-col-lg-9">
        <h2 class="fr-mt-6w fr-mb-2w title-btn">Activité globale
          <button class="fr-btn fr-icon-filter-line fr-btn--icon-left " aria-controls="modal-btn-filtrer" data-fr-opened="false" type="button">
            Filtrer les résultats
          </button>
        </h2>

        <%= turbo_frame_tag :results, data: { turbo_action: 'advance' } do %>

          <div class="fr-grid-row">
            <div class="fr-col-12 fr-col-lg-6">
              <div class="fr-p-2v">
                <div class='fr-card fr-p-2w'>
                  <div data-controller="highcharts-actes"
                       data-highcharts-actes-target="chart"
                       data-highcharts-actes-data-value="<%= @type_actes.to_json %>"
                       data-highcharts-actes-title-value="Répartition des actes clôturés"></div>
                  <div class="fr-table">
                    <div class="fr-table__wrapper">
                      <div class="fr-table__container">
                        <div class="fr-table__content">
                          <table>
                            <caption>Actes clôturés</caption>
                            <thead>
                            <tr>
                              <th> Nature</th>
                              <th> Nombre</th>
                              <th> Répartition</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% ['avis', 'visa', 'TF'].each do |type| %>
                              <% value = @type_actes.find { |h| h[:name] == type }&.dig(:y) || 0 %>
                              <tr>
                                <td class='fr-capitalize'> <%= type %> </td>
                                <td> <%= value %> </td>
                                <td class="fr-cell--multiline"><%= percentage_of(value, @total_actes) %></td>
                              </tr>
                            <% end %>
                            <tr class="fr-table--total">
                              <td>Total</td>
                              <td><%= @total_actes %></td>
                              <td>100%</td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-6">
              <div class="fr-p-2v">
                <div class='fr-card fr-p-2w'>
                  <div data-controller="highcharts-actes"
                       data-highcharts-actes-type-value="stacked-column"
                       data-highcharts-actes-target="chart"
                       data-highcharts-actes-dataset-value="<%= @evolution_par_annee.to_json %>"
                       data-highcharts-actes-title-value="Évolution pluriannuelle de l’activité"></div>
                  <div class="fr-table">
                    <div class="fr-table__wrapper">
                      <div class="fr-table__container">
                        <div class="fr-table__content">
                          <table>
                            <caption>Évolution pluriannuelle en nombre</caption>
                            <thead>
                            <tr>
                              <th> Nature</th>
                              <% @years.each do |year| %>
                                <th> <%= year %></th>
                              <% end %>
                            </tr>
                            </thead>
                            <tbody>
                            <% ['avis', 'visa', 'TF'].each do |type| %>
                              <tr>
                                <td class='fr-capitalize fr-cell--multiline'> <%= type %> </td>
                                <% @years.each do |year| %>
                                  <td><%= count_for(@counts, year, type) %></td>
                                <% end %>
                              </tr>
                            <% end %>
                            <tr class="fr-table--total">
                              <td>Total</td>
                              <% @years.each do |year| %>
                                <% total = ['avis', 'visa', 'TF'].sum { |type| count_for(@counts, year, type) } %>
                                <td><%= total %></td>
                              <% end %>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-12">
              <div class="fr-p-2v">
                <div class='fr-card fr-p-2w'>

                  <div class="fr-table ">
                    <div class="fr-table__wrapper">
                      <div class="fr-table__container">
                        <div class="fr-table__content">
                          <table>
                            <caption>Taux d'évolution</caption>
                            <thead>
                            <tr>
                              <th> Nature</th>
                              <% @years.each_cons(2) do |prev_year, year| %>
                                <th><%= "#{prev_year} → #{year}" %></th>
                              <% end %>
                            </tr>
                            </thead>
                            <tbody>
                            <% ['avis', 'visa', 'TF'].each do |type| %>
                              <tr>
                                <td class="fr-capitalize"><%= type %></td>

                                <% @years.each_cons(2) do |prev_year, year| %>
                                  <% old_val = @counts[[prev_year, type]] || 0 %>
                                  <% new_val = @counts[[year, type]] || 0 %>
                                  <% evo = evolution_percent(old_val, new_val) %>

                                  <td><%= evo == "-" ? "-" : "#{evo} %" %></td>
                                <% end %>
                              </tr>
                            <% end %>
                            <tr class="fr-table--total">
                              <td>Total</td>
                              <% @years.each_cons(2) do |prev_year, year| %>
                                <% old_total = ['avis', 'visa', 'TF'].sum { |t| @counts[[prev_year, t]] || 0 } %>
                                <% new_total = ['avis', 'visa', 'TF'].sum { |t| @counts[[year, t]] || 0 } %>
                                <% evo_total = evolution_percent(old_total, new_total) %>

                                <td><%= evo_total == "-" ? "-" : "#{evo_total} %" %></td>
                              <% end %>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="fr-col-12">
              <div class="fr-p-2v">
                <div class='fr-card fr-p-2w'>
                  <div data-controller="highcharts-actes"
                       data-highcharts-actes-type-value="multi-column"
                       data-highcharts-actes-target="chart"
                       data-highcharts-actes-dataset-value="<%= @actes_par_mois.to_json %>"
                       data-highcharts-actes-title-value="Évolution mensuelle des actes reçus et clôturés">
                  </div>
                </div>
              </div>
            </div>


            <div class="fr-col-12 fr-col-lg-6">
              <div class="fr-p-2v">
                <div class='fr-card fr-p-2w'>
                  <div data-controller="highcharts-actes"
                       data-highcharts-actes-target="chart"
                       data-highcharts-actes-data-value="<%= @decisions_data.to_json %>"
                       data-highcharts-actes-title-value="Répartition des actes par Décision"></div>
                  <section class="fr-accordion">
                    <h3 class="fr-accordion__title">
                      <button type="button" class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-decisions">Tableau
                        des données
                      </button>
                    </h3>
                    <div class="fr-collapse" id="accordion-decisions">
                      <div class="fr-table">
                        <div class="fr-table__wrapper">
                          <div class="fr-table__container">
                            <div class="fr-table__content">
                              <table>
                                <caption>Répartition des décisions</caption>
                                <thead>
                                <tr>
                                  <th> Nature</th>
                                  <th> Nombre</th>
                                  <th> Répartition</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% return_variable('decision').each do |type| %>
                                  <% value = @decisions_data.find { |h| h[:name] == type }&.dig(:y) || 0 %>
                                  <tr>
                                    <td class='fr-capitalize fr-cell--multiline'> <%= type %> </td>
                                    <td> <%= value %> </td>
                                    <td class="fr-cell--multiline"><%= percentage_of(value, @total_actes) %></td>
                                  </tr>
                                <% end %>
                                <tr class="fr-table--total">
                                  <td>Total</td>
                                  <td><%= @total_actes %></td>
                                  <td>100%</td>
                                </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>

                </div>
              </div>
            </div>

            <div class="fr-col-12 fr-col-lg-6">
              <div class="fr-p-2v">
                <div class='fr-card fr-p-2w'>
                  <div data-controller="highcharts-actes"
                       data-highcharts-actes-type-value="bar"
                       data-highcharts-actes-target="chart"
                       data-highcharts-actes-data-value="<%= @programmes_data.to_json %>"
                       data-highcharts-actes-title-value="Nombre d'actes clôturés par Programme"></div>
                  <section class="fr-accordion">
                    <h3 class="fr-accordion__title">
                      <button type="button" class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-programmes">Tableau
                        des données
                      </button>
                    </h3>
                    <div class="fr-collapse" id="accordion-programmes">
                      <div class="fr-table">
                        <div class="fr-table__wrapper">
                          <div class="fr-table__container">
                            <div class="fr-table__content">
                              <table>
                                <caption>Répartition par programme</caption>
                                <thead>
                                <tr>
                                  <th> Programme</th>
                                  <th> Nombre</th>
                                  <th> Répartition</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% @programmes_data.each do |hash| %>
                                  <tr>
                                    <td class='fr-capitalize fr-cell--multiline'> <%= hash[:name] %> </td>
                                    <td> <%= hash[:y] %> </td>
                                    <td class="fr-cell--multiline"><%= percentage_of(hash[:y], @total_actes) %></td>
                                  </tr>
                                <% end %>
                                <tr class="fr-table--total">
                                  <td>Total</td>
                                  <td><%= @total_actes %></td>
                                  <td>100%</td>
                                </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>

                </div>
              </div>
            </div>


            <div class="fr-col-12 fr-col-lg-6">
              <div class="fr-p-2v">
                <div class='fr-card fr-p-2w'>
                  <div data-controller="highcharts-actes"
                       data-highcharts-actes-type-value="bar"
                       data-highcharts-actes-target="chart"
                       data-highcharts-actes-data-value="<%= @natures_data.to_json %>"
                       data-highcharts-actes-title-value="Nombre d'actes clôturés par Nature"></div>
                  <section class="fr-accordion">
                    <h3 class="fr-accordion__title">
                      <button type="button" class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-natures">Tableau
                        des données
                      </button>
                    </h3>
                    <div class="fr-collapse" id="accordion-natures">
                      <div class="fr-table">
                        <div class="fr-table__wrapper">
                          <div class="fr-table__container">
                            <div class="fr-table__content">
                              <table>
                                <caption>Répartition par programme</caption>
                                <thead>
                                <tr>
                                  <th> Nature</th>
                                  <th> Nombre</th>
                                  <th> Répartition</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% @natures_data.each do |hash| %>
                                  <tr>
                                    <td class='fr-capitalize fr-cell--multiline'> <%= hash[:name] %> </td>
                                    <td> <%= hash[:y] %> </td>
                                    <td class="fr-cell--multiline"><%= percentage_of(hash[:y], @total_actes) %></td>
                                  </tr>
                                <% end %>
                                <tr class="fr-table--total">
                                  <td>Total</td>
                                  <td><%= @total_actes %></td>
                                  <td>100%</td>
                                </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
            <div class="fr-col-12 fr-col-lg-6">
              <div class="fr-p-2v">
                <div class='fr-card fr-p-2w'>
                  <div data-controller="highcharts-actes"
                       data-highcharts-actes-type-value="bar"
                       data-highcharts-actes-target="chart"
                       data-highcharts-actes-data-value="<%= @ordonnateurs_data.to_json %>"
                       data-highcharts-actes-title-value="Nombre d'actes clôturés par Ordonnateur"></div>
                  <section class="fr-accordion">
                    <h3 class="fr-accordion__title">
                      <button type="button" class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-ordonnateurs">Tableau
                        des données
                      </button>
                    </h3>
                    <div class="fr-collapse" id="accordion-ordonnateurs">
                      <div class="fr-table">
                        <div class="fr-table__wrapper">
                          <div class="fr-table__container">
                            <div class="fr-table__content">
                              <table>
                                <caption>Répartition par programme</caption>
                                <thead>
                                <tr>
                                  <th> Ordonnateur</th>
                                  <th> Nombre</th>
                                  <th> Répartition</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% @ordonnateurs_data.each do |hash| %>
                                  <tr>
                                    <td class='fr-capitalize fr-cell--multiline'> <%= hash[:name].blank? ? 'Sans nom': hash[:name]  %> </td>
                                    <td> <%= hash[:y] %> </td>
                                    <td class="fr-cell--multiline"><%= percentage_of(hash[:y], @total_actes) %></td>
                                  </tr>
                                <% end %>
                                <tr class="fr-table--total">
                                  <td>Total</td>
                                  <td><%= @total_actes %></td>
                                  <td>100%</td>
                                </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>


            <div class="fr-col-12 fr-col-lg-6">
              <div class="fr-p-2v">
                <div class='fr-card fr-p-2w'>
                  <div data-controller="highcharts-actes"
                       data-highcharts-actes-target="chart"
                       data-highcharts-actes-data-value="<%= @preinstruction_data.to_json %>"
                       data-highcharts-actes-title-value="Suivi de la pré-instruction"></div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>


<dialog id="modal-btn-filtrer" class="fr-modal fr-modal--top fr-modal--custom" aria-labelledby="modal-btn-filtrer-title" data-fr-concealing-backdrop="true">
  <div class="fr-container--fluid">
    <div class="fr-modal-custom__row--left">
      <div class="fr-col-12">
        <div class="fr-modal-custom__body">
          <div class="fr-modal__header">
            <button aria-controls="modal-btn-filtrer" title="Fermer" type="button" id="button-11" class="fr-btn--close fr-btn">Fermer</button>
          </div>
          <%= search_form_for @q, url: tableau_de_bord_ht2_actes_path, data: { 'request-target': 'form', turbo_frame: 'results', turbo_action: 'advance' } do |f| %>
            <div class="fr-modal__content">
              <h2 id="modal-btn-filtrer-title" class="fr-modal__title">
                Filtrer les résultats
              </h2>
              <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12">
                  <div>
                    <span class="fr-label fr-text--bold">Exercice</span>
                    <% selected_years = Array(params.dig(:q, :annee_in)).map(&:to_s) %>
                    <ul class="fr-tags-group fr-mt-1w">
                      <% (2019..Date.today.year + 1).each do |y| %>
                        <% y_str = y.to_s %>
                        <% checked = selected_years.include?(y_str) %>
                        <li>
                          <label class="fr-tag tag-selectable <%= 'is-selected' if checked %>"
                                 data-controller="tag-select"
                                 data-action="change->tag-select#toggle"
                                 role="button">
                            <%= check_box_tag 'q[annee_in][]',
                                              y_str,
                                              checked,
                                              class: "fr-sr-only",
                                              data: { tag_select_target: "checkbox" } %>
                            <span><%= y_str %></span>
                          </label>
                        </li>
                      <% end %>
                    </ul>
                  </div>

                </div>
                <% if @statut_user == 'admin' %>
                  <div class="fr-col-12">
                    <label class="fr-label fr-text--bold">Contrôleur</label>
                    <% noms = User.where(statut: ['DCB', 'CBR']).distinct.order(nom: :asc).pluck(:nom) %>
                    <%= f.select :user_nom_eq, options_for_select(noms, params.dig(:q, :user_nom_in)), { include_blank: 'Tous' }, class: "fr-select" %>
                  </div>
                <% end %>
                <div class="fr-col-12">
                  <label class="fr-label fr-text--bold">Centre financier</label>
                  <%= f.search_field :centre_financier_code_cont, class: "fr-input", placeholder: 'Rechercher un acte par centre financier' %>
                </div>
                <div class="fr-col-12">
                  <span class="fr-label fr-text--bold">Clôture entre</span>

                  <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12 fr-col-md-6">
                      <%= f.label :date_cloture_gteq, 'Du', class: 'fr-label' %>
                      <%= f.date_field :date_cloture_gteq,
                                       class: 'fr-input',
                                       value: params.dig(:q, :date_cloture_gteq) %>
                    </div>

                    <div class="fr-col-12 fr-col-md-6">
                      <%= f.label :date_cloture_lteq, 'Au', class: 'fr-label' %>
                      <%= f.date_field :date_cloture_lteq,
                                       class: 'fr-input',
                                       value: params.dig(:q, :date_cloture_lteq) %>
                    </div>
                  </div>
                </div>


              </div>
            </div>
            <div class="fr-modal__footer">
              <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                <li>
                  <%= f.submit 'Valider', class: "fr-btn fr-icon-checkbox-circle-line fr-btn--icon-left", 'aria-controls': "modal-btn-filtrer" %>
                </li>
                <li>
                  <%= link_to tableau_de_bord_ht2_actes_path, class: "fr-btn fr-icon-close-circle-line fr-btn--icon-left fr-btn--secondary" do %>
                    Réinitialiser
                  <% end %>
                </li>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</dialog>
