<%= turbo_frame_tag :acte, target: "_top" do %>
  <div class="fr-container fr-container--fluid fr-container-lg">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-10 fr-col-lg-10">
        <div class="fr-modal__body">
          <div class="fr-modal__header">
            <button aria-controls="modal-acte" title="Fermer" type="button" id="button-89" class="fr-btn--close fr-btn">Fermer</button>
          </div>
          <div class="fr-modal__content">
            <h1 id="modal-title" class="fr-modal__title">
              <span class="fr-icon-arrow-right-line fr-icon--lg no-print" aria-hidden="true"></span> Validation
              finale <%= @acte.type_acte %> n°<%= @acte.id %>
            </h1>
            <div class="fr-h6">Informations sur l'acte</div>
            <div class="fr-table fr-table--no-caption">
              <div class="fr-table__wrapper">
                <div class="fr-table__container">
                  <div class="fr-table__content">
                    <table>
                      <caption> Informations</caption>
                      <thead>
                      <tr class="fr-cell--multiline">
                        <th>Instructeur</th>
                        <th>Nature de l'acte</th>
                        <th>Montant estimatif global (AE)</th>
                        <th>N°Chorus</th>
                        <th>Date réception Chorus</th>
                        <th>Date limite de réponse</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr class="fr-cell--multiline">
                        <td> <%= @acte.instructeur %> </td>
                        <td> <%= @acte.nature %></td>
                        <td> <%= number_to_currency(@acte.montant_ae, unit: "€", format: "%n %u") %> </td>
                        <td> <%= format_value(@acte.numero_chorus) %></td>
                        <td> <%= format_date_text(@acte.date_chorus)  %></td>
                        <td><span class='fr-icon-flag-fill fr-mr-1v fr-icon--sm <%= flag_date(@acte.date_limite) %>' aria-hidden='true'></span> <%= format_date_text(@acte.date_limite)  %></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="fr-table fr-table--no-caption">
              <div class="fr-table__wrapper">
                <div class="fr-table__container">
                  <div class="fr-table__content">
                    <table>
                      <caption> Informations</caption>
                      <thead>
                      <tr class="fr-cell--multiline">
                        <th>Centre financier</th>
                        <th>Bénéficiaire</th>
                        <th>Objet</th>
                        <th>Ordonnateur</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr class="fr-cell--multiline">
                        <td> <%= format_value(@acte.centre_financier_code) %></td>
                        <td> <%= format_value(@acte.beneficiaire) %></td>
                        <td> <%= format_value(@acte.objet) %></td>
                        <td> <%= format_value(@acte.ordonnateur) %></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="fr-grid-row fr-grid-row--gutters fr-hidden">
              <div class="fr-col-12 fr-col-lg-4">
                <div>Initales de l'instructeur</div>
                <div class="fr-text--bold"><%= @acte.instructeur %></div>
              </div>
              <div class="fr-col-12 fr-col-lg-4">
                <div>Nature de l'acte</div>
                <div class="fr-text--bold"><%= @acte.nature %></div>
              </div>
              <div class="fr-col-12 fr-col-lg-4">
                <div>Montant estimatif global (AE)</div>
                <div class="fr-text--bold"><%= number_to_currency(@acte.montant_ae, unit: "€", format: "%n %u") %></div>
              </div>
            </div>
            <div class="fr-grid-row fr-grid-row--gutters fr-hidden">
              <div class="fr-col-12 fr-col-lg-4">
                <div>Date de réception sur Chorus</div>
                <div class="fr-text--bold"><%= format_date_text(@acte.date_chorus) %></div>
              </div>
              <div class="fr-col-12 fr-col-lg-4">
                <div>N°Acte Chorus</div>
                <div class="fr-text--bold"><%= format_value(@acte.numero_chorus) %></div>
              </div>
              <div class="fr-col-12 fr-col-lg-4">
                <div>Centre financier</div>
                <div class="fr-text--bold"><%= format_value(@acte.centre_financier_code) %></div>
              </div>
            </div>
            <div class="fr-grid-row fr-grid-row--gutters fr-hidden">
              <div class="fr-col-12 fr-col-lg-4">
                <div>Bénéficiaire</div>
                <div class="fr-text--bold"><%= format_value(@acte.beneficiaire) %></div>
              </div>
              <div class="fr-col-12 fr-col-lg-4">
                <div>Objet</div>
                <div class="fr-text--bold"><%= format_value(@acte.objet) %></div>
              </div>
              <div class="fr-col-12 fr-col-lg-4">
                <div>Ordonnateur</div>
                <div class="fr-text--bold"><%= format_value(@acte.ordonnateur) %></div>
              </div>
            </div>
            <div class="fr-grid-row fr-grid-row--gutters">
              <div class="fr-col-12 fr-col-lg-12">
                <div>Précisions sur l'acte</div>
                <div class="fr-text--bold"><%= auto_link(simple_format(format_value(@acte.precisions_acte)), :html => { :target => '_blank' }) %></div>
              </div>
            </div>
            <div data-controller="toggle">
              <button class="fr-link fr-icon-add-line fr-link--icon-left"
                      data-action="click->toggle#toggleContent"
                      data-toggle-target="button">
                Afficher plus
              </button>
              <div class="fr-hidden" data-toggle-target="content">
                <div class="fr-grid-row fr-grid-row--gutters fr-hidden">
                  <div class="fr-col-12 fr-col-lg-4">
                    <div>Action</div>
                    <div class="fr-text--bold"><%= format_value(@acte.action) %></div>
                  </div>
                  <div class="fr-col-12 fr-col-lg-4">
                    <div>Sous-action</div>
                    <div class="fr-text--bold"><%= format_value(@acte.sous_action) %></div>
                  </div>
                  <div class="fr-col-12 fr-col-lg-4">
                    <div>Activité</div>
                    <div class="fr-text--bold"><%= format_value(@acte.activite) %></div>
                  </div>
                </div>
                <% if @acte.numero_tf.present? %>
                  <div class="fr-grid-row fr-grid-row--gutters fr-hidden">
                    <div class="fr-col-12 fr-col-lg-4">
                      <div>Numéro Chorus de la TF associée</div>
                      <div class="fr-text--bold"><%= format_value(@acte.numero_tf) %></div>
                    </div>
                  </div>
                <% end %>
                <div class="fr-table fr-table--no-caption">
                  <div class="fr-table__wrapper">
                    <div class="fr-table__container">
                      <div class="fr-table__content">
                        <table>
                          <caption> Informations complémentaires</caption>
                          <thead>
                          <tr>
                            <th> Action</th>
                            <th> Sous-action</th>
                            <th> Activité</th>
                            <% if @acte.numero_tf.present? %>
                              <th> Numéro Chorus de la TF associée</th>
                            <% end %>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td> <%= format_value(@acte.action) %> </td>
                            <td> <%= format_value(@acte.sous_action) %></td>
                            <td> <%= format_value(@acte.activite) %> </td>
                            <% if @acte.numero_tf.present? %>
                              <td> <%= format_value(@acte.numero_tf) %> </td>
                            <% end %>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <% if @acte.poste_lignes.present? %>
                  <div class="fr-h6 fr-my-3w">Lignes de poste</div>
                  <div class="fr-table fr-table--no-caption">
                    <div class="fr-table__wrapper">
                      <div class="fr-table__container">
                        <div class="fr-table__content">
                          <table>
                            <caption> Lignes de poste </caption>
                            <thead>
                            <tr class="fr-cell--multiline">
                              <th> Centre financier </th>
                              <th> Montant (€)</th>
                              <th> Domaine fonctionnel</th>
                              <th> Fonds</th>
                              <th> Compte budgétaire</th>
                              <th> Code activité</th>
                              <th> Axe ministériel</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% @acte.poste_lignes.each do |ligne| %>
                              <tr>
                                <td> <%= ligne.centre_financier_code %> </td>
                                <td> <%= number_to_currency(ligne.montant, unit: "€", format: "%n %u") %></td>
                                <td> <%= ligne.domaine_fonctionnel %> </td>
                                <td> <%= ligne.fonds %> </td>
                                <td> <%= ligne.compte_budgetaire %> </td>
                                <td> <%= ligne.code_activite %> </td>
                                <td> <%= ligne.axe_ministeriel %> </td>
                              </tr>
                            <% end %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
                <% if @acte.echeanciers.present? %>
                  <div class="fr-h6 fr-my-3w">Échéancier</div>
                  <div class="fr-table fr-table--no-caption fr-table--no-scroll" id="table-echeancier-component">
                    <div class="fr-table__wrapper">
                      <div class="fr-table__container">
                        <div class="fr-table__content">
                          <table id="table-echeancier">
                            <caption> Échéancier </caption>
                            <thead>
                            <tr>
                              <th> Année </th>
                              <th> Montant AE (€)</th>
                              <th> Montant CP (€)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% @acte.echeanciers.order(annee: :asc).each do |echeancier| %>
                              <tr>
                                <td> <%= echeancier.annee %> </td>
                                <td> <%= number_to_currency(echeancier.montant_ae, unit: "€", format: "%n %u") %></td>
                                <td> <%= number_to_currency(echeancier.montant_cp, unit: "€", format: "%n %u") %> </td>
                              </tr>
                            <% end %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="fr-h6 fr-my-3w">Critères</div>
            <div data-fr-group="true" class="fr-accordions-group">
              <section class="fr-accordion">
                <h3 class="fr-accordion__title">
                  <button type="button" class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-id-1">Disponibilité des crédits <%if @acte.disponibilite_credits == true%><span class="fr-icon-checkbox-circle-fill fr-icon--sm cgreen fr-ml-1w" aria-hidden="true"></span><%else%><span class="fr-icon-error-fill fr-icon--sm crouge fr-ml-1w" aria-hidden="true"></span><%end %></button>
                </h3>
                <div id="accordion-id-1" class="fr-collapse">
                  <p>Critère respecté : <%if @acte.disponibilite_credits == true%>Oui <span class="fr-icon-checkbox-circle-fill fr-icon--sm cgreen" aria-hidden="true"></span><%else%>Non <span class="fr-icon-error-fill fr-icon--sm crouge" aria-hidden="true"></span><%end %></p>
                  <p><%= @acte.commentaire_disponibilite_credits %></p>
                </div>
              </section>
              <section class="fr-accordion">
                <h3 class="fr-accordion__title">
                  <button type="button" class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-id-2">Imputation de la dépense <%if @acte.imputation_depense == true%><span class="fr-icon-checkbox-circle-fill fr-icon--sm cgreen fr-ml-1w" aria-hidden="true"></span><%else%><span class="fr-icon-error-fill fr-icon--sm crouge fr-ml-1w" aria-hidden="true"></span><%end %></button>
                </h3>
                <div id="accordion-id-2" class="fr-collapse">
                  <p>Critère respecté : <%if @acte.imputation_depense == true%>Oui <span class="fr-icon-checkbox-circle-fill fr-icon--sm cgreen" aria-hidden="true"></span><%else%>Non <span class="fr-icon-error-fill fr-icon--sm crouge" aria-hidden="true"></span><%end %></p>
                  <p><%= @acte.commentaire_imputation_depense %></p>
                </div>
              </section>
              <section class="fr-accordion">
                <h3 class="fr-accordion__title">
                  <button type="button" class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-id-3">Exactitude de l’évaluation de la consommation des crédits <%if @acte.consommation_credits == true%><span class="fr-icon-checkbox-circle-fill fr-icon--sm cgreen fr-ml-1w" aria-hidden="true"></span><%else%><span class="fr-icon-error-fill fr-icon--sm crouge fr-ml-1w" aria-hidden="true"></span><%end %></button>
                </h3>
                <div id="accordion-id-3" class="fr-collapse">
                  <p>Critère respecté : <%if @acte.consommation_credits == true%>Oui <span class="fr-icon-checkbox-circle-fill fr-icon--sm cgreen" aria-hidden="true"></span><%else%>Non <span class="fr-icon-error-fill fr-icon--sm crouge" aria-hidden="true"></span><%end %></p>
                  <p><%= @acte.commentaire_consommation_credits %></p>
                </div>
              </section>
              <section class="fr-accordion">
                <h3 class="fr-accordion__title">
                  <button type="button" class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-id-4">Compatibilité avec la programmation annuelle et pluriannuelle <%if @acte.programmation == true%><span class="fr-icon-checkbox-circle-fill fr-icon--sm cgreen fr-ml-1w" aria-hidden="true"></span><%else%><span class="fr-icon-error-fill fr-icon--sm crouge fr-ml-1w" aria-hidden="true"></span><%end %></button>
                </h3>
                <div id="accordion-id-4" class="fr-collapse">
                  <p>Critère respecté : <%if @acte.programmation == true%>Oui <span class="fr-icon-checkbox-circle-fill fr-icon--sm cgreen" aria-hidden="true"></span><%else%>Non <span class="fr-icon-error-fill fr-icon--sm crouge" aria-hidden="true"></span><%end %></p>
                  <p><%= @acte.commentaire_programmation %></p>
                </div>
              </section>
            </div>

            <div class="fr-h6 fr-my-3w">Proposition décision de contrôle</div>
            <% if @acte.suspensions.count > 0 %>
              <% type_suspension = @acte.type_acte == 'avis' ? 'suspension' : 'interruption' %>
              <% @acte.suspensions.order(created_at: :asc).each_with_index do |suspension, index| %>
                <div class="fr-text--bold fr-capitalize fr-mb-1w"><%= type_suspension %> n°<%= index + 1 %></div>
                <div class="fr-grid-row fr-grid-row--gutters">
                  <div class="fr-col-12 fr-col-lg-4">
                    <div>Date <%= type_suspension %></div>
                    <div class="fr-text--bold"><%= format_date_text(suspension.date_suspension) %></div>
                  </div>
                  <div class="fr-col-12 fr-col-lg-4">
                    <div>Motif <%= type_suspension %></div>
                    <div class="fr-text--bold"><%= suspension.motif %></div>
                  </div>
                  <div class="fr-col-12 fr-col-lg-4">
                    <div>Date de reprise</div>
                    <div class="fr-text--bold"><%= format_date_text(suspension.date_reprise) %></div>
                  </div>
                </div>
                <div class="fr-grid-row fr-grid-row--gutters">
                  <div class="fr-col-12 fr-col-lg-12">
                    <div>Observations</div>
                    <div class="fr-text--bold"><%= auto_link(simple_format(format_value(suspension.observations)), :html => { :target => '_blank' }) %></div>
                  </div>
                </div>
              <% end %>
            <% end %>
            <div class="fr-grid-row fr-grid-row--gutters">
              <div class="fr-col-12 fr-col-lg-6">
                <div>Proposition de décision de contrôle</div>
                <div><p class="<%= badge_class_for_decision(@acte.proposition_decision)%>"><%= @acte.proposition_decision %></p></div>
              </div>
              <div class="fr-col-12 fr-col-lg-6">
                <div>Auto-évaluation de la complexité de l'acte</div>
                <div><p class="fr-tag"><%= @acte.complexite %>/5</p></div>
              </div>
            </div>
            <div class="fr-grid-row fr-grid-row--gutters">
              <div class="fr-col-12 fr-col-lg-12">
                <div>Commentaire interne sur la proposition de décision de contrôle</div>
                <div class="fr-text--bold"><%= auto_link(simple_format(format_value(@acte.commentaire_proposition_decision)), :html => { :target => '_blank' }) %></div>
              </div>
            </div>

            <%= render 'form_validation' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>