<%= turbo_frame_tag :modal, target: "_top" do %>
  <div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-10 fr-col-lg-6">
        <div class="fr-modal__body">
          <div class="fr-modal__header">
            <button class="fr-btn--close fr-btn" aria-controls="modal-acte" title="Fermer">
              Fermer
            </button>
          </div>
          <div class="fr-modal__content">
            <h2 id="modal-acte-title" class="fr-modal__title">Valider l'acte dans Chorus et clôturer</h2>
            <p class="<%= badge_class_for_etat_actes(@acte.etat) %> fr-badge--sm"><%= @acte.type_acte %>
              n°<%= @acte.numero_formate %> <%= @acte.etat %></p>

            <div class="cwarning fr-mb-2w">Tous les champs comportant un astérisque (*) sont à remplir
              obligatoirement.
            </div>
            <div data-controller="acte-form">
              <%= form_with(model: @acte, data: { turbo_frame: "_top", 'acte-form-target': "form" }) do |f| %>
                <%= hidden_field_tag :etape, 6 %>
                <%= f.hidden_field :etat, value: 'clôturé' %>

                <div class="fr-select-group">
                  <label for="date_cloture" class="fr-label">Date de validation dans Chorus*</label>
                  <%= f.text_field :date_cloture, class: "fr-select", data: { controller: "flatpickr-modal", flatpickr_modal_append_to: '#modal-acte', flatpickr_modal_default_date: format_date(@acte.date_cloture), flatpickr_modal_min_date: format_date(@acte.date_chorus) }, value: format_date(@acte.date_cloture), id: "date_cloture", placeholder: "jj/mm/aaaa", required: true %>

                </div>
                <ul class="fr-btns-group">
                  <li>
                  <li><%= f.submit "Valider et clôturer l'acte", class: 'fr-btn' %></li>
                </ul>

              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>