<%= turbo_frame_tag @frame_id do %>
  <div class="fr-callout fr-callout--brown-cafe-creme fr-mt-2w">
    <h3 class="fr-callout__title">Valider l'acte</h3>

    <div class="cwarning fr-my-2w">Tous les champs comportant un astérisque (*) sont à remplir
      obligatoirement.
    </div>
    <div data-controller="acte-form">
      <%= form_with(model: @acte, data: { turbo_frame: "_top", turbo: false }) do |f| %>
        <%= hidden_field_tag :etape, 5 %>

        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12 fr-col-lg-6">
            <div class="fr-input-group">
              <label for="valideur" class="fr-label">Initiales du valideur*</label>
              <%= f.text_field :valideur, value: @acte.valideur, id: "valideur", class: "fr-input", required: true %>
            </div>
          </div>
          <div class="fr-col-12 fr-col-lg-6">
            <div class="fr-select-group">
              <label for="decision_finale" class="fr-label">Décision finale de contrôle*</label>
              <%= f.select :decision_finale, options_for_select(@liste_decisions.map { |decision| [decision, decision] }, @acte.decision_finale.presence || @acte.proposition_decision), { prompt: "- sélectionner -" }, { id: "decision_finale", class: "fr-select", required: true } %>
            </div>
          </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12 fr-col-lg-12">
            <div class="fr-input-group">
              <label for="commentaire_proposition_decision" class="fr-label">Commentaire interne sur la
                décision de contrôle</label>
              <%= f.text_area :commentaire_proposition_decision, class: 'fr-input', rows: 6 %>
            </div>
            <div class="fr-input-group">
              <label for="observations" class="fr-label">Propositions d’observations à l’ordonnateur</label>
              <%= f.text_area :observations, rows: 6, class: 'fr-input' %>
            </div>
            <div data-controller="multi-select">
              <div class="fr-select-group">
                <label for="type_observations" class="fr-label">Type d'observations</label>
                <%= select_tag "type_observations", options_for_select([["- sélectionner -", ""]] + @liste_types_observations.map { |type| [type, type] }),
                               id: "type_observations_select", class: "fr-select", data: { action: "change->multi-select#add", multi_select_target: "select" } %>
              </div>

              <!-- Conteneur pour afficher les tags -->
              <ul id="selected_observations" class="fr-tags-group" data-multi-select-target="container">
                <% @acte.type_observations&.each do |observation| %>
                  <li data-action="click->multi-select#remove" data-value="<%= observation %>">
                    <button class="fr-tag fr-tag--dismiss" type="button" aria-label="Retirer <%= observation %>">
                      <%= observation %>
                    </button>
                  </li>
                <% end %>
              </ul>

              <!-- Champ caché pour stocker les valeurs sélectionnées -->
              <%= f.hidden_field :type_observations, value: @acte.type_observations&.join(","), id: "hidden_type_observations", data: { multi_select_target: "hidden" } %>
            </div>
          </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12 fr-col-lg-12">
            <fieldset class="fr-fieldset fr-mb-0" aria-labelledby="legend-cloture">
              <legend id="legend-cloture" class="fr-fieldset__legend--regular fr-fieldset__legend">
                Clôturer l'acte à cette étape ?
              </legend>

              <div class="fr-fieldset__element fr-fieldset__element--inline">
                <div class="fr-radio-group fr-radio-rich">
                  <%= f.radio_button :etat, "à clôturer", id: "etat1", checked: true, data: { "acte-form-target": "etatClotureRadio", action: "change->acte-form#toggleCloture" } %>
                  <label class="fr-label" for="etat1">Non<span class="fr-hint-text">L’instructeur clôturera l’acte ultérieurement.</span></label>
                </div>
              </div>

              <div class="fr-fieldset__element fr-fieldset__element--inline">
                <div class="fr-radio-group fr-radio-rich">
                  <%= f.radio_button :etat, "clôturé", id: "etat2", data: { "acte-form-target": "etatClotureRadio", action: "change->acte-form#toggleCloture" } %>
                  <label class="fr-label" for="etat2">Oui<span class="fr-hint-text">L’acte sera définitivement clôturé sans passer par l'instructeur.</span></label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <div id="cloture-date-block" hidden>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-lg-6">
              <div class="fr-select-group">
                <label for="date_cloture" class="fr-label">Date de clôture*<span class="fr-hint-text">Renseigner une date pour clôturer l'acte directement à cette étape.</span></label>
                <%= f.text_field :date_cloture, class: "fr-select", id: "date_cloture", placeholder: "jj/mm/aaaa", data: { controller: "flatpickr", flatpickr_min_date: format_date(@acte.date_chorus) }  %>
              </div>
            </div>
          </div>
        </div>
        <div>
            <%= f.submit "Valider", class: 'fr-btn' %>
        </div>
      <% end %>
    </div>

    <%= link_to acte_actions_path(@acte), data: { turbo_frame: @frame_id }, class: "fr-btn fr-btn--secondary" do %>
      Annuler
    <% end %>


  </div>
<% end %>