<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
  <title><%= content_for?(:title) ? yield(:title) : 'ANACO - PDF' %></title>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "dsfr", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "utility", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= javascript_include_tag 'custom/dsfr.module.min', module: true %>
  <%= javascript_include_tag 'custom/dsfr.nomodule.min', nomodule: true %>

  <style>
      /* Règle pour la section paysage */
      @page landscape {
          size: A4 landscape;
          margin: 15mm;
      }

      /* Règle pour les sections portrait (par défaut) */
      @page portrait {
          size: A4 portrait;
          margin: 20mm;
      }

      /* Application des règles aux sections */
      .landscape-section {
          page: landscape;
      }

      .portrait-section {
          page: portrait;
      }

      /* Force les sauts de page */
      .page-break-before {
          page-break-before: always;
          break-before: page;
      }

  </style>
</head>
<body>
<div>
  <%= yield %>
</div>
</body>
</html>
