<p class="fr-text--bold">Solde de fin de gestion <%= vision %></p>
<% ae = vision == 'HT2' ? "AE" : "CAS" %>
<% cp = vision == 'HT2' ? "CP" : "HCAS" %>
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-3">
    <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
      <div class="fr-cart__body">
        <p class="fr-text--lg fr-mb-0 text_center"><%= ae %> RPROG</p>
        <p class="fr-text--lg fr-text--bold fr-mb-0 text_center"><%= format_number(vision_rprog.solde_total_ae) %> €</p>
      </div>
    </div>
  </div>
  <div class="fr-col-3">
    <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
      <div class="fr-cart__body">
        <p class="fr-text--lg fr-mb-0 text_center"><%= cp %> RPROG</p>
        <p class="fr-text--lg fr-text--bold fr-mb-0 text_center"><%= format_number(vision_rprog.solde_total_cp) %> €</p>
      </div>
    </div>
  </div>
  <div class="fr-col-3">
    <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
      <div class="fr-cart__body">
        <p class="fr-text--lg fr-mb-0 text_center"><%= ae %> CBCM</p>
        <p class="fr-text--lg fr-text--bold fr-mb-0 text_center"><%= format_number(vision_cbcm.solde_total_ae) %> €</p>
      </div>
    </div>
  </div>
  <div class="fr-col-3">
    <div class="fr-card fr-card--blue fr-p-2w fr-card--no-border">
      <div class="fr-cart__body">
        <p class="fr-text--lg fr-mb-0 text_center"><%= cp %> CBCM</p>
        <p class="fr-text--lg fr-text--bold fr-mb-0 text_center"><%= format_number(vision_cbcm.solde_total_cp) %> €</p>
      </div>
    </div>
  </div>
</div>

<div class="fr-my-2w">
  <p class="fr-text--bold">Commentaire synthétique de l’analyse de fin de gestion du RPROG</p>
  <p><%= vision_rprog.commentaire %></p>
</div>


<div class="fr-my-2w">
  <p class="fr-text--bold">Commentaire synthétique de l’analyse de fin de gestion du CBCM</p>
  <p><%= vision_cbcm.commentaire %></p>
</div>

<p class="fr-text--bold">Détail des données budgétaires <%= vision %></p>
<div class="fr-table fr-table--bordered fr-table--no-caption fr-table--no-scroll" id="table-bordered-component">
  <div class="fr-table__wrapper">
    <div class="fr-table__container">
      <div class="fr-table__content">
        <table id="table-bordered">
          <caption>
            Détail des données budgétaires <%= vision %>
          </caption>
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">
              <%= ae %> RPROG (€)
            </th>
            <th scope="col">
              <%= cp %> RPROG (€)
            </th>
            <th scope="col">
              <%= ae %> CBCM (€)
            </th>
            <th scope="col">
              <%= cp %> CBCM (€)
            </th>
          </tr>
          </thead>
          <tbody>
          <% data = [
            { title: 'Solde fin de gestion', ae_attr: 'solde_total_ae', cp_attr: 'solde_total_cp' },
            { title: 'Solde prévisionnel', ae_attr: 'prevision_solde_budgetaire_ae', cp_attr: 'prevision_solde_budgetaire_cp' },
            { title: 'Niveau de la MER', ae_attr: 'mer_ae', cp_attr: 'mer_cp' },
            { title: 'Mobilisation de la MER', ae_attr: 'mobilisation_mer_ae', cp_attr: 'mobilisation_mer_cp' },
            { title: 'Fongibilité asymétrique', ae_attr: 'fongibilite_ae', cp_attr: 'fongibilite_cp' },
          ]
          %>
          <% data.each_with_index do |item, index| %>
            <tr id="table-bordered-row-key-<%= index + 1 %>" data-row-key="<%= index + 1 %>">
              <th class="fr-cell--fixed" scope="row"><%= item[:title] %></th>
              <td class="fr-cell--right">
                <%= format_number(vision_rprog.send(item[:ae_attr])) %>
              </td>
              <td class="fr-cell--right">
                <%= format_number(vision_rprog.send(item[:cp_attr])) %>
              </td>
              <td class="fr-cell--right">
                <%= format_number(vision_cbcm.send(item[:ae_attr])) %>
              </td>
              <td class="fr-cell--right">
                <%= format_number(vision_cbcm.send(item[:cp_attr])) %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<p class="fr-text--bold">Liste des virements/transferts </p>