<div class="fr-container">
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-12">
      <h1 class="fr-my-6w fr-mb-2w ">Remplissage des schémas de fin de gestion</h1>

      <div class="fr-alert fr-alert--info fr-mb-2w">
        <h3 class="fr-alert__title">Le bouton "Rédiger une nouvelle version" vous permet de créer un schéma de fin de gestion ou bien de le mettre à jour tout en gardant un historique des versions antérieures si elles existent.</h3>
      </div>
      <div class="fr-mb-4w">
        <div class="fr-card">
          <div class="fr-card__body">
            <div class="fr-card__content">
              <h3 class="fr-card__title">Il vous
                reste <%= pluralize(@programmes.count - current_user.programmes_with_schemas(@annee_a_afficher), 'proposition', plural: 'propositions') %>
                de contribution au schéma fin de gestion <%= @annee_a_afficher %> à rédiger</h3>
              <div class="fr-card__desc">
                <% @programmes&.each do |programme| %>
                  <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
                    <div class="fr-col-lg-2 fr-col-12">
                      <ul>
                        <li><%= link_to programme_path(programme) do %>Programme n°<%= programme.numero %><% end %></li>
                      </ul>
                    </div>
                    <div class="fr-col-lg-3 fr-col-4">
                      <% if programme.last_schema(@annee_a_afficher).nil? || programme.gestion_schemas_empty? %>
                        <p class="fr-badge fr-badge--warning fr-badge--no-icon">
                          <span class="fr-icon-edit-fill fr-icon--sm" aria-hidden="true"></span> Schema fin de gestion
                        </p>
                      <% elsif programme.last_schema(@annee_a_afficher)&.complete? || programme.last_schema(@annee_a_afficher)&.gestion_schemas_empty? %>
                        <p class="fr-badge fr-badge--info fr-badge--no-icon">
                          Version n°<%= numero_version(programme.last_schema_valid(@annee_a_afficher)) %>
                          du <%= programme.last_schema_valid(@annee_a_afficher).created_at.strftime("%d/%-m/%Y") %>
                        </p>
                      <% elsif programme.last_schema(@annee_a_afficher)&.incomplete? %>
                        <p class="fr-badge fr-badge--new fr-badge--no-icon">Brouillon version
                          n°<%= numero_version(programme.last_schema(@annee_a_afficher)) %></p>
                      <% end %>
                    </div>
                    <div class="fr-col-lg-3 fr-col-4">
                      <% if programme.last_schema(@annee_a_afficher).nil? || programme.last_schema(@annee_a_afficher)&.complete? %>
                        <%= link_to programme_schemas_path(programme.id), data: { 'turbo_method': :post }, class: "fr-btn #{'fr-btn--secondary' if programme.last_schema(@annee_a_afficher)&.complete?}" do %>
                          Rédiger une nouvelle version
                        <% end %>
                      <% else %>
                        <%= link_to new_schema_gestion_schema_path(programme.last_schema(@annee_a_afficher)), class: "fr-btn #{'fr-btn--secondary' if !programme.gestion_schemas_empty? && programme.last_schema(@annee_a_afficher)&.gestion_schemas_empty?}" do %>
                          <%= programme.last_schema(@annee_a_afficher)&.incomplete? ? "Reprendre le
                          brouillon" : "Rédiger une nouvelle version" %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>