<%= turbo_frame_tag :modal, target: "_top" do %>
  <div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-10">
        <div class="fr-modal__body">
          <div class="fr-modal__header">
            <button class="fr-btn--close fr-btn" aria-controls="fr-modal-2">Fermer</button>
          </div>
          <div class="fr-modal__content">
            <h1 id="fr-modal-2-title" class="fr-modal__title">
              <span class="fr-icon-arrow-right-line fr-icon--lg"></span>
              Schéma de fin de gestion du programme n°<%= @schema.programme.numero %>
              <span class="fr-text--italic fr-text--light">(version n°<%= numero_version(@schema) %>
                du <%= l(@schema.updated_at, format: "%e/%m/%y") %>)</span>
            </h1>
            <div class="fr-grid-row fr-grid-row--gutters fr-mb-1w">
              <div class="fr-col-6 fr-col-lg-6">
                <div>
                  <%= link_to schema_path(@schema, format: :xlsx), class: "fr-link fr-link--download" do %>
                    Télécharger le schéma au format XLSX <span class="fr-link__detail">Format .xlsx</span>
                  <% end %>
                </div>
              </div>
              <% if @schema.document_pdf.attached? %>
                <div class="fr-col-6 fr-col-lg-6">
                  <div>
                    <%= link_to @schema.document_pdf.url(disposition: "attachment"), class: "fr-link fr-link--download" do %>
                      Télécharger le schéma au format PDF <span class="fr-link__detail">Format .pdf</span>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="fr-tabs">
              <ul class="fr-tabs__list" role="tablist" aria-label="Schema fin de gestion">
                <% if find_gestion_schema_vision(@gestion_schemas, "RPROG", "HT2") %>
                  <li role="presentation">
                    <button id="tabpanel-404" class="fr-tabs__tab" tabindex="0" role="tab" aria-selected="true" aria-controls="tabpanel-404-panel">
                      HT2
                    </button>
                  </li>
                <% end %>
                <% if find_gestion_schema_vision(@gestion_schemas, "RPROG", "T2") %>
                  <li role="presentation">
                    <button id="tabpanel-405" class="fr-tabs__tab" tabindex="-1" role="tab" aria-selected="false" aria-controls="tabpanel-405-panel">
                      T2
                    </button>
                  </li>
                <% end %>
              </ul>
              <% if find_gestion_schema_vision(@gestion_schemas, "RPROG", "HT2") %>
                <div id="tabpanel-404-panel" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel" aria-labelledby="tabpanel-404" tabindex="0">
                  <%= render partial: 'show_vision', locals: { vision: 'HT2', vision_rprog: find_gestion_schema_vision(@gestion_schemas, "RPROG", "HT2"), vision_cbcm: find_gestion_schema_vision(@gestion_schemas, "CBCM", "HT2") } %>
                </div>
              <% end %>
              <% if find_gestion_schema_vision(@gestion_schemas, "RPROG", "T2") %>
                <div id="tabpanel-405-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-405" tabindex="0">
                  <%= render partial: 'show_vision', locals: { vision: 'T2', vision_rprog: find_gestion_schema_vision(@gestion_schemas, "RPROG", "T2"), vision_cbcm: find_gestion_schema_vision(@gestion_schemas, "CBCM", "T2") } %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>